[2022-10-06 14:54] AnkitaMalik22 opened #625 "[Add a Play]: Text Utils"
Thank You!

## What's the Play about?

Text Utils helps us to manipulate our texts the way we want.

## What ReactJS concept will be used to create this play?

- useState
- useEffect

## Are you willing to take it up for implementation?
yes

[2022-10-06 15:14] Sachin-chaurasiya commented on #625
Hello @AnkitaMalik22 , Welcome to the community.
It would be great if you provide more info about the play.

[2022-10-06 15:50] MajorReact commented on #591
I'd like to handle this. Could you assign this task to me?

[2022-10-06 16:10] AnkitaMalik22 commented on #625
**About Text Utils**

Users can -

- count words in their text
- remove white spaces from text
- remove duplicate lines
- make texts capitalise ,uppercase etc according to them

[2022-10-06 16:49] Susmita-Dey commented on #591
@atapas Will make a PR by tomorrow

[2022-10-06 17:10] muzaffar640 opened #626 "🐛 [Bug report]: The page heading is getting overlapped with the navigation bar on the create-play page."
**Describe the bug**
The page heading is getting overlapped with the navigation bar on the create-play page.

**To Reproduce**
Steps to reproduce the behavior:
1. Up the server locally
2. . Click on '+ Create'
3. Fill in all details and create a play.
4. On the success page, the heading is overlapping with navigation bar.

**Expected behavior**
The page heading should be clearly visible, there sho

[2022-10-06 17:36] atapas commented on #626
Assigned to you!

I am not able to reproduce it, though!

[2022-10-06 17:39] SSK-14 opened #627 "🐛 [Bug report]: Footer linked to nested links"
**Describe the bug**
Footer linked to nested links.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://reactplay.io/'
2. Go to the page footer
3. Footer has nested links one to tech-stacks and home
4. warning in the console

**Expected behavior**
Footer should have one link for the 'Top Notch Tech Stacks' part linking to teck-stacks page.

**Screenshots**
<img width="533" alt="Sc

[2022-10-06 18:08] abhi-works opened #629 "[Add a Play]: Download fetch Response"
Thank You!

## What's the Play about?
Download Fetch API response to a file

## What ReactJS concept will be used to create this play?
UseEffect,UseState,Customhooks

## Are you willing to take it up for implementation?
Yes

[2022-10-07 04:17] hasnainmakada-99 opened #631 "✨ [Feature request]: Add first interaction to greet a new contributor whenever they open a new issue or pull request"
**Is your feature request related to a problem? Please describe.**
We should integrate [first interaction](https://github.com/marketplace/actions/first-interaction) with reactplay so that when new contributors will open a new issue or they are raising pr for the first time, They should be greeted

**Describe the solution you'd like**
Integrate first interaction with reactplay

**Describe alternati

[2022-10-07 04:18] atapas commented on #631
Are you doing it?

[2022-10-07 04:19] hasnainmakada-99 commented on #631
I can do that, but I think we should give other contributors a chance too

[2022-10-07 04:20] atapas commented on #631
That makes sense.. You may want to update the description with the lin to the `first interaction`.

[2022-10-07 04:22] hasnainmakada-99 commented on #631
Means ?

[2022-10-07 04:23] atapas commented on #631
A link of how to do it.

[2022-10-07 05:24] hasnainmakada-99 commented on #631
Ok @atapas sir I'll attach a link on how to it

[2022-10-07 06:22] KORLA2 opened #632 "🐛 [Bug report]: Updated techstack.jsx file"
**Describe the bug**
A clear and concise description of what the bug is.
Imported Techstack info array if it is empty applying map on it gives error
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
I have changed a bit now it works fine
**S

[2022-10-07 07:20] MajorReact commented on #591
Is the session closed to me?

[2022-10-07 07:25] atapas commented on #591
I didn't get that question, @MajorReact. Do you mean if this issue still can be owned by you? That is not likely, as @Susmita-Dey is already on it. You can always find another one!

[2022-10-07 07:46] atapas commented on #632
@KORLA2 Was it giving any issue when you were running the app. I am asking as the tech-stack info is hard-coded and hardly can be empty. But there can be corner cases so I am trying to understand.

[2022-10-07 09:56] riyajath-ahamed opened #636 "Lofi Music Player"
Thank You!

## What's the Play about?
Music player plays lofi music.

## What ReactJS concept will be used to create this play?
React JSX

## Are you willing to take it up for implementation?
Yes

[2022-10-07 12:48] KORLA2 commented on #632
Sorry sir it is not the  issue but I some how want to contribute to this
repo really I haven't understood any thing sir please spare some time and
explain me sir I know react pretty well if you don't mind please assign
some issues sir

On Fri, 7 Oct 2022, 1:16 pm Tapas Adhikary, ***@***.***>
wrote:

[2022-10-07 12:55] Engineervinay commented on #631
Hey, @atapas , @hasnainmakada-99 👋  .  this is my first time participanting in hactoberfest.
Can I work on this?
I will try my best to complete it as soon as possible.

[2022-10-07 12:57] hasnainmakada-99 commented on #631
Yes @Engineervinay go for it

[2022-10-07 13:03] Engineervinay commented on #631
Thanks @hasnainmakada-99  please assign me this issue, and is there any specific message that should be displayed or should I go with this normal greetings?

For issue:

            If this is a bug report, please include relevant logs to help us debug the problem.

For PR:

  If you are fixing a bug, please reference the issue number in the description.
            If you are implementing a featu

[2022-10-07 13:13] hasnainmakada-99 commented on #631
I think it's good to go, What do you say @atapas sir

[2022-10-07 13:38] KORLA2 opened #637 "[Add a Play]: Fancy way of handling promises"
Thank You!

## What's the Play about?
Nothing I've just changed Promises by using async await

## What ReactJS concept will be used to create this play?
Nothing

## Are you willing to take it up for implementation?

[2022-10-07 14:18] Engineervinay commented on #631
Hey @hasnainmakada-99 , @atapas . I have created pull request for this issue. here are some screenshots of tests.
![Screenshot (21)](https://user-images.githubusercontent.com/29520476/194575259-d33cb188-cb68-4f55-ad0e-41f225fa4a1b.png)
![Screenshot (22)](https://user-images.githubusercontent.com/29520476/194575264-d1c3ed0f-a26a-4290-8bdd-c4b24fb0b2b2.png)

[2022-10-07 15:24] abhi-works opened #639 "✨ [Feature request]: Lazy loading of contributor images and play covers"
**Is your feature request related to a problem? Please describe.**
Even though the visitor doesn't scroll all the way to the bottom of the page, all of the contributors' images are loaded at once.
**Describe the solution you'd like**
Implementing lazy loading of contributor images.

**Describe alternatives you've considered**
NA.Lazy loading would suffice for  this minor fix

**Additional context*

[2022-10-08 03:10] #591 closed

[2022-10-08 03:49] #627 closed

[2022-10-08 03:51] atapas commented on #637
It's not a play request.

[2022-10-08 03:51] #637 closed

[2022-10-08 04:53] SSK-14 opened #643 "🐛 [Bug report]: div tag cannot appear as a descendant of p tag"
**Describe the bug**
div tag cannot appear as a descendant of p tag
p tag can only contain inline elements and div tag is a block element.
Putting a div tag inside it is improper.

**To Reproduce**
Steps to reproduce the behaviour:
1. in local development env
2. can see warnings in console.

**Expected behaviour**
Parent elements should be div and inside we can have p tag for texts in ExtendedFoot

[2022-10-08 06:51] #582 closed

[2022-10-08 06:52] AhnafAhamed commented on #582
Abandoned due to technical difficulties

[2022-10-08 06:56] Sachin-chaurasiya commented on #643
@SSK-14 , Assigned to you.

[2022-10-08 07:09] AhnafAhamed opened #645 "[Add a Play]: Image Collector"
Thank You!

## What's the Play about?
Users can collect images in a grid by submitting image URLs

## What ReactJS concept will be used to create this play?
useState, useEffect

## Are you willing to take it up for implementation?
Yes

[2022-10-08 07:28] sarkartanmay393 commented on #564
@atapas I would to like to work on it, if its available.

[2022-10-08 08:35] joshi-kaushal commented on #603
@shrilakshmishastry & @vasantisuthar, if you need a hand with this issue, let me know!

[2022-10-08 09:11] abhi-works commented on #639
Extending this feature to play covers and user avatars as well

[2022-10-08 12:33] #631 closed

[2022-10-08 13:19] #601 closed

[2022-10-08 13:49] Sachin-chaurasiya opened #650 "🐛 [Bug report]: Play header is missing from Text Avatar play"
**Describe the bug**
The play header is missing from the Text Avatar play

**Steps to reproduce the behavior:
https://user-images.githubusercontent.com/59080942/194710767-0614cf46-1dbd-4e81-a471-291f8a61768c.mov

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="1439" alt="

[2022-10-08 13:50] Sachin-chaurasiya commented on #650
Hello @hiimnhan , As you have worked on the play, so can you take care of this issue?

[2022-10-08 13:58] hiimnhan commented on #650
Yeah sure I will fix it

[2022-10-08 14:02] Sachin-chaurasiya commented on #650
Thanks @hiimnhan , Assigned it to you.

[2022-10-08 18:49] brittanyjoiner15 commented on #517
@Programming-School-Pro-Coding want to make sure i understand this issue, and if so i might be able to help! is the goal to add a section that shows tagged posts that are react plays? Or whats the way to differentiate which posts are React Plays?

[2022-10-08 18:54] muzaffar640 opened #652 "✨ [Feature request]: Convert Issue Template into yml"
**Is your feature request related to a problem? Please describe.**
This is an enhancement request of `Issue Template` to convert it from `.md` file to `.yml` file. So user will have a more enhanced experience while raising an issue. Refer to [this](https://github.com/reactplay/react-play/pull/614#issuecomment-1272312914) for more context.

**Describe the solution you'd like**
The user will have an

[2022-10-08 20:53] madox357 opened #653 "🐛 [Bug report]: Page does not load a login option."
**Describe the bug**
A clear and concise description of what the bug is.
I used `npm install --legacy-peer-deps` and reached the landing page. Found a project I liked and clicked create. It just refreshed the page and does not prompt anything else.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'localhost'
2. Click on 'Create'
3. Scroll down to 'page'
4. See blank page

**Expected beha

[2022-10-09 03:52] #643 closed

[2022-10-09 03:58] #639 closed

[2022-10-09 04:35] #571 closed

[2022-10-09 04:38] AnkitaMalik22 commented on #625
I was working on this and someone else's PR got merged ?!

[2022-10-09 04:43] Sachin-chaurasiya commented on #625
@AnkitaMalik22 , No, You can continue.

[2022-10-09 04:54] SSK-14 opened #655 "🐛 [Bug report]: No unique key value for each play in FeaturedPlays"
**Describe the bug**
No unique key value for each play in FeaturedPlays.
Keys help React identify which items have changed, are added, or are removed.

**To Reproduce**
Steps to reproduce the behaviour:
1. in local development env
2. can see warnings in console.

**Expected behaviour**
should have unique key value for each play in FeaturedPlays.

**Screenshots**
<img width="398" alt="Screenshot 20

[2022-10-09 04:58] Sachin-chaurasiya commented on #655
@SSK-14 , Should I assign this to you?

[2022-10-09 04:59] SSK-14 commented on #655
Yes, like to work on this.

[2022-10-09 05:00] Sachin-chaurasiya commented on #655
@SSK-14 , Assigned to you.

[2022-10-09 05:01] Susmita-Dey commented on #625
@AnkitaMalik22 It's a duplicate issue. Check #373

[2022-10-09 05:03] Sachin-chaurasiya commented on #625
Thanks, @Susmita-Dey  for the confirmation.

[2022-10-09 05:07] atapas commented on #625
Are these 2 issues identical in just names or in implementation too? If the intent is different then we can still have both.

[2022-10-09 05:22] koustov opened #658 "✨ [Feature request]: Workflow to update all-contributors list"
**Is your feature request related to a problem? Please describe.**
Currently for each new entry, one has to manually invoke the `all-contributor` bot and update the contributor list. It's not feasible with expanding community.

**Describe the solution you'd like**
The ideal solution would be, to invoke a workflow on every PR merge. This workflow will check if the contributor is already present in

[2022-10-09 05:52] AnkitaMalik22 commented on #625
Okay! I was unaware .

[2022-10-09 05:52] AnkitaMalik22 commented on #625
The implementation is also alike ! It's okay I will try  creating another play

[2022-10-09 05:58] Harshil-Jani commented on #658
Hi ! I would like to create the workflow.

[2022-10-09 07:46] koustov commented on #658
Sure @Harshil-Jani .I have assigned it to you

[2022-10-09 07:53] hiimnhan commented on #650
@Sachin-chaurasiya I don't really know how to fix it, is there any guide for it or I need to add the header to my component?

[2022-10-09 07:57] atapas commented on #650
Please check any of the existing play code. You need to add a header and wrap the body in the div.

[2022-10-09 07:58] koustov commented on #653
Hello @madox357 , it looks like `.env` file issue. Do you have it updated as per [README](https://github.com/reactplay/react-play/blob/main/README.md#%EF%B8%8F-create-a-env-file-at-the-root-of-your-project-folder-with-the-following-content)?

[2022-10-09 07:58] Sachin-chaurasiya commented on #650
@hiimnhan , For reference : https://github.com/reactplay/react-play/blob/main/src/plays/analog-clock/AnalogClock.jsx#L25

[2022-10-09 07:59] hiimnhan commented on #650
got it

[2022-10-09 12:35] Programming-School-Pro-Coding commented on #517
I don't understand you

[2022-10-09 12:36] #517 closed

[2022-10-09 12:54] #650 closed

[2022-10-09 15:16] Gaurav-Verma07 opened #667 "[Add a Play]: Memory game"
Thank You!

## What's the Play about?

A memory game with great UI design implemented in reactJs.

## What ReactJS concept will be used to create this play?
useContextAPI, useState, useReducer

## Are you willing to take it up for implementation?
Yes

[2022-10-09 15:31] bhtibrewal opened #668 "✨ [Feature request]: Add a share button on Typing Speed Play"
**Is your feature request related to a problem? Please describe.**
When i generate my typing speed report i would like to be able to share it with others.

**Describe the solution you'd like**
Add a share/ copy link button on the modal showing my typing speed.

**Describe alternatives you've considered**

**Additional context**
thinking of using the twitter API for this feature.

[2022-10-09 16:02] bhtibrewal commented on #440
@atapas I would like to work on this

[2022-10-09 16:21] atapas commented on #440
Let's do the design first

[2022-10-09 16:22] bhtibrewal opened #669 "✨ [Feature request]: Show Progress Status on Play Ideas Page"
**Is your feature request related to a problem? Please describe.**
I was going through the list of ideas and had decided to work on an idea and when i came to the repository I saw a issue already created with the idea and in progress.

**Describe the solution you'd like**
Show a Complted/ In -progress/ Available tag on all the play ideas card.

**Describe alternatives you've considered**
NA

**Add

[2022-10-09 17:17] harshsinghatz commented on #626
@muzaffar640 Are you still working on it?

[2022-10-09 17:37] muzaffar640 commented on #626
Yes @harshsinghatz , going to issue a PR in a while. I got caught up with other issues.

[2022-10-09 17:41] harshsinghatz commented on #626
Great! was just checking

[2022-10-09 18:57] Harshil-Jani commented on #658
Hi ! I have already Added the PR for the workflow, Can you try it out once ?

[2022-10-09 20:11] arpitghura commented on #593
The issue has been fixed with some other Pull request so I am closing the issue.

[2022-10-09 20:12] #593 closed

[2022-10-10 06:07] NagarjunShroff opened #670 "[Add a Play]: News feed application"
Thank You!

## What's the Play about?

News feed application based on countries.
- Supports different languages.
- Headlines/ detailed news.
- Search news
- Categories

## What ReactJS concept will be used to create this

React hooks: useState, useEffect

## Are you willing to take it up for implementation?

Yes

[2022-10-10 06:24] koustov commented on #670
Assigned to you @NagarjunShroff

[2022-10-10 13:47] #655 closed

[2022-10-10 14:00] #629 closed

[2022-10-10 14:40] Sachin-chaurasiya commented on #668
Hello @bhtibrewal, would you like to work on this issue?

[2022-10-10 14:41] #584 closed

[2022-10-10 14:49] koustov opened #673 "🐛 [Bug report]: Description field in "Create A Play" page should be single line"
**Describe the bug**
Play description being rendered on the play header and a multiline description might interrupt the UI aesthetic.

**Expected behavior**
Play description should be single line field

**Screenshots**
NA

**Desktop (please complete the following information):**
ALL

**Smartphone (please complete the following information):**
ALL

**Additional context**
NA

[2022-10-10 15:02] NagarjunShroff opened #675 "✨ [Feature request]: Adding .env file for dev mode during create-react-play process"
We can create a .env file with the required dev setup details.
Also, we can update .gitignore not to check in this file.

This would be really helpful for any beginner.

[2022-10-10 16:16] Sachin-chaurasiya commented on #668
Sure @bhtibrewal , assigning to you, you can work on this later.

[2022-10-10 16:59] #673 closed

[2022-10-10 19:51] siddxharth commented on #600
Hey, can I work on this too?

[2022-10-11 00:24] tech-doctor opened #677 "🐛 [Bug report]:"
### **Describe the bug**
The Icon links on the header and the footer do not have a visible attribute of  "title".

### **To Reproduce**
Hover on any of the Icons on the header or footer section on the  [reactplay](https://reactplay.io/) website, there is no title that describes what the icon/link represents.

### **Expected behavior**
A text describing the icon (based on the link) is meant to show

[2022-10-11 02:27] Angryman18 commented on #677
@tech-doctor please give the issue a proper title.

[2022-10-11 02:30] Angryman18 commented on #675
didnt quite understand the issue although we need .env file in order to run the app locally. we have it here https://github.com/reactplay/react-play#%EF%B8%8F-create-a-env-file-at-the-root-of-your-project-folder-with-the-following-content

[2022-10-11 02:32] #653 closed

[2022-10-11 05:18] siddxharth commented on #600
Hey @Angryman18, I've made a pull request fixing the bug. Could you please review that?

[2022-10-11 13:46] SSK-14 opened #680 "🐛 [Bug report]: nHost and umami svg not grey colour in tech stacks page"
**Describe the bug**
In tech stacks page nHost and umami svg does not have uniform colour like others.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://reactplay.io/tech-stacks'
2. Can see the colour difference

**Expected behaviour**
**Screenshots**
<img width="253" alt="Screenshot 2022-10-11 at 7 07 12 PM" src="https://user-images.githubusercontent.com/45158568/195107285-f4b

[2022-10-11 13:54] Sachin-chaurasiya commented on #680
@SSK-14 , Assigned to you!

[2022-10-12 05:28] joshi-kaushal opened #683 "🐛 [Bug report]: An alert appears when the website loads"
**Describe the bug**
An alert saying _New Update Available, Click OK to update_ prompts on the screen whenever I open a website with a new session.

**To Reproduce**
Steps to reproduce the behavior:
try opening the website from a different browser or incognito mode

**Expected behavior**
An alert appearing on the screen like below

**Screenshots**
![image](https://user-images.githubusercontent.com

[2022-10-12 07:39] billy-le opened #684 "✨ [Feature request]: clean up code home page with reorganization"
**Is your feature request related to a problem? Please describe.**
Noticed the `Home.jsx` was getting cluttered and need some tender love and care on organization.

**Describe the solution you'd like**
Reorganize code into separate files.

**Describe alternatives you've considered**
Leave it alone?

[2022-10-12 07:44] billy-le opened #685 "🐛 [Bug report]: Infinite Loading UI for Twitters section"
**Describe the bug**
When twitter widget fails to load their script, the cards won't show and the section is stuck in the loading state.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /
2. Once in a blue moon twitter widgets will fail to load
3. Scroll down to Community/Twitter Section
4. See infinite loading state

**Expected behavior**
Show error or hide section

**Screenshots**
![i

[2022-10-12 07:44] billy-le commented on #685
I have a fix for this as well as for #684 in one PR.

[2022-10-12 17:43] Abhighyaa commented on #564
Hey @atapas, I can contribute fixing this. Please let me know, if this still prevails. Thanks.

[2022-10-13 06:57] #680 closed

[2022-10-13 07:59] #600 closed

[2022-10-13 08:21] GodStarLord opened #689 "🐛 [Enhancement]: Add back button in pokemon-stats play search details UI"
**Describe the bug**
User cannot search for new pokemon once search is done. To search for another pokemon, user needs to reload the pokemon-stats play by going into another screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Pokemon-Stats Play
2. Search for any pokemon to get the details
3. Once user searches for the pokemon, there is no back button that takes user to the search s

[2022-10-13 08:22] Abrar0204 opened #690 "[Add a Play]: Multi-select Component"
Thank You!

## What's the Play about?
A Select component that allows the users to choose multiple values.

## What ReactJS concept will be used to create this play?
React hooks ( useState, useEffect )

## Are you willing to take it up for implementation?
Yes

[2022-10-13 08:35] GodStarLord commented on #689
I have created a pull request #646 for this enhancement.

[2022-10-13 08:39] #652 closed

[2022-10-13 08:52] #590 closed

[2022-10-13 12:23] crater90 commented on #463
#692

[2022-10-13 12:28] crater90 commented on #463
#692

[2022-10-13 14:10] Shreyash1601 opened #693 "[Add a Play]:"
### What's the Play about?

**A React component to display the current scorecard of T20 matches and results of previous matches**

A ReactJS component to display live scores and results of T20 matches happening globally

### What ReactJS concept will be used to create this play?

Material UI icons and card rendering

### Are you willing to take it up for implementation?

Yes

### Code of Conduct

[2022-10-13 14:10] Shreyash1601 commented on #693
Please assign this to me

[2022-10-13 14:40] hiimnhan opened #694 "[Add a Play]: Pricing Component"
### What's the Play about?

3 pricing card to compare price

### What ReactJS concept will be used to create this play?

Functional Component

### Are you willing to take it up for implementation?

Yes

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-13 15:05] #694 closed

[2022-10-14 07:01] NagarjunShroff opened #696 "🐛 [Bug report]: Filters - Clear all doesnt take the user back to the original state"
### Descrcibe the bug?

After apply all the filters, clearing them all and re-apply doesn't take the user back to the original state( it doesn't render the complete list of plays)

### Steps to reproduce the bug?

1. Add all the filters Level, Tags, Creator, and Language.
2. Click on apply to see the results.
3. Click on the filter icon and clear all filters and apply.

Another issue: Onclick of f

[2022-10-14 07:54] bhtibrewal opened #697 "✨ [Feature request]: ADD: Alt text for Play cover Image"
### Is your feature request related to a problem? Please describe.

for better SEO and we should add appropriate alt tag based on each play cover image instead of just having having empty string.
https://github.com/reactplay/react-play/blob/1afce9f3bcffd1ae4c7f2a3860e74e86f2cb77ea/src/common/playlists/PlayThumbnail.jsx#L79

### Describe the solution you'd like.

add a field of alt text in the play

[2022-10-14 10:08] bhtibrewal opened #698 "🐛 [Bug report]: Search Bug in the Emojipedia Play"
### Descrcibe the bug?

in the emojipedia search
- if I write a word that results in no emoji found even if I backspace and reach to a query word where i should be shown some emojis but it doesn't until I completely clear the search

### Steps to reproduce the bug?

1. Go to Emojipedia play
2. type some random text in saerch
3. then Backspace
4. You won't see the emojis until you completely clear

[2022-10-14 11:19] #607 closed

[2022-10-14 12:46] Aniketmishra0 commented on #619
Hello Sir,
Can You assign this issue to me?

[2022-10-14 12:47] Aniketmishra0 commented on #698
Hello Sir,
Can You assign this issue to me?

[2022-10-14 15:55] #632 closed

[2022-10-14 15:58] Angryman18 commented on #696
the issue is already there #472
i guess @supminn is working on it

[2022-10-14 15:59] Angryman18 commented on #693
please edit the title with a little more information

[2022-10-14 16:02] Angryman18 commented on #683
this is not a bug. it is the service worker which asks to update the cache whenever it detects content pushed.

[2022-10-14 16:17] nishasen commented on #698
Hello Tapas can you please assign the task to me?

[2022-10-14 16:18] atapas commented on #698
@yung-coder and @Aniketmishra0

Please don't mind assigned to @nishasen, as she asked for it long back on discord. Please look for other issues, I shall assign them.

[2022-10-14 16:20] yung-coder commented on #698
Np, @atapas

[2022-10-14 16:27] yung-coder commented on #492
I would like to work on it 🛠️

[2022-10-14 16:34] NagarjunShroff commented on #439
Hey @atapas, I would also be interested to work on this - I'm also open to working along with @Architsharma7.

[2022-10-14 16:35] atapas commented on #439
I shall assign based on @Architsharma7 response tomorrow.

[2022-10-14 16:37] Architsharma7 commented on #439
Hey @atapas Yes i would like to work on it.

[2022-10-14 20:03] SahilSingh177 commented on #697
I can work on this issue. Assign this to me.

[2022-10-15 05:47] atharvapatil46 opened #702 "[Add a Play]: Note taker"
### What's the Play about?

- One would be able to add, delete and edit the notes.
- They can also search and pin the important notes.

### What ReactJS concept will be used to create this play?

- State management
- User events

### Are you willing to take it up for implementation?

Yes

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-15 08:14] #697 closed

[2022-10-15 09:21] ayusshh19 commented on #702
please assign this issue to me

[2022-10-15 09:30] atapas commented on #702
It's assigned to @atharvapatil46

[2022-10-15 12:15] Shreyash1601 commented on #693
I have edited the title with more details. Please assign me this issue

[2022-10-15 13:06] atapas commented on #693
Assigned

You still need to put the issue title

[2022-10-15 13:47] Hat52 opened #703 "🐛 [Design Fix]: The line under the text hide the text"
### Descrcibe the bug?

The underlined line hides the text  as you can see it in the attached screen shot
![image](https://user-images.githubusercontent.com/44437268/195989739-25920c18-3e02-40eb-83c0-c1ff07cd5cc4.png)

### Steps to reproduce the bug?

Go on to the home page of the reactpaly.io and scroll down to the What our community says section

### Expected behavior

The underline should be be

[2022-10-15 13:49] Hat52 commented on #703
If you think this issue should be worked on then I would like to work on it as I have already implemented the expected behavior described above :)

[2022-10-15 15:39] nishasen commented on #698
I have fixed the issue and raised a PR for the same #704

[2022-10-15 15:45] nishasen opened #705 "🐛 [Bug report]: Search plays on typing text instead of hitting enter all the time"
### Descrcibe the bug?

When we search any play from the search bar we have to hit enter all the time, whereas it should search whenever the search text changes.

### Steps to reproduce the bug?

1. Go to search for a play on the top navigation bar.
2. On typing something you always have to press enter to make a search

### Expected behavior

The expected behavior of the search bar should be to pr

[2022-10-15 15:58] nishasen commented on #705
@atapas I would like to take this up and fix the issue

[2022-10-16 02:16] atapas commented on #705
We have this to minimize the backend calls. What's your suggestions to fix it?

[2022-10-16 09:41] saurav-19 opened #708 "[Add a Play]: To Do List"
### What's the Play about?

- User can create a todo list
- User can also cross off the todo list
- They will also have the option to clear all the done tasks

### What ReactJS concept will be used to create this play?

- Handling User Events
- Managing State
- Type safety using TS

### Are you willing to take it up for implementation?

Yes

### Code of Conduct

- [X] I agree to follow this projec

[2022-10-16 12:33] senali-d opened #710 "[Add a Play]: Quiz App (Flash Card)"
### What's the Play about?

Build a React application for a quiz play. The quiz should have multiple questions and multiple answers.

### What ReactJS concept will be used to create this play?

React hooks (useState, useEffect etc)

### Are you willing to take it up for implementation?

Yes

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-16 16:13] bhtibrewal opened #711 "🐛 [Bug report]: Fix Image stretch in Social Card Play"
### Descrcibe the bug?

<img width="303" alt="Screenshot 2022-10-16 at 9 22 58 PM" src="https://user-images.githubusercontent.com/42600164/196045736-93480b53-360d-4481-af99-e8160d1f2476.png">

### Steps to reproduce the bug?

just add a image with aspect-ration not equal to 1

### Expected behavior

<img width="303" alt="Screenshot 2022-10-16 at 9 35 14 PM" src="https://user-images.githubuserconte

[2022-10-16 16:41] zulalnb opened #713 "🐛 [Design Fix]: Page is not working without refreshing page after resized browser window when hamburger menu is open"
### Descrcibe the bug?

Any page is not working without refreshing the page after resized browser window to greater than 768px when hamburger menu is expanded.

### Steps to reproduce the bug?

1. Resize browser window less than 768px on desktop.
2. Click on hamburger menu
3. Resize browser window greater than 768px.
4. The page breaks

### Expected behavior

Hide expanded hamburger menu after res

[2022-10-16 17:49] nishasen commented on #705
We can use debounce for minimizing the backend call
According to recent situation there is only one backend call that is whenever we hit enter
If we use debounce we can set a delay so the backend calls will happen only after a certain delay
What do you suggest in this?

[2022-10-16 17:50] nishasen commented on #705
Doing it the way @siddxharth is doing will cause a lot of backend calls

[2022-10-16 18:01] siddxharth commented on #705
Can we put a timeout on it then? After x micro-seconds of receiving the last input, the search will play?

[2022-10-16 18:05] nishasen commented on #705
Actually this is were debounce comes into play, it puts a timer on calling the api only on certain intervals when we start typing

[2022-10-16 18:07] siddxharth commented on #705
Okay, will give it a try. Can you assign me this?

[2022-10-16 18:11] nishasen commented on #705
Hey I cant assign as I am not the owner of the repo, I think I have the solution though let @atapas confirm, if this could be a way.

[2022-10-17 07:08] Abrar0204 commented on #690
Please assign this issue to me.

[2022-10-17 07:09] #586 closed

[2022-10-17 07:24] zulalnb commented on #713
I fixed the issue and ready to create pull request. please assign to me

[2022-10-17 07:44] atapas commented on #439
@Architsharma7 I saw @NagarjunShroff got started with it. Would you please contact him(on discord) and see you both can work on it?

[2022-10-17 07:54] Architsharma7 commented on #439
Okay I'll contact him if he shares his discord

[2022-10-17 07:58] NagarjunShroff commented on #439
here is my disord Nagarjun Shroff#0175

[2022-10-17 15:10] ammaaraslam opened #717 "ReactGradients V.2"
### Is your feature request related to a problem? Please describe.

Currently the ReactGradients play uses a basic json file to store all the gradients data. I have created a separate server with NodeJS that utilizes a Firebase Firestore DB to store gradients data.
After including this, a UI for adding gradients from the play itself also will be possible.

### Describe the solution you'd like.

Ch

[2022-10-18 07:24] nishasen opened #719 "🐛 [Bug report]: Handling the error on Emojipedia play"
### Descrcibe the bug?

Whenever the api is not able to fetch the emojis data the page is breaking.
![image](https://user-images.githubusercontent.com/43262505/196360940-6cfd80e9-390f-4340-91eb-fa3714361d9a.png)

### Steps to reproduce the bug?

1. Clone reactplay locally
2. Set the env variables
3. And then when you run the app using npm start, the page of emojiPedia breaks
5. To run it in your l

[2022-10-18 07:25] nishasen commented on #719
@atapas Can you please assign me to this task

[2022-10-18 07:38] nishasen opened #720 "[Add a Play]: Play with different cards which can be customised"
### What's the Play about?

Create different card designs with images, description, some buttons, which can be customised.

### What ReactJS concept will be used to create this play?

useState, flex, grid, positioning

### Are you willing to take it up for implementation?

Yes

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-18 07:40] aks318 opened #721 "[Add a Play]: Image Compressor"
### What's the Play about?

App, where user will upload large image size and it will compress it down to small size.

### What ReactJS concept will be used to create this play?

JSX, UseState, UseEffect
For compression I will going to use `browser-image-compression` npm package.

### Are you willing to take it up for implementation?

Yes

### Code of Conduct

- [X] I agree to follow this project's

[2022-10-18 07:54] #698 closed

[2022-10-18 09:09] KMohZaid opened #724 "[Add a Play]: Play Fair Cipher"
### What's the Play about?

- User can ecrypt plain text
- Also can decrypt it

### What ReactJS concept will be used to create this play?

- User events
- State management
- Typescript

### Are you willing to take it up for implementation?

Yes

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-18 13:52] #683 closed

[2022-10-18 15:39] yashpaddalwar1234 opened #727 "[Add a Play]: Calculator app"
### What's the Play about?

- This is a calculator app play which would be able to perform basic arithmetic operations

### What ReactJS concept will be used to create this play?

- State mangement
- Event handling

### Are you willing to take it up for implementation?

Yes

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-18 18:04] #580 closed

[2022-10-18 19:24] bhtibrewal opened #729 "[Add a Play]: P5js Sierpinski Triangle"
### What's the Play about?

A project to work with the p5js library, and create a Sierpinski Triangle using recursion

Dependencies: reactjs, react-p5, typescript

![image](https://user-images.githubusercontent.com/42600164/196524485-41c1fb84-29c4-4aed-880b-a5efac07ec58.png)

### What ReactJS concept will be used to create this play?

components, recursion

### Are you willing to take it up for im

[2022-10-19 08:54] KMohZaid commented on #724
PR : #732

[2022-10-19 09:07] kd100100 opened #733 "🐛 [Bug report]: Images missing alt property"
### Descrcibe the bug?

Few images are missing alt properties in the project.

### Steps to reproduce the bug?

Files in which alt props are missing:
- src/plays/personal-profile-card/components/profile-form.tsx [Line 34]
- src/plays/personal-profile-card/components/profile-form.tsx [Line 54]
- src/common/activities/hackathon/HackathonBanner.jsx [Line 21]
- src/common/activities/hackathon/Hackatho

[2022-10-19 09:08] kd100100 commented on #733
I would like to contribute to this issue.

[2022-10-19 11:30] kd100100 opened #735 "🐛 [Bug report]: Unused Imports and states"
### Descrcibe the bug?

There are 2 unused imports and 1 unused state found in the project.

### Steps to reproduce the bug?

Files in which unused imports are found:

- src/common/activities/hackathon/HackathonBanner.jsx [Line 1]
- src/common/activities/hackathon/HackathonBanner.jsx [Line 2]
- src/common/home/Home.jsx [Line 19]

### Expected behavior

Importing and using only what is required imp

[2022-10-19 11:31] kd100100 commented on #735
I would like to contribute to this issue.

[2022-10-19 12:10] kd100100 opened #737 "🐛 [Bug report]: Error in CSS file"
### Descrcibe the bug?

Media query styles are not being applied for mobile view in the `/plays` page. There is a small bracket error in the `playlist.css` file

### Steps to reproduce the bug?

1. Go to `src/common/playlists/playlist.css`.
2. Add `background-color: aqua` after line 189.
3. Go to `http://localhost:3000/plays`.
4. If you reduce with to be within 320px to 480px, the background color

[2022-10-19 18:05] #658 closed

[2022-10-19 20:35] Yordaniss commented on #675
I saw that .env files are already in .gitignore. Perhaps it would be heplful if there will be .env.example file in project with data, that beginners could just rename and that's should be enough to get started.

If so i could take this issue.

[2022-10-20 03:23] #668 closed

[2022-10-20 05:13] Hat52 opened #740 "[Add a Play]: Get Motivated"
### What's the Play about?

This play will contain the motivation quotes from different peoples from different walk of life.

### What ReactJS concept will be used to create this play?

- State management
- Event handling
- Searching

### Are you willing to take it up for implementation?

Yes

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-20 05:55] SardarShubham commented on #740
Please assign this issue to me.

[2022-10-20 08:05] #737 closed

[2022-10-20 08:07] #733 closed

[2022-10-20 08:46] frankiefab100 commented on #375
Seems this issue has been resolved @Angryman18

[2022-10-20 09:27] #583 closed

[2022-10-20 12:13] #670 closed

[2022-10-20 18:27] #719 closed

[2022-10-20 18:32] #713 closed

[2022-10-20 18:45] #690 closed

[2022-10-20 19:26] kd100100 opened #741 "🐛 [Bug report]: Glitch in homepage navigation bar"
### Descrcibe the bug?

In the homepage, while clicking on the heart icon in the navigation bar, the navigation bar moves right.

### Steps to reproduce the bug?

1. Go to `http://localhost:3000` or `https://reactplay.io/` on laptop/desktop browser.
2. Click on `heart icon` on the top right.
3. You will find that navigation bar is moving to the right.

### Expected behavior

Navigation bar shouldn

[2022-10-20 19:28] kd100100 commented on #741
I would like to contribute to this issue.

[2022-10-21 04:36] Sachin-chaurasiya commented on #741
@kd100100 , Can you attach the screenshot or recordings?

[2022-10-21 05:30] Hat52 commented on #740
I have already create this play and I will create a pr in a bit. You can find other issue to contribute to :)

[2022-10-21 06:25] kd100100 commented on #741
[nav-error-recording.webm](https://user-images.githubusercontent.com/64349912/197127199-dfbb2269-e737-4659-ada2-e682181065c1.webm)

[2022-10-21 08:12] kd100100 opened #746 "[Add a Play]: Savings Calculator"
### What's the Play about?

This is a simple savings calculator where one can enter starting balance, monthly contribution, period/tenure and annual interest rate to get the end balance after the period/tenure.

### What ReactJS concept will be used to create this play?

- Event Handling
- Unit Tests
- SCSS integration

### Are you willing to take it up for implementation?

Yes

### Code of Conduc

[2022-10-21 08:13] kd100100 commented on #746
I would like to contribute to this play.

[2022-10-21 11:08] Hat52 opened #747 "🐛 [Bug report]: Making the language logo colorfull on hover"
### Descrcibe the bug?

Currently when we hover on the trending play the language logo is not colored to be more visible.
![Uploading image.png…]()

### Steps to reproduce the bug?

Go to the home page of reactplay.io scroll down to the treading plays section and then hover on any one of the play you will notice that the play card's size increased but the language icon remains the same.

### Expec

[2022-10-21 15:26] kd100100 opened #749 "🐛 [Bug report]: Non-functioning imports and states in plays"
### Descrcibe the bug?

There are few non-functioning imports and states found in the plays.

### Steps to reproduce the bug?

Files in which unused imports are found:

- src/plays/download-fetch-response/DownloadFetchResponse.jsx [Line 2]
- src/plays/typing-speed-test/components/ResultModal.js [Line 2]
- src/plays/pokemon-stats/components/Search.tsx [Line 8]
- src/plays/image-gallery/Gallery.js [

[2022-10-21 15:40] samvardhan777 opened #751 "🐛 [Bug report]: Essential Folder missing in gitignore file"
### Descrcibe the bug?

When vscode  workspace settings is changed, .vscode folder is  added to the git staging area.
In the .gitignore, the folder is not added

**Contributors might commit by mistake.**

### Steps to reproduce the bug?

1. Go to `.gitignore` file
2. `.vscode` is not found

### Expected behavior

.vscode should be in the .gitignore file

### Desktop (Please provide your system inf

[2022-10-22 07:29] SardarShubham commented on #747
I want to contribute to this issue.

[2022-10-22 07:59] Hat52 commented on #747
@SardarShubham I am working on this one you can find another one :)

[2022-10-23 10:20] joshi-kaushal opened #754 "[Add a Play]: Shopping Cart using useReducer"
### What's the Play about?

The play demonstrates the `useReducer` hook with an example of a shopping cart.

### What ReactJS concept will be used to create this play?

Mainly the `useReducer` hook.

[Here](https://clumsyprojects.netlify.app/cart) is the base version of what I have planned.

### Are you willing to take it up for implementation?

Yes

### Code of Conduct

- [X] I agree to follow th

[2022-10-23 12:41] Hat52 commented on #747
@Sachin-chaurasiya  @atapas can I get a colorful logo of ts and js that I can use.

[2022-10-23 13:38] Sachin-chaurasiya commented on #747
@Hat52 , Can you create the colourful logo from existing js and ts logos?

[2022-10-23 15:13] Hat52 commented on #747
@Sachin-chaurasiya okay I will try.

[2022-10-23 15:33] SardarShubham commented on #747
@Hat52 I know how to edit svgs, if you're couldn't find a way....i can still go ahead with this task.

[2022-10-23 16:01] Hat52 commented on #747
@Sachin-chaurasiya I can manage :)

[2022-10-24 05:27] ammaaraslam commented on #675
Great suggestion @NagarjunShroff!
Gonna implement it 🚀

[2022-10-25 04:03] Hat52 opened #757 "🐛 [Bug report]: Change the color of header icons on hover."
### Descrcibe the bug?

When we hover on the header icon the color of the icon remains the same.
![image](https://user-images.githubusercontent.com/44437268/197679577-ea444445-1d18-458f-bf10-9a4a1175e576.png)

### Steps to reproduce the bug?

Go to reactPlay and hover on any icon in the header

### Expected behavior

When we hover on the icon of the headers the color should change.

### Desktop (P

[2022-10-25 06:55] trishnakalita660 opened #758 "🐛 [Bug report]: Duplicate code in various files."
### Descrcibe the bug?

Cleaning duplicate code in few .scss , .css files, imports and empty blocks.

### Steps to reproduce the bug?

Go to the following files:

1. src/common/home/home.css
2. src/common/playcreated/play-created.scss
3. src/plays/calendar/Calendar.scss
4. src/plays/fun-quiz/QuizScreen.scss
5. src/plays/navbar/NavBar.css
6. src/common/header/HeaderNav.jsx
7. src/common/header/head

[2022-10-25 06:57] trishnakalita660 commented on #758
@atapas I would like to take this up and clean up the code.

[2022-10-25 11:33] yung-coder opened #760 "🐛 [Bug report]: New plays lack responsiveness"
### Descrcibe the bug?

Some of  the new plays lacks  responsiveness   (Download Fetch Response , MultiSelect Component)

### Steps to reproduce the bug?

Go to browse.
Go to the mentioned plays in mobile device.

### Expected behavior

All plays should be responsive in all devices

### Desktop (Please provide your system information)

    OS: Ubuntu
    Browser: Firefox
    Version: latest

### M

[2022-10-27 03:32] #675 closed

[2022-10-27 03:48] #751 closed

[2022-10-27 03:55] #703 closed

[2022-10-27 08:58] ammaaraslam opened #763 "✨ [Feature request]: Configure repository with Gitpod"
### Is your feature request related to a problem? Please describe.

Contributors can easily setup the project in Gitpod with little to no config.

### Describe the solution you'd like.

This feature would include the addition of a **Open in Gitpod** button to the `README.md` that opens up the repository in Gitpod.io and a gitpod config script that automates the setup of the project in Gitpod. _(th

[2022-10-27 10:03] Sachin-chaurasiya commented on #763
This would be great @ammaaraslam 🚀

[2022-10-27 13:20] #763 closed

[2022-10-27 16:14] bhaveek424 opened #765 "[Add a Play]: A Drawing Board made with React + TypeScritpt + Redux"
### What's the Play about?

It's a drawing board having a Windows XP style nostalgic UI with:
- Color Pallete: choose different colors from
- Undo/Redo buttons
- Export buttons to save the drawing

### What ReactJS concept will be used to create this play?

React + TypeScript with Redux and later upgrade to Redux Toolkit

### Are you willing to take it up for implementation?

Yes

### Code of Cond

[2022-10-28 03:16] #740 closed

[2022-10-28 06:07] GodStarLord commented on #689
@atapas please do the code review for the #646 PR

[2022-10-28 06:58] Deepak8717 opened #766 "[Add a Play]: Backtesting stimulator"
### What's the Play about?

Backtesting is a method to test the stock trading strategy based on historical data.

Backtesting stimulator is a frontend form to add various options to add to your basket/leg.

This is one of the interview assignments I was given by one of the growing startups in backtesting in India I personally enjoyed this challenge and hence I am sharing as this is a lot more exci

[2022-10-28 07:07] #689 closed

[2022-10-28 16:01] bhtibrewal commented on #765
hey @bhaveek424 I would like to collaborate on this play if you are interested

[2022-10-29 03:34] #747 closed

[2022-10-29 05:37] #729 closed

[2022-10-29 05:40] #599 closed

[2022-10-29 06:32] Sachin-chaurasiya opened #770 "✨ [Feature request]: Close Stale Issues and PRs"
### Is your feature request related to a problem? Please describe.

Warns and then closes issues and PRs that have had no activity for a specified amount of time.

### Describe the solution you'd like.

- Add a label "Stale" on issues and pull requests after 60 days of inactivity and comment on them
- Close the stale issues and pull requests after 7 days of inactivity
- If an update/comment occurs

[2022-10-29 12:09] #577 closed

[2022-10-30 03:23] #760 closed

[2022-10-30 06:37] #746 closed

[2022-10-30 06:44] #758 closed

[2022-10-30 15:26] #770 closed

[2022-10-30 15:28] #757 closed

[2022-10-30 16:00] #550 closed

[2022-10-31 04:38] #749 closed

[2022-10-31 08:46] #24 closed

[2022-10-31 08:46] #472 closed

[2022-10-31 09:53] supminn opened #773 "✨ [Feature request]: Add the capability to search a creator in filters"
### Is your feature request related to a problem? Please describe.

Among the filters, we have the option to choose 1 or more `creators`. Although this list is sorted alphabetically, we might want to add the ability to search a particular name. for

### Describe the solution you'd like.

Add a search bar that will filter `creator` names based on the input text.

### Describe alternatives you've co

[2022-10-31 10:33] Hat52 opened #774 "✨ [Feature request]: Add support for cover.jpeg and cover.jpg"
### Is your feature request related to a problem? Please describe.

yes, Right now when we try to set the preview image of a play. The cover image must have the .png extension otherwise the preview will not show.

### Describe the solution you'd like.

I would like to implement a feature that is smart enough to detect which cover file is present in the play and set it as preview of the play.

###

[2022-10-31 11:03] atapas commented on #774
How to want to plan the implementation? Interesting idea!

[2022-10-31 12:30] bhaveek424 opened #775 "🐛 [Bug report]: *js/*ts files are not being generated upon creation of a play"
### Descrcibe the bug?

After running the command `npx create-react-play -c <my unique play code>`, only a directory is created and it doesn't contain any files. I've tried it by selecting both javascript and typescript at the time of add a play, but none seems to generate their respective files.

### Steps to reproduce the bug?

1. After selecting the play and getting the `npx ....` command, run

[2022-10-31 12:36] atapas commented on #775
The same is reproducible on Mac too.

[2022-10-31 13:19] Hat52 commented on #774
@atapas I am open to suggestion. Right now I don't have much of idea.

[2022-10-31 13:48] #645 closed

[2022-11-01 09:05] aakash-3 opened #776 "Infinite scrolling"
### What's the Play about?

An app, where user will scroll through the posts. on scrolling when user sees the last post, play will add more 20 posts to list.

### What ReactJS concept will be used to create this play?

Hooks ,  Props, Async-await, IntersectionObserver

### Are you willing to take it up for implementation?

Yes

### Code of Conduct

- [X] I agree to follow this project's Code of Co

[2022-11-01 09:13] #776 closed

[2022-11-01 09:20] aks318 opened #777 "Infinite scrolling"
### What's the Play about?

An app, where user will scroll through the posts. on scrolling when user sees the last post, play will add more 20 posts to list.

### What ReactJS concept will be used to create this play?

Hooks , Props, Async-await, IntersectionObserver

### Are you willing to take it up for implementation?

Yes

### Code of Conduct

- [X] I agree to follow this project's Code of Con

[2022-11-02 06:22] #721 closed

[2022-11-04 10:11] aks318 commented on #777
@atapas Please assign me this issue

[2022-11-06 09:12] koustov opened #781 "✨ [Feature request]: Support badges for Hack-R-Play 2022"
### Is your feature request related to a problem? Please describe.

NO

### Describe the solution you'd like.

- Create a separate space for user badges
- Provide mechanism to see the badge list
- Provide mechanism to share badge on social media
- Show badge details

Note: DB schema and permission has already been updated

### Describe alternatives you've considered.

NA

### Screenshot / Screensh

[2022-11-07 14:07] obinneji commented on #615
Good day sir. The major issue I'm having is styling but I will do it this
Week
L

On Sat, Nov 5, 2022, 1:28 PM github-actions[bot] ***@***.***>
wrote:

[2022-11-09 13:38] atapas opened #783 "🐛 [Bug report]: The main build fails when snap is enabled"
### Descrcibe the bug?

With a recent play got merged, the main build fails when the snap is enabled.

Here os the error:

<img width="1096" alt="image" src="https://user-images.githubusercontent.com/3633137/200844053-66122107-a9a4-454b-9978-2db876b98063.png">

The build works if the snap is disabled but we can not disable it as we will lose the meta information on plays and the image will not be

[2022-11-09 13:40] atapas commented on #783
@Sachin-chaurasiya tagging you here.

@nirban256 this fails after including the web3 play. Could you please check if you can help with any clue or fix it?

[2022-11-09 13:51] nirban256 commented on #783
@atapas checking it

[2022-11-09 13:52] #710 closed

[2022-11-09 13:56] atapas opened #784 "🐛 [Bug report]: The Contributor Readme is not updated"
### Descrcibe the bug?

We used to update the contributor readme manually by all-contributor bot after a successful contribution. In October that process wen through some block and the contributor list is not updatted.

### Steps to reproduce the bug?

Go to react-play read me and scroll down to the contributor list
The contributors doesn't match with actual contributors.

### Expected behavior

A

[2022-11-09 14:32] #724 closed

[2022-11-10 05:04] atapas commented on #783
@nirban256 I think I am getting a bit hang to it now.

This seems to be an issue of passing something undefined and ether js is throwing this error due to that. Please refer: https://github.com/ethers-io/ethers.js/issues/1234

As the snap actually crawls through the pages, it must have passed some undefined value to ether and resulted this error. Please see if this gives you any clue to fix in any

[2022-11-10 05:52] ammaaraslam opened #785 "🐛 [Bug report]: Master build fails due to new TypeScript methods being used"
### Descrcibe the bug?

With the merge of PR #732, the master build fails due to a new TypeScript method that has been used in that PR which is not yet supported by the `react-play` configuration.

![error-msg](https://media.discordapp.net/attachments/983221881723301899/1040133891392016435/image.png?width=960&height=184)

### Steps to reproduce the bug?

- Clone/Fork the repo.
- Pull the latest ch

[2022-11-10 12:28] GouravSingh2580 opened #787 "🐛 [Bug report]: Unknown command: "create-play" , "create-react-play"."
### Descrcibe the bug?

Not working on my mac m1

### Steps to reproduce the bug?

Just the start is not working.

### Expected behavior

Should install it.

### Desktop (Please provide your system information)

mac m1
chrome
updated latest

### Mobile (Please provide your device information)

_No response_

### Screenshot / Screenshare

_No response_

### Relevant log output

_No response_

### C

[2022-11-10 13:02] atapas commented on #787
What's the command you used?

[2022-11-11 01:17] abhi886 opened #788 "[Add a Play]: React Multistep Form"
### What's the Play about?

A simple multistep form that can be used in any of your projects.

### What ReactJS concept will be used to create this play?

Hook, Custom Hook, TypeScript, Form Handling, Conditional Rendering, State and Lifecycle, JSX, React Ref's.

### Are you willing to take it up for implementation?

Yes

### Code of Conduct

- [x] I agree to follow this project's Code of Conduct

[2022-11-11 09:51] atapas commented on #783
So what's the fix?

We use react-snap t pre-render the ReactPlay web app. The react-snap uses a headless Chrome to call all available links in the app. In our case, each of the play links will it's to its main component. As the main component loads by the crawler, this component's default `useEffect` (src/plays/web3-staking-dapp/Web3StakingDapp.js) runs.

[code]

The code in the `onload` method us

[2022-11-11 14:35] Angryman18 opened #790 "🐛 [Bug report]: On each mount there is 3 api calls. better we cache these data instead of making calls"
### Descrcibe the bug?

actually not a bug but more like a feature. we are curerntly making call when our filter modal mounts each times and the apis are retuning same data everytime. better we only call these apis only on first mount and cache them internally so that next time when it mounts it wont make any call again and again.

### Steps to reproduce the bug?

we need to create a caching techn

[2022-11-11 14:36] Angryman18 commented on #790
if anyone wants can pick it up

[2022-11-11 14:36] atapas commented on #790
@supminn want to take a look?

[2022-11-11 15:21] supminn commented on #790
Sure, I'd like to take it up!

[2022-11-12 18:14] #785 closed

[2022-11-13 04:46] #717 closed

[2022-11-14 06:04] atapas commented on #626
Its done

[2022-11-14 06:12] atapas opened #791 "✨ [Feature request]: Ability to Get the "Only" the published plays"
### Is your feature request related to a problem? Please describe.

When we query for plays, it fetches plays that are published plus the ones WIP. We do not have a clear differentiator, causing multiple issues.

Provide a clear way to fetch:

- All plays that are published(So that we can build analytics on top)
- All plays that are WIP(So that we can determine stale and keep the DB clean in futur

[2022-11-14 06:22] atapas opened #792 "✨ [Feature request]: Migrate Umami Analytics data from Heroku to Nhost"
### Is your feature request related to a problem? Please describe.

Heroku is not the long-term solution for the analytics data. Migrate it to Nhost.

### Describe the solution you'd like.

Create a database in Nhost and migrate the data.

### Describe alternatives you've considered.

None

### Screenshot / Screenshare

_No response_

### Additional context

_No response_

### Code of Conduct

- [

[2022-11-14 11:02] senali-d commented on #242
@atapas I love to work on this

[2022-11-15 12:45] bhaveek424 commented on #765
Sure @bhtibrewal

[2022-11-18 02:51] #777 closed

[2022-11-18 03:02] atapas commented on #784
@all-contributors please add @Harshil-Jani @tech-doctor @ankitk26 @NagarjunShroff @zulalnb @Abrar0204 @samvardhan777 @GodStarLord @trishnakalita660 @KMohZaid for Code

[2022-11-18 03:06] atapas commented on #784
@all-contributors
please add @tech-doctor for Code.
please add @ankitk26 for Code.
please add @NagarjunShroff for Code.
please add @zulalnb for Code.
please add @Abrar0204 for Code.
please add @samvardhan777 for Code.
please add @GodStarLord for Code.
please add @trishnakalita660 for Code.
please add @KMohZaid for Code.

[2022-11-18 03:09] atapas commented on #784
@all-contributors please add @ankitk26 for Code

[2022-11-18 04:59] senali-d opened #803 "[Add a Play]: Code Snippets"
### What's the Play about?

A collection of code snippets which allows you to copy paste your code snippet and lets you to download it as an image to share!

### What ReactJS concept will be used to create this play?

React hooks (useState, useEffect etc)

### Are you willing to take it up for implementation?

Yes

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-11-18 11:54] maddy020 commented on #374
Can I work on this issue?

[2022-11-18 12:31] supminn commented on #696
This issue has been fixed. Thus, it can be marked closed.

[2022-11-18 15:17] yung-coder commented on #492
Hey @atapas i will continue the work for the issue form tomorrow sorry for the delay i was just busy with my college exams..!

[2022-11-22 14:38] Angryman18 opened #807 "[Add a Play]: Dummy Issue to test create play flow"
### What's the Play about?

this is a dummy issue

### What ReactJS concept will be used to create this play?

this is a dummy issue

### Are you willing to take it up for implementation?

Yes

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-11-23 11:52] jainPrajwal commented on #191
Hey @atapas , its the first time I am contributing.. would love to take up this task!
Do let me know. Thanks..!

[2022-11-23 16:46] Angryman18 opened #808 "🐛 [Bug report]: Edit Play Fix"
### Descrcibe the bug?

edit play broken fix

### Steps to reproduce the bug?

edit play broken fix

### Expected behavior

it should have worked fine

### Desktop (Please provide your system information)

edit play broken fix

### Mobile (Please provide your device information)

_No response_

### Screenshot / Screenshare

_No response_

### Relevant log output

_No response_

### Code of Conduct

[2022-11-23 16:53] #808 closed

[2022-11-24 04:57] senali-d opened #810 "🐛 [Bug report]:"
### Descrcibe the bug?

Play was not created. When use '-' characters

### Steps to reproduce the bug?

1. Go to create play
2. fill the form and submit (Use '-' character in play name)
3. Follow the relevant steps

### Expected behavior

Create play in the plays page.

### Desktop (Please provide your system information)

Chrome

### Mobile (Please provide your device information)

_No response_

[2022-11-24 16:28] senali-d commented on #810
This bug can be correct with the new edit play feature

[2022-11-24 16:28] #810 closed

[2022-11-26 06:56] Sachin-chaurasiya opened #813 "✨ [Feature request]: Code cleanup `Common` folder"
### Is your feature request related to a problem? Please describe.

Fix the eslint and formatting issue for common folder file formatting.

### Describe the solution you'd like.

Fix the eslint and formatting issue for common folder file formatting.

### Describe alternatives you've considered.

.

### Screenshot / Screenshare

_No response_

### Additional context

_No response_

### Code of Cond

[2022-11-26 06:58] Sachin-chaurasiya opened #814 "✨ [Feature request]: Code cleanup `Plays` folder"
### Is your feature request related to a problem? Please describe.

Fix the eslint and formatting issue for the `plays` folder file formatting.

### Describe the solution you'd like.

Fix the eslint and formatting issue for the `plays` folder file formatting.

### Describe alternatives you've considered.

.

### Screenshot / Screenshare

_No response_

### Additional context

_No response_

### Co

[2022-11-26 06:58] supminn commented on #813
Hi @Sachin-chaurasiya
I would like to take it up. Could you assign this issue to me?

[2022-11-26 07:01] Sachin-chaurasiya commented on #814
@atapas @koustov @Angryman18 @Shivam-Katare, Please comment on this issue with play names that you guys will be working on.

[2022-11-26 07:03] Sachin-chaurasiya commented on #813
Assigned to you @supminn.

[2022-11-26 13:53] koustov opened #816 "🐛 [Bug report]: Update create play doc for @latest tag"
### Descrcibe the bug?

In a few cases npx continue to use an old version of create-react-play if it's already installed globally. In such a scenario, one needs to use the tag for the package. Update this information in all related places

### Steps to reproduce the bug?

NA

### Expected behavior

NA

### Desktop (Please provide your system information)

NA

### Mobile (Please provide your device

[2022-11-26 14:47] yung-coder commented on #813
hey @Sachin-chaurasiya i would also like to work on this issue....?

[2022-11-26 14:48] Sachin-chaurasiya commented on #813
@yung-coder , You can collaborate with @supminn for the same.

[2022-11-26 14:54] supminn commented on #813
Hi @yung-coder I have fixed the issues and raised the PR.
I suggest you to check out `plays` folder. They still have a lot of errors pending.

[2022-11-26 15:06] yung-coder commented on #813
@Sachin-chaurasiya  can i work on plays folder .....?

[2022-11-26 15:13] Sachin-chaurasiya commented on #813
Yes , you can, but please mention the play in the ticket that you will be working on.

[2022-11-26 18:56] yung-coder commented on #814
hey @Sachin-chaurasiya  i  would  also like to work on Plays folder i will start with  MultiselectComponent play.

[2022-11-28 05:32] surajgjadhav opened #818 "🐛 [Bug report]: Select Creator option from filter form is not displaying All after selecting All option from dropdown"
### Descrcibe the bug?

Select Creator option from filter form is not displaying **All** after selecting **All** option from drop down list. But, ideally it should show the **ALL** option after selecting it.

### Steps to reproduce the bug?

1. Go to reactplay.io
2. Select Browse Option on home page
3. Click on Filter Icon
4. under Creator option Select ALL

### Expected behavior

It should show A

[2022-11-28 06:02] atapas commented on #818
@supminn Want to check it out?

[2022-11-28 06:03] surajgjadhav commented on #818
Yes, Sure 👍

[2022-11-28 06:30] supminn commented on #818
Sure @atapas, please assign it to me.

[2022-11-28 06:34] surajgjadhav commented on #818
Thanks @atapas and @supminn :)

[2022-11-28 11:54] supminn commented on #696
Hi @atapas
Could you please close this issue? The fixes have been merged in #595

[2022-11-29 10:01] #818 closed

[2022-11-30 04:07] shhmag opened #822 "[Add a Play]: Audio Visualizer"
### What's the Play about?

A straightforward audio visualizer that depicts sounds using wave spectrum .

### What ReactJS concept will be used to create this play?

p5.js, React hooks (useState, useEffect etc)

### Are you willing to take it up for implementation?

Yes

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct