[2022-02-16 12:42] atapas opened #14 "🐛 Clear Search and Filter when switching between pages"
**Describe the bug**
Clear Search and Filter when switching between plages.

**To Reproduce**
Steps to reproduce the behavior:
- From the landing page search/filter a play
- Now click on a play to go to the play details. See the search is still retained.
- It should be created. If you hit the back button of the browser, it still shows the searched/filtered list. Not the original list of play.

**E

[2022-02-17 06:27] atapas opened #17 "💅 Style the Home Page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-02-28 16:13] murtuzaalisurti opened #19 "Add a new play - Counter"
I have added a new play! If you want, I will create a PR

[2022-02-28 16:17] atapas commented on #19
Oh yes. Please raise a PR 😀 @murtuzaalisurti

[2022-03-01 13:52] #19 closed

[2022-03-17 17:10] atapas opened #23 "Create a better 404 page"
**Is your feature request related to a problem? Please describe.**
We have a 404 page but it is not that great. Make it better.

![image](https://user-images.githubusercontent.com/3633137/158855965-1bd5b80d-15ef-4e51-b92b-91750dd50b8b.png)

[2022-03-17 17:13] atapas opened #24 "Filtering: Create multi selector for selecting levels, creator, and Tags"
**Is your feature request related to a problem? Please describe.**

Right now, we can select only a combination of 1 level, 1 creator, and 1 Tag at a time. We need to enable users to select multiple values from each of the criteria to form a filtering combination.

[2022-04-16 11:07] #17 closed

[2022-04-16 11:15] atapas commented on #17
@all-contributors please add @atapas  for Code

[2022-04-16 11:16] atapas commented on #17
@all-contributors please add @nirmalkc  for Code

[2022-04-16 11:17] atapas commented on #19
@all-contributors please add @murtuzaalisurti  for Code

[2022-04-16 11:59] atapas opened #28 "🐛 [Bug]: Don't show the AllContributors in the Contribution section of the Home Page"
**Describe the bug**

Right now the Contribution section of the home page shows the "https://github.com/apps/allcontributors". We need to filter that out.

![image](https://user-images.githubusercontent.com/3633137/163674046-3819a063-5d08-42c2-8657-e9c0427f2400.png)

[2022-04-16 12:52] atapas opened #29 "✨ [Feature request]: Add TypeScript Support"
Currently the `yarn create-play` command creates the play in JavaScript(JSX). Please add the support to create play scaffolding based on TypeScript.

[2022-04-16 13:09] #28 closed

[2022-04-17 07:11] shrilakshmishastry commented on #14
Hi @atapas , I have a fix for this issue .

[2022-04-17 07:14] atapas commented on #14
@shrilakshmishastry all yours

[2022-04-17 07:15] nirmalkc opened #31 "🐛 [Bug report]: Play details mashtead wrapping issues"
**Describe the bug**
Play details page masthead had tags, created by etc. These details are not wrapping consistently.

**Expected behavior**
Masthead details wrapping should be consistent for all variants.

[2022-04-17 07:21] nirmalkc opened #32 "🐛 [Bug report]: Home page github button issue"
**Describe the bug**
Home page github button with star and count is not looking odd.

**Expected behavior**
Home page github button with star and count should be aligned properly.

[2022-04-17 07:33] shrilakshmishastry commented on #14
Thank you

[2022-04-17 09:36] murtuzaalisurti opened #37 "[Add a play]: Random meme generator"
I have an idea to add a play which demonstrates the use of APIs to generate random data (it can be anything, quotes, images, memes, etc)

@atapas Let me know if this works!

[2022-04-17 09:42] atapas commented on #37
Random meme will be awesome? Want to try that? Go for it. Please edit the issue title accordingly.

[2022-04-17 09:43] #32 closed

[2022-04-17 13:45] #31 closed

[2022-04-17 14:27] atapas opened #38 "✨ [Feature request]: Add shimmer effect for the play thumbnails"
**Is your feature request related to a problem? Please describe.**
On the first load the images takes some time to get added to the DOM. We can use shimmer effect to make it look more pleasant.

**Describe the solution you'd like**
We can create our own Image component with a shimmer as  a fallback or use any well reputated NPM package that does it well.

**Describe alternatives you've considered*

[2022-04-17 14:52] abhikhatri67 commented on #38
Hi @atapas,

Should I try this one?

[2022-04-17 15:18] atapas commented on #38
All yours now.

[2022-04-17 15:58] murtuzaalisurti commented on #37
Yes, random meme generator would be cool!

[2022-04-17 16:12] atapas commented on #37
Super, I have updated the issue title.

[2022-04-17 16:18] atapas opened #39 "[Add a Play]: Add a Social Card"
Thank You!

## What's the Play about?
The Play builds a Social Card with name, email, photo, social handles, etc.

## What ReactJS concept will be used to create this play?
ReactJs Form handling, State handling, Context, Event Handling

## Are you willing to take it up for implementation?
Yes.

[2022-04-18 06:20] murtuzaalisurti commented on #37
Hey @atapas I am getting an error while creating a play!

![Screenshot (184)](https://user-images.githubusercontent.com/68743212/163764495-b323c97c-21e1-459a-8675-291a7b0a6c44.png)

[2022-04-18 06:44] atapas commented on #37
That's Weird. Let me take a look.

[2022-04-18 06:51] atapas commented on #37
I just tried it with the same value and it worked. Could you please try it once with Git Bash Terminal?

![image](https://user-images.githubusercontent.com/3633137/163767970-762dcfdf-5074-439e-984a-2424b18ab044.png)

I'm suspecting some input it not going well with the VS Code terminal setting. PLease let me know @murtuzaalisurti

[2022-04-18 06:55] atapas commented on #37
For me worked with VS Code too.. Please let me know if it went well with Git bash/command prompt for you?

![image](https://user-images.githubusercontent.com/3633137/163768483-2d77faa9-0418-460e-affb-b555e52ba5c9.png)

[2022-04-18 07:10] shrilakshmishastry opened #43 "✨ [Feature request]: Show no play found when there is no match for filter and search result"
## Need a feature that shows no play found when there is no match in filter and search result.

Currently, the screen is blank when there is no match found. It would be a good experience if there is some message showing no play match for the applied filter or search

[2022-04-18 07:21] Abhishek-90 opened #44 "[Add a Play]: State of Component"
Thank You!

## What's the Play about?
It will tell about the state of react Components, what happens when you change a state in a functional component

## What ReactJS concept will be used to create this play?
hooks, state management, state

## Are you willing to take it up for implementation?
Yes

[2022-04-18 07:42] Abhishek-90 commented on #44
#41

[2022-04-18 08:04] murtuzaalisurti commented on #37
Getting the error in git bash too!

![mintty_4OQgXiZ6HW](https://user-images.githubusercontent.com/68743212/163777209-d1c932dc-ca8a-4f9e-810a-7f02d56feb2a.jpg)

[2022-04-18 08:05] atapas commented on #37
What's the Node, Yarn version?

[2022-04-18 08:06] murtuzaalisurti commented on #37
@atapas yarn 1.22.17

[2022-04-18 08:10] murtuzaalisurti commented on #37
updated yarn but still the same issue!

[2022-04-18 08:13] atapas commented on #37
That's really strange! Want to get on a quick call now? Can check it out.

[2022-04-18 08:27] #39 closed

[2022-04-18 08:35] murtuzaalisurti commented on #37
yeah sure!
@atapas

[2022-04-18 08:38] atapas commented on #37
Pnged you on Twitter @murtuzaalisurti

[2022-04-18 09:15] murtuzaalisurti commented on #37
@atapas I used a recent version of node and it didn't work in administrator cmd! So, there's an issue with node.

[2022-04-18 09:16] murtuzaalisurti commented on #37
It might be that the function or expression is deprecated, or something like that.

[2022-04-18 09:21] atapas commented on #37
So with which version of node it finally worked?

[2022-04-18 09:22] murtuzaalisurti commented on #37
16.14.0

[2022-04-18 09:32] atapas commented on #37
We need to document that. Please create an issue.

[2022-04-18 09:47] murtuzaalisurti commented on #37
Sure, will create an issue!

[2022-04-18 09:59] murtuzaalisurti opened #46 "🐛 [Bug report]: create-play not working with lower node versions"
**Describe the bug**
In lower node versions (< 16), there is an issue with creating a new play by running `yarn create-play` or `npm run create-play`. The script works fine with node version `16.14.0`.

**To Reproduce**
Steps to reproduce the behavior:
1. Using `nvm` try to use a node version lower than `16` (probably `14`) and run `npm run create-play` or `yarn create-play`.
2. Fill necessary det

[2022-04-18 11:35] atapas opened #47 "✨ [Feature request]: Generate a Readme.md file for each play"
**Is your feature request related to a problem? Please describe.**
Each of the play can have its own documentation to tell what it is about, some code level details. So generate a Readme.md file as part of the play creation process.

**Describe the solution you'd like**
Create a automatic Readme file per play

**Describe alternatives you've considered**
Alternative is creating the read me manually

[2022-04-18 12:07] atapas opened #48 "✨ [Feature request]: Create a list of Play ideas"
**Is your feature request related to a problem? Please describe.**
Create a page with a list of play ideas and categorize them by levels(Beginner, Intermediate, Advanced). It will help anyone to look into the list and create a play based on it.

**Describe the solution you'd like**
A separate page that lists all the play ideas wth descriptions.

**Describe alternatives you've considered**
NA

**Ad

[2022-04-18 12:10] atapas opened #49 "✨ [Feature request]: Create a short video to explain ReactPlay and embed on the home page"
**Is your feature request related to a problem? Please describe.**
A short video explaining the mission, vision, and usages of ReactPlay will be very helpful for anyone new to get started.

**Describe the solution you'd like**
- Create a 2 mins video
- Post on YouTube
- Embed in the home page.

**Describe alternatives you've considered**
NA

**Additional context**
NA

[2022-04-18 12:15] atapas commented on #44
@Abhishek-90 Please let me know when it is ready to review?

[2022-04-18 12:21] Abhishek-90 commented on #44
@atapas you can review it now. Please let me know if it requires any changes/enhancement

[2022-04-18 12:38] atapas commented on #44
Done with the review. Please take a look. Also, there are merge conflicts in these two files. Please resolve this carefully.

![image](https://user-images.githubusercontent.com/3633137/163809515-3ca0c2e2-5d4f-4f65-9c1c-0b58cecc7279.png)

[2022-04-18 12:39] #23 closed

[2022-04-18 16:34] #37 closed

[2022-04-19 01:55] #38 closed

[2022-04-19 04:36] atapas opened #52 "🐛 [Bug report]: Warning is seen in the build log"
**Describe the bug**
We have found a warning in the build log

![image](https://user-images.githubusercontent.com/3633137/163921037-d29401f2-dd62-4c1b-a32e-fc18fa02c629.png)

Need to fix it.

[2022-04-19 06:50] hasnainmakada-99 commented on #47
Tapas sir, I would love to work on this issue

[2022-04-19 06:53] atapas commented on #47
All yours @hasnainmakada-99

[2022-04-19 07:02] #44 closed

[2022-04-19 07:05] hasnainmakada-99 commented on #47
Thank you sir

[2022-04-19 07:42] #49 closed

[2022-04-19 09:19] atapas commented on #47
See Also: https://github.com/atapas/react-play/discussions/55

[2022-04-19 10:16] atapas opened #57 "✨ [Feature request]: Integrate Google Analytics with ReactPlay"
**Is your feature request related to a problem? Please describe.**
It is an enhancement.

**Describe the solution you'd like**
We need to integrate GA to see the metrics.

**Describe alternatives you've considered**
NA

**Additional context**
NA

[2022-04-19 11:18] joshi-kaushal opened #60 "[Add a Play]: TicTacToe"
## What's the Play about?
2 players Tic Tac Toe Game

## What ReactJS concept will be used to create this play?
useState, react basics

## Are you willing to take it up for implementation?
Yes

[2022-04-19 11:49] #47 closed

[2022-04-19 11:50] atapas commented on #47
@all-contributors please add @hasnainmakada-99  for Code

[2022-04-19 12:58] nirmalkc commented on #48
### Action Items

- [ ] Homepage mockup showing the link/anchor to take the user to the ideas page
- [ ] Ideas page mockup - a page that lists all the ideas together. Every idea can have a button to let the users to start with that idea
- [ ] Mockups showing filtering options
- [ ] Markups & styling for all the above mentioned items

[2022-04-19 13:14] hasnainmakada-99 commented on #43
Tapas sir, I would like to work on this issue

[2022-04-19 13:34] nirmalkc opened #64 "🐛 [Bug report]: Spacing issue around the homepage video embed"
**Describe the bug**
RWD spacing adjustments needed for the homepage video.

[2022-04-19 13:36] #64 closed

[2022-04-19 13:37] atapas commented on #43
Ok sure. For design of the page please work with @nirmalkc

[2022-04-19 14:09] #14 closed

[2022-04-19 14:12] atapas commented on #14
@all-contributors please add @shrilakshmishastry  for Code

[2022-04-19 14:29] atapas opened #66 "🐛 [Bug report]: Deep Linking for the Plays fails. It shows a blank page."
**Describe the bug**
If you hit any play URL directly, it gives a blank page. It should show the play details page.

**To Reproduce**
Steps to reproduce the behavior:
1. Open your browser
2. Paste this URL: https://www.reactplay.io/plays/social-card and hit enter
3. You will see a blank screen
4. Error in the browser console

![image](https://user-images.githubusercontent.com/3633137/164027452-948

[2022-04-19 15:28] atapas opened #67 "✨ [Feature request]: Enable users to add Reactions and Comments on a Play"
**Is your feature request related to a problem? Please describe.**
Now users can not comment on a Play. It will be great to give that ability. Also the ability to add reactions

**Describe the solution you'd like**
Allow users to reactions and comment on a Play.

More discussion: https://github.com/atapas/react-play/discussions/53

[2022-04-19 15:49] 6km commented on #66
I have worked on a fix for this issue. I will open a PR.

[2022-04-19 16:38] #52 closed

[2022-04-19 17:22] #66 closed

[2022-04-19 17:40] 6km commented on #46
Node.js v14 has V8 8.4 but `replaceAll` was added to V8 8.5 (which is used by node.js v15).
This means that you can't use `.replaceAll` if your Node.js version is lower that 15.

Can you reproduce this with node.js v15?

[2022-04-20 03:49] #46 closed

[2022-04-20 11:16] Shivam-Katare opened #75 "[Add a Play]: Keeper App"
## What's the Play about?
The name of the play is "**Keeper**". In this app, you can save and delete your notes. This will save your notes until you delete them.

## What ReactJS concept will be used to create this play?

* React Functional Components
* useState and useEffect
* React DOM

## Are you willing to take it up for implementation?
Yes, I am willing to take it up for implementation.

# Sc

[2022-04-20 14:50] atapas opened #76 "✨ [Feature request]: Change meta information based on the route"
**Is your feature request related to a problem? Please describe.**
What we share a play with its deep link URL, it takes the Reactplay platform's meta(og, Twitter) image, title, and description. Rather, it should display the cover image, title, and description of the play that we are sharing on social media.

**Describe the solution you'd like**
I do not have a solution proposed yet but the contri

[2022-04-20 17:26] erayalkis commented on #76
Maybe we could create a PlayMeta component that takes in an object of meta values?
So for example we could create a meta object in each Play component like this:
[code]
And then we can just destructure this object and pass it into the PlayMeta component:
[code]

[2022-04-20 17:30] atapas commented on #76
I think it is a good idea. I have taken the same solution for my website which is built using Next.js. @erayalkis do you want to take it up and get a PR ready? We can start collaborating on reviews there.

[2022-04-20 17:41] DalpatRathore opened #78 "🐛 [Bug report]:"
**Describe the bug**
 There is a typo in  `CREATE-PLAY.md`.  in line 87 as can be seen below

[2022-04-20 17:45] DalpatRathore commented on #78
fixed typo issue in PR #77

[2022-04-20 17:46] erayalkis commented on #76
Sure, I'd love to! I'll start working on it ASAP!

[2022-04-20 18:35] koustov commented on #29
@atapas  may i take this one?

[2022-04-21 00:45] #78 closed

[2022-04-21 08:02] atapas commented on #67
I am incorporating giscus with the plays. The basic implementation is done. need to take care of styling and positioning of the comments.

![image](https://user-images.githubusercontent.com/3633137/164408515-98cbb75e-ef19-4f39-8c1f-52b68e0eee90.png)

[2022-04-21 08:30] Abhishek-90 opened #83 "🐛 [Bug report]: Responsive Design for State Play"
**Describe the bug**
State play needs to have a cover and it is should be responsive.

**Expected behavior**
Play should have responsive design for desktop and small devices alike

[2022-04-21 08:52] atapas commented on #83
@Abhishek-90 Could you please provide a title to this issue?

[2022-04-21 08:53] atapas commented on #67
Now we can post likes and reactions on a play

![image](https://user-images.githubusercontent.com/3633137/164418186-42009df7-f3ed-44e8-8efb-ea5693343f68.png)

[2022-04-21 12:36] atapas opened #87 "✨ [Feature request]: Upgrade to Raect v18"
**Is your feature request related to a problem? Please describe.**
NO

**Describe the solution you'd like**
Upgrade React to its latest version.

**Describe alternatives you've considered**
NA

**Additional context**
NA

[2022-04-21 12:48] #87 closed

[2022-04-21 14:30] #76 closed

[2022-04-21 14:50] erayalkis opened #90 "🐛 [Bug report]: Meta tags not being properly detected in some sites"
**Describe the bug**

The new way of handling meta tags doesn't work in some sites/apps.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any site that supports embeds
2. Paste any link from the site
3. See that no embed data shows up

**Expected behavior**

The embed data is supposed to show up without any issues.

**Desktop (please complete the following information):**
 - OS: Windows

[2022-04-21 14:55] nirban256 opened #91 "Todo List App"
Thank You!

## What's the Play about?
It is a ReactJs based Todo List Web app

## What ReactJS concept will be used to create this play?

useState and useEffect hooks will be used.

[2022-04-21 15:22] erayalkis commented on #90
Absolutely, I'll try to get it working ASAP! I figured out what the issue is for now. When we paste a link, the target site (Twitter, for example) doesn't enable JavaScript when visiting the page, so our meta tags don't get updated. This usually requires a node server to fix, but I think I should be able to set up a pre-renderer that generates HTML files for each route.
It would boost performance,

[2022-04-22 03:12] #90 closed

[2022-04-22 11:10] erayalkis opened #95 "🐛 [Bug report]: Twitter meta tags don't work properly"
**Describe the bug**

While embeds work on other sites, Twitter doesn't seem to be able to get the information it needs, and embed images do not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Twitter.com
2. Paste any link from reactplay.io
3. See that while all other info is there, the embed image doesn't show up

**Expected behavior**

The embed image is supposed to work proper

[2022-04-22 11:11] erayalkis commented on #95
I'm assuming the DefMeta tag doesn't properly update the twitter meta tags, should be an easy fix!

[2022-04-22 20:48] vasantisuthar opened #97 "Quizeo App"
Thank You!

## What's the Play about?
A react application of quizzes about favorite movies and series.

## What ReactJS concept will be used to create this play?
Hooks, react-redux, reselect, and react-router

## Are you willing to take it up for implementation?
yes

[2022-04-23 02:32] atapas commented on #91
@nirban256 Are you doing this one?

[2022-04-23 02:39] atapas commented on #43
@nirmalkc the code logic is done and in main. Could you please create a branch and style this one? I shall close the issue after that.

[2022-04-23 04:57] nirban256 commented on #91
yes

[2022-04-23 10:49] Abhishek-90 commented on #83
@atapas by tomorrow & yes, It will include cover image

[2022-04-24 15:07] abhikhatri67 commented on #57
Hey @atapas,

Is anyone working on this?

[2022-04-24 16:37] shrilakshmishastry opened #101 "✨ [Feature request]: Show the user number of tags applied"
Currently, users can apply filters but are not able to get how many filters are applied.It would be good if we show number of filters applied above the filter symbol

[2022-04-24 16:38] shrilakshmishastry commented on #101
@atapas I would love to bring in this feature and working on it

[2022-04-24 17:32] koustov commented on #29
@atapas

Let me know if this make sense
![image](https://user-images.githubusercontent.com/7145967/164988849-bbd49ec1-9797-47bb-84a8-8e0f2619dc07.png)

![image](https://user-images.githubusercontent.com/7145967/164988933-57713d76-494f-4051-a394-5c5a8c65d6e7.png)

[2022-04-24 19:36] koustov opened #102 "✨ [Feature request]: In filter modal creator dropdown should be a card list with image"
**Is your feature request related to a problem? Please describe.**
Currently, the creator dropdown is a flat list. It doesn't give enough context of the GitHub profile

**Describe the solution you'd like**
Use a contact card drop-down  instead

**Describe alternatives you've considered**
NA

**Additional context**
NA

[2022-04-25 02:44] atapas commented on #29
Yep, make sense to me.

[2022-04-25 02:46] atapas commented on #57
I am planning to pick it up as I have the tracking id and all. Having said that, if you want to pick it up, go ahead, I will get you the tracking id to integrate. Please let me know.

[2022-04-25 17:30] abhikhatri67 commented on #57
CooI, If you haven't started working on it, please assign it to me.

[2022-04-26 04:22] atapas opened #104 "🐛 [Bug report]: Remove yarn lock file from the repo"
**Describe the bug**
We do not need to commit the yarn lock file. Remove it and add the entry in the .gitignore.

[2022-04-26 04:24] atapas commented on #57
Done

[2022-04-26 08:59] #104 closed

[2022-04-26 10:41] #83 closed

[2022-04-26 13:21] Abhishek-90 opened #107 "Hooks in Actions"
Thank You!

## What's the Play about?
Combination of various inbuilt hooks to see how they work together.

## What ReactJS concept will be used to create this play?
Hooks, Async/Await

## Are you willing to take it up for implementation?
Yes

[2022-04-26 20:42] erayalkis opened #109 "✨ [Feature request]: Update Wiki"
**Is your feature request related to a problem? Please describe.**

I was looking to add documentation for the new PlayMeta component, but I found out very quickly that github doesn't let you create a PR for wiki pages, so I have to do this instead

**Describe the solution you'd like**

Updating Wiki to include documentation for PlayMeta with text from [here](https://github.com/erayalkis/react-pla

[2022-04-26 20:43] erayalkis commented on #109
Let me know if I need to make any changes to the text!

[2022-04-27 16:49] atapas commented on #109
What if close the wiki locally, create a page, make update and do a PR?

https://github.com/atapas/react-play.wiki.git

[2022-04-27 16:51] atapas commented on #109
Ok good news :)

![image](https://user-images.githubusercontent.com/3633137/165578125-f98e8c0f-96f3-482f-8f89-46b01218abb9.png)

Now see if you are able to edit.

[2022-04-27 16:56] atapas commented on #109
I have also sent you the collaborator request.

[2022-04-27 17:00] erayalkis commented on #109
Ah, that's perfect! Github normally doesn't let people open PR's for wiki pages. This works perfectly! I'll add a wiki page for PlayMeta ASAP!

[2022-04-27 17:14] erayalkis commented on #109
Created the wiki page for PlayMeta! 👍 Let me know if I need to make any changes!

[2022-04-28 05:40] atapas commented on #109
Great, some explanation of this will be helpful

[code]

[2022-04-28 09:56] atapas opened #111 "[Add a Play]: Expanding Cards"
Thank You!

## What's the Play about?

## What ReactJS concept will be used to create this play?

## Are you willing to take it up for implementation?

[2022-04-28 16:43] Deepak8717 commented on #111
What's the Play about?
Ans - Its the list of striped cards/ collapsed cards displaying on the screen. In order to expand the card just click on any of the strip

What ReactJS concept will be used to create this play?
Ans - In this play i have used useState hook, toggle functionality , component re usability.

Are you willing to take it up for implementation?
Ans - Yes

[2022-04-28 18:39] erayalkis commented on #109
Created a separate wiki page for react-snap as we might need to add extra configurations and documentations later on, let me know if I need to change anything!

[2022-04-29 03:04] #111 closed

[2022-04-29 10:14] atapas commented on #109
Looks good. Thanks a lot. I am closing the issue.

[2022-04-29 10:14] #109 closed

[2022-04-29 11:48] vasantisuthar commented on #97
I had set up the project but got this error, I tried but was not able to solve this.
Uncaught (in promise) Error: The message port closed before a response was received.

[2022-04-29 12:22] vasantisuthar commented on #97
<img width="960" alt="2022-04-29" src="https://user-images.githubusercontent.com/63599802/165942900-9a3e24d4-b3f8-48a0-9f71-c43b41d43690.png">

When I click on one of the images it gives a 404 status and the above error, rest npm is successfully installed and started also.

[2022-04-29 12:28] atapas commented on #97
Ok so the problem is with code then, not the environment. Could you please create the PR so that can take a look at the code changes and suggest!

[2022-04-30 07:17] shrilakshmishastry commented on #24
@atapas I would love to give it a try for this

[2022-04-30 11:43] vasantisuthar opened #121 "Add command for npm to create play"
Add the command for npm to create a new play in create-play.md

[2022-04-30 11:45] vasantisuthar commented on #121
updated create-play.md file #120

[2022-04-30 18:16] AhnafAhamed opened #122 "🐛 [Bug report]: Content overflow of tag list"
When there are more than 5 tags in the play page the content overflows in screens with width less than 435px

Steps to reproduce the behavior:
1. Go to [https://www.reactplay.io/plays/expanding-cards](https://www.reactplay.io/plays/expanding-cards)
2. Open dev tools and minimize screen to 435 or less

The tags are expected to wrap up when content starts to overflow.

**Screenshots**
![image](https

[2022-05-01 01:53] atapas commented on #122
Sure, you can take it up.

[2022-05-01 09:26] #121 closed

[2022-05-01 11:28] vasantisuthar opened #126 "✨ [Feature request]: Design the play not found page"
**Is your feature request related to a problem? Please describe.**
The play not found page is not so designed, and there should also a button to navigate to all plays.

**Describe the solution you'd like**
Design the play not found page when didn't find any play and make it attractive.

**Describe alternatives you've considered**
Also add button to the page to navigate to all plays.

If this needs

[2022-05-01 12:35] atapas commented on #126
Yes plz go ahead

[2022-05-01 12:44] atapas commented on #43
Styling will be done part of #126

[2022-05-01 12:44] #43 closed

[2022-05-01 12:47] #122 closed

[2022-05-01 14:52] #101 closed

[2022-05-01 14:56] atapas commented on #24
We need to start a discussion on this to finalize the design for it.

[2022-05-03 12:31] shrilakshmishastry commented on #24
Shall I start a new discussion in the discussion section about it? referring Nirmal?

[2022-05-03 13:36] atapas commented on #24
You can start a discussion with initial thoughts of solving it. Some handwritten sketch will help too.

[2022-05-03 15:34] DalpatRathore opened #132 "🐛 [Bug report]: clock flicker & color contrast"
The Play Clock flickers every second and not responsive on the small screen.

https://user-images.githubusercontent.com/69510006/166485360-fca75f8f-5d1a-4f78-90fe-3891bd829e81.mp4

[2022-05-03 15:35] DalpatRathore commented on #132
PR #130 solves above design bugs

[2022-05-03 15:58] #132 closed

[2022-05-04 11:40] atapas opened #134 "✨ [Feature request]: Create a Home page section for Twitter mentions"
**Is your feature request related to a problem? Please describe.**
We need a place on the home page that brings the mentions we get for the ReactPlayIO Twitter handle.

**Describe the solution you'd like**
Make the Twitter API cal to fetch last 10 Tweets that mentioned the @ReactPlayIO handle and show them like cards,

**Describe alternatives you've considered**
NONE

**Additional context**
The Tw

[2022-05-04 15:36] DalpatRathore commented on #134
Who is working on this Twitter mentions issue?

I have used two ways to showcase the latest tweet:
- GitHub Profile --  `lowlighter/metrics` plugin with API Key and GitHub Action
- My Portfolio Web -- `react-twitter-embed` package without API Key

[2022-05-04 16:40] atapas commented on #134
Can you explain the second solution? What does it bring? Iframe?

[2022-05-05 06:14] #75 closed

[2022-05-05 11:32] atapas opened #141 "[Bug]: The puppeteer error while building"
### Discussed in https://github.com/atapas/react-play/discussions/112

<div type='discussions-op-text'>

<sup>Originally posted by **atapas** April 28, 2022</sup>
@erayalkis

I am seeing this intermittent error in the log and it fails the build. Do you think, we have a fix for it? Starting this discussion, if you want to get to a root-cause, welcome. When you have a fix, let's convert this one to

[2022-05-05 12:16] atapas opened #144 "✨ [Feature request]: Create a Password Generator"
**Is your feature request related to a problem? Please describe.**
Create a password generator with different complexities.

**Describe the solution you'd like**

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-05-05 12:21] Angryman18 commented on #144
No there is no problem regarding that. so i dont think the additional answers are required.

[2022-05-05 14:32] DalpatRathore commented on #134
### react-twitter-embed
- React Import
  ![carbon](https://user-images.githubusercontent.com/69510006/166946068-6c3c0513-26c8-4221-84c1-688fb64db894.png)

- Iframe Compiled Code
  ![carbon (1)](https://user-images.githubusercontent.com/69510006/166946095-eef49725-e0ea-4f45-be5a-7ec969dd08d1.png)

- Package [react-twitter-embed](https://www.npmjs.com/package/react-twitter-embed)

[2022-05-05 21:45] erayalkis commented on #141
I'll get on it ASAP, thank you for opening an issue for it!

[2022-05-06 03:02] #144 closed

[2022-05-06 03:25] atapas commented on #141
@erayalkis One doubt I got so clarifying. A play creator can add play cover in 3 ways.

1.  They provide a link to an online image in the play metadata while creating the play.
1.  They drop a cover.png in the play folder.
1.  They don't provide anything and framework add one default image.

I know in the case of 2 and 3 the social share of the play displays the cover image correctly on all the pl

[2022-05-06 07:05] #48 closed

[2022-05-06 07:05] #67 closed

[2022-05-06 11:09] erayalkis commented on #141
Yep! The first case should work fine as well, but if I missed an edge case I'll create a PR to fix it ASAP!

[2022-05-06 11:54] atapas opened #154 "✨ [Feature request]: Add the number badge to the comment icon"
**Is your feature request related to a problem? Please describe.**
Currently, each of the plays has a way to provide and view comments

![image](https://user-images.githubusercontent.com/3633137/167126180-ae6f761a-0f02-4eee-97a2-518243c8e5c9.png)

It will be great if the icon indicates the number of comments a play has.

**Describe the solution you'd like**
The solution is to use the GitHub GraphQ

[2022-05-07 04:12] #29 closed

[2022-05-07 04:55] atapas commented on #134
How about a non-iframe based solution?

[2022-05-07 05:00] atapas commented on #134
Here is an idea:(Taken from https://hypefury.com/)

![image](https://user-images.githubusercontent.com/3633137/167239127-ea1b42fb-af4a-49bc-8cce-c9fc02378548.png)

[2022-05-07 05:42] DalpatRathore commented on #134
The solution idea looks impressive. Though I have not implemented the `non-iframe` based solution.

[2022-05-07 15:08] abhikhatri67 opened #157 "🐛 [Bug report]: Cancel button text"
**Description**
The cancel button text is not visible.

Steps to reproduce the behaviour:
1. Go to '/plays
2. Click on filter plays
3. See an error on filter modal

**Expected behaviour**
Cancel button text

**Screenshots**
<img width="1418" alt="Screenshot 2022-05-07 at 8 33 47 PM" src="https://user-images.githubusercontent.com/15958423/167260147-40d142e6-29d6-411e-a3fe-445bc714565c.png">

**Desk

[2022-05-07 18:05] ashutoshdhande commented on #157
@atapas This [Pull request](https://github.com/atapas/react-play/pull/158) tries to fix this issue. Is it satisfactory or any changes needed?

[2022-05-07 18:16] ashutoshdhande commented on #154
@atapas how the number of comments should be displayed?

As on hovering the icon or to the side of icon (this will look odd in my opinion).

[2022-05-07 20:58] Santosh1176 commented on #157
Hi, if this is still open issue? I would like to go for it.

[2022-05-08 02:12] atapas commented on #154
That part of the code of showing the number is already in place. You can uncomment it in the jsx file and see. It appears like a badge on the icon.

Next, part of the issue, we need to figure out how to get the comment count for a play.

[2022-05-08 03:10] atapas commented on #157
I have added @nirmalkc as a reviewer.

[2022-05-08 11:40] koustov opened #159 "[Add a Play]: A Typescript based play"
Thank You!

## What's the Play about?
A good-first play based on TS

## What ReactJS concept will be used to create this play?
TypeScript

## Are you willing to take it up for implementation?
Yes

[2022-05-08 12:15] atapas opened #161 "✨ [Feature request]: Filter Plays by Language"
**Is your feature request related to a problem? Please describe.**
As we support both JS and TS BASED plays, provide ability to filter based on language.

**Describe the solution you'd like**
Add one more filter option for language with the existing filters.

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-05-09 02:06] #159 closed

[2022-05-10 04:53] tejinder-sharma opened #164 "[Play] Currency Exchange template using Tailwindcss and react"
Hello,

I am Tejinder Sharma want to contribute to open-source projects.

So I thought of making a website template using Tailwincss and ReactJS.

Will it come under the Project section? If yes, can I contribute?

Thanks,

Tejinder Sharma

[2022-05-10 05:00] atapas commented on #164
@tejinder-sharma Welcome!!

Please update the issue details with the entire details of the play. Like what it is going to be etc.

Please get started with it by creating a branch. If you face any problems, feel free to open a discussion from here(under the QA): https://github.com/atapas/react-play/discussions

[2022-05-10 05:32] atapas opened #165 "Add Support for TailwindCSS to ReactPlay"
We have decided to add support for TailwindCSS and SASS.

### Discussed in https://github.com/atapas/react-play/discussions/73

<div type='discussions-op-text'>

<sup>Originally posted by **joshi-kaushal** April 20, 2022</sup>
Hello,

As we go ahead and get contributions from people around the globe, I think we should have a standard set for styling.

Tailwind CSS seems like a great option for me

[2022-05-10 05:37] atapas commented on #165
I see this play merge will add the SASS Support. So this issue needs to take care of Tailwind alone.

https://github.com/atapas/react-play/pull/163/files

[2022-05-10 06:25] vasantisuthar commented on #165
Can I add tailwind support to my react play, so that it can be merged. As I have already did that 😄

[2022-05-10 06:38] atapas commented on #165
I would say go ahead and convert your play to support Tailwind. If someone picks this issue in isolation and just adds support, that will be even faster as the scope of the changes will be limited.

[2022-05-11 05:37] tejinder-sharma commented on #164
Thank You Tapas for replying,

I am working on a Currency Exchange template using Tailwindcss and react. I will update you soon after the completion of the project.

[2022-05-11 09:40] atapas opened #168 "🐛 [Bug report]: Memory Game GitHub repo link is broken"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'this play:  https://www.reactplay.io/plays/memory-game'
2. Click on 'GitHub Source Icon'
It gives 404

**Expected behavior**
I should land to the correct link

Fix: Need to change the play folder name to memory-game to fix it.

[2022-05-11 11:51] #168 closed

[2022-05-14 13:01] hasnainmakada-99 commented on #161
Tapas sir can you tell me in which file we have to implement this functionality ?

[2022-05-14 13:03] atapas commented on #161
I can but you first debug to find out urself and you will learn. I'm there always to tell you at the end 🙌

[2022-05-14 13:03] hasnainmakada-99 commented on #161
Ok sir let me look into the code

[2022-05-14 13:21] hasnainmakada-99 commented on #161
@atapas sir, I've looked into the code base and there are going to be many changes if we want to implement this functionality, there should be someone who knows react very well, because I can understand the issue but I will not be able to implement it in react

[2022-05-15 04:32] murtuzaalisurti opened #175 "[Add a Play]: QR Code Generator"
## What's the Play about?
A simple QR code generator for anything such as text, url, etc. Also, with an option to download the QR code! Check out a [similar web app](https://qr-codes.vercel.app) (PWA) made by me using Vanilla JS.

## What ReactJS concept will be used to create this play?
Nothing new, just some basic React JS concepts.

## Are you willing to take it up for implementation?
Yes

[2022-05-15 19:32] koustov opened #177 "🐛 [Bug report]: Cancel button on share social medial modal is invisible"
**Describe the bug**
The cancel button text on **share** modal is not visible by default. On hover the transition is proper

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Share'

**Expected behavior**
Primary button to be placed

**Screenshots**
Taken from production deployment
![image](https://user-images.githubusercontent.com/7145967/168490592-f9887aa5-4630-437c-a979-d05c0bdcf5ac.p

[2022-05-16 04:15] atapas commented on #177
@koustov Thanks for opening this one. There is an existing issue tracking it already.

https://github.com/atapas/react-play/issues/157

Hence closing it.

[2022-05-16 04:15] #177 closed

[2022-05-16 04:21] #141 closed

[2022-05-16 04:24] atapas commented on #161
No worries @hasnainmakada-99

I shall take it up and fix it today. Please feel free to ask me questions based on the fix. I will be happy to answer so that you will also be aware of that portion of the code area.

[2022-05-16 04:25] hasnainmakada-99 commented on #161
Sure @atapas sir

[2022-05-16 04:27] Angryman18 opened #178 "[Play]: a Simple and Fun Quiz App #170"
Further Issues for the Quiz app goes here.

[2022-05-16 07:27] nirban256 commented on #165
Hello @atapas Sir, I would like to work on this issue

[2022-05-16 07:36] atapas commented on #161
Here you go: https://github.com/atapas/react-play/pull/182#issuecomment-1127329853

[2022-05-16 07:37] atapas commented on #165
All yours.

[2022-05-16 08:21] atapas commented on #165
Hello @vasantisuthar Could you please review the PR once?

https://github.com/atapas/react-play/pull/183

[2022-05-16 08:43] #161 closed

[2022-05-16 10:47] Deepak8717 opened #185 "Registration Page form validation"
Thank You!

## What's the Play about?
A Registration form validation without any literary

## What ReactJS concept will be used to create this play?
useState, jsx

## Are you willing to take it up for implementation?
yes

[2022-05-16 10:52] Deepak8717 commented on #185
#179 I have raised this new pull request and closed my old pull request as old pull request was on different branch and that branch is multiple commit behind. In order to keep the branch up to date i need to rebase my main branch. To avoid any further conflict i raised this PR directly from my main branch.

[2022-05-16 10:57] erayalkis commented on #141
If the new changes don't fix the error, I've read that downgrading react-snap usually fixes the error, so we could also try that!

[2022-05-16 12:21] Programming-School-Pro-Coding opened #186 "[Add a Play]: GitHub Search Site"
Thank You!

## What's the Play about?
GitHub Search user

## What ReactJS concept will be used to create this play?

## Are you willing to take it up for implementation?

[2022-05-16 12:21] Programming-School-Pro-Coding commented on #186
@atapas link it

[2022-05-16 12:56] atapas commented on #186
Please set a proper title for the issue. It just says react-play.

Also please link the PR from the right side setting

![image](https://user-images.githubusercontent.com/3633137/168597551-d1f372a1-3de8-472e-a920-3a20e65da659.png)

[2022-05-16 12:59] Programming-School-Pro-Coding commented on #186
I don't know how to link it because i don't have a role

![image](https://user-images.githubusercontent.com/96921717/168598037-f3d1834b-0640-4806-b1d1-6d6b3079feac.png)

[2022-05-16 13:02] Programming-School-Pro-Coding commented on #186
@atapas you linked this:
![image](https://user-images.githubusercontent.com/96921717/168598456-9cb5738d-1257-4e2c-80c7-37d853761876.png)

[2022-05-16 13:18] Programming-School-Pro-Coding commented on #186
#172

[2022-05-16 13:48] #157 closed

[2022-05-18 02:56] atapas opened #190 "[Add a Play]: Create a YouTube Clone"
Thank You!

## What's the Play about?
Submitting this play request on behalf of @Srinu126 who created a PR https://github.com/atapas/react-play/pull/188

## What ReactJS concept will be used to create this play?
Want to build a YouTube Clone.

## Are you willing to take it up for implementation?
No. @Srinu126

[2022-05-18 06:19] koustov opened #191 "✨ [Feature request]: Establish a color palette for this application"
**Is your feature request related to a problem? Please describe.**
It's not a problem

**Describe the solution you'd like**
It would be better to create a common color palette for this application. It's for better usage and consistency across the app. However, this doesn't restrict the players to add their own during play creation.
The idea is to make a suggestive palette, not a `constraint`.
One

[2022-05-18 06:41] koustov opened #192 "✨ [Feature request]: Better way of searching tags and creator in folter modal"
**Is your feature request related to a problem? Please describe.**
It's a little frustrating to find a tag or use from the list in the filter modal. The frustration part comes from the fact that the list is growing and there is nothing to sort/filter them

Loosely related to #14

**Describe the solution you'd like**
- A filterable typeahead for creator and tags
- Tags and creator dropdown should b

[2022-05-18 06:47] koustov opened #193 "✨ [Feature request]: Better intelligence for filter by tag"
**Is your feature request related to a problem? Please describe.**
There could be multiple tags that are textually different but carry the same context. In order to filter by those tags, one needs to select all relevant tags from the dropdown. This is a little of a usability issue.

e.g.: `TSX` and `TypeScript` tags basically belong to the same context however if I select either of them while filt

[2022-05-18 10:52] Rafat97 opened #194 "🐛 [Bug report]: Console log Statement No Need on Production"
**Describe the bug**
I visited website and checking the developer console. I saw there is a lots of `console.log` statement. Example screenshot given bellow. In production I think, we don't need those `console` statement.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.reactplay.io/'
2. Open Developer Console

**Expected behavior**
No need console statement on production b

[2022-05-18 10:55] atapas commented on #194
Agree we should clear them on production. Do you have a strategy and want to work on this issue? @Rafat97

[2022-05-18 11:01] Rafat97 commented on #194
Mainly I use this code in root file. Where `ReactDOM.render` was used.

[code]

[2022-05-18 11:04] atapas commented on #194
@Rafat97 Sounds good. Do you want to give it a try in ReactPlay? I can assign the issue to you then.

Btw... I usually leave the errors in production to log. How about that?

[2022-05-18 11:15] Rafat97 commented on #194
We just need to remove `console.error = () => {}`.

Also. I am glad if I can contribute anything. You can add  me into this issue. I will add the given code into `index.js` file -
[code]

Thank you @atapas

[2022-05-18 11:34] atapas commented on #194
Thank you @Rafat97 The issue is yours. You can test it with a production-like preview build after you open the PR. Thanks!

[2022-05-18 15:29] Olaleye-Blessing opened #195 "✨ [Feature request]: Close modal on click or esc pressed"
**Is your feature request related to a problem? Please describe.**
The filter modal should be closed when `Esc` button is pressed or when the modal container is clicked.

**Describe the solution you'd like**
Event listener should be placed on the `Esc` button and on the modal container.

**Describe alternatives you've considered**
NA

**Additional context**
NA

[2022-05-18 16:19] atapas commented on #195
Do you want to work on it @Olaleye-Blessing ?

[2022-05-18 16:41] Shriom-Trivedi commented on #195
Hi @atapas  if no one is working on this I would love to give it a try

[2022-05-18 16:52] Olaleye-Blessing commented on #195
yea but you can give it to @Shriom-Trivedi

[2022-05-18 16:52] atapas commented on #195
FCFS, assigned

[2022-05-18 16:53] atapas commented on #195
Done. You can review the PR when ready 🙌

[2022-05-19 02:56] atapas opened #199 "[Add a Play]: A simple calendar app to add, update, and delete events."
Thank You!

## What's the Play about?

A simple calendar app to add, update, and delete events.

## What ReactJS concept will be used to create this play?

## Are you willing to take it up for implementation?

NO, @vincentBCP

[2022-05-19 03:32] atapas opened #200 "✨ [Feature request]: If a play doesn't have a blog, link it to the Readme"
**Is your feature request related to a problem? Please describe.**
Each of the play has a read me file that is supposed to explain the technical details of the play like what it is, how it was built, etc. The ReactPlay should check if a play creator supplied a blog link for a play. In case it is empty, the link can be to the Readme file.

**Describe the solution you'd like**
Each of the play has a

[2022-05-19 08:49] ryzncodes commented on #200
Hello! Would it be possible for me to contribute to this issue? This would be my first open source contribution.

[2022-05-19 09:11] atapas commented on #200
Surely possible. Assigned to you. Please feel free to ask if you need help: https://github.com/atapas/react-play/discussions/categories/q-a

[2022-05-19 14:57] Shriom-Trivedi commented on #195
@Olaleye-Blessing I've made a PR can you please review it.

[2022-05-19 15:47] #195 closed

[2022-05-20 04:07] koustov opened #205 "✨ [Feature request]: Allow selection of preferred styling language"
**Is your feature request related to a problem? Please describe.**
Not a problem

**Describe the solution you'd like**
The command line input during play creation should allow the user to select their own choice of styling language (i.e.: CSS/SCSS) and accordingly a template file needs to be placed under the play directory.

**Describe alternatives you've considered**
NA

**Additional context**
NA

[2022-05-20 04:39] koustov opened #207 "✨ [Feature request]: Automatically updating play readme based on user input"
**Is your feature request related to a problem? Please describe.**
Not a problem

**Describe the solution you'd like**
The idea of this issue is to create a boilerplate readme for every play automatically.

A possible readme template (Unrelated section should be removed)

---

## play-name
detailed play description

## Play Demographic
Language: <language used>
Level : <level>

## Creator Informat

[2022-05-21 05:03] atapas commented on #205
@naiknareshh

Thanks for starting on it. Could you please post a comment here so that, I can assign it to you?

[2022-05-21 05:18] atapas commented on #207
@naiknareshh

Please post a comment here so that I can assign it to you.

[2022-05-21 05:33] naiknareshh commented on #205
Hey @atapas, yes please assign this to me

[2022-05-21 06:18] naiknareshh commented on #207
@atapas Yes, Please assign this to me

[2022-05-21 09:45] #205 closed

[2022-05-21 10:09] Sachin-chaurasiya opened #212 "🐛 [Bug report]: XML Sitemap is not linked in robots.txt file and other SEO issues"
**Describe the bug**
A clear and concise description of what the bug is.

We have XML sitemap files but there is no reference to it in the robots.txt file, this will affect our project indexing in google or other search engines.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise descr

[2022-05-21 10:09] Sachin-chaurasiya commented on #212
@atapas , I would like to work on this issue.

[2022-05-21 10:12] Sachin-chaurasiya commented on #212
Just verify the sitemap.xml file is also missing, we should also add that.
Getting 404 for https://www.reactplay.io/sitemap.xml.

[2022-05-21 10:25] Sachin-chaurasiya commented on #212
Open Graph Protocol issues.

<img width="788" alt="image" src="https://user-images.githubusercontent.com/59080942/169647403-39481517-6522-447f-8e9d-febe5b712927.png">

[2022-05-21 10:26] Sachin-chaurasiya commented on #212
Title tag issue
<img width="763" alt="image" src="https://user-images.githubusercontent.com/59080942/169647441-e63f868d-1ffc-49e2-9f46-44f1ba39b4cf.png">

[2022-05-21 10:35] Sachin-chaurasiya commented on #102
@atapas @koustov , I would like to work on this issue.

[2022-05-21 10:41] atapas commented on #212
@Sachin-chaurasiya Good to see you here. The issue is all yours!

[2022-05-21 10:42] atapas commented on #102
@Sachin-chaurasiya Assigned. Let's discuss the design approach for this one first. Please open a discussion thread.

[2022-05-21 10:44] Sachin-chaurasiya commented on #102
@atapas , Sure will do that.

[2022-05-21 10:59] Sachin-chaurasiya commented on #102
@atapas , Opened one discussion thread here https://github.com/atapas/react-play/discussions/213

[2022-05-22 04:30] #207 closed

[2022-05-22 04:55] #178 closed

[2022-05-22 06:09] Rafat97 commented on #194
@atapas, Can I use `docker-compose` ?

[2022-05-22 06:16] atapas commented on #194
The app doesn't have the containarize support yet. It is mostly driven by the dev build and deployed on vercel.

[2022-05-22 06:39] koustov opened #217 "✨ [Feature request]: Show related play(s)"
**Is your feature request related to a problem? Please describe.**
The suggestion is to create a workflow for user journey. One of the simple approaches is to render related play on the play details page.

**Describe the solution you'd like**
When you open a play, it would be helpful if the page suggests the **related plays**. This can be driven by tags.

**Describe alternatives you've considered*

[2022-05-22 06:42] koustov opened #218 "✨ [Feature request]: Play statistics: View Count"
**Describe the solution you'd like**
One of the best ways to show play engagement is through "view count". Good to have the stat implemented. Later point of time this data can be used for sorting mechanism

**Describe alternatives you've considered**
NA

**Additional context**
Need a UI suggestion before starting the imeplementation.

[2022-05-22 07:36] atapas commented on #218
Its a good one. So prereq is to get the meta in DB?

[2022-05-22 08:52] Rafat97 commented on #194
Will I create `docker-compose` file for both production & development environment?

[2022-05-22 08:59] Rafat97 commented on #212
@Sachin-chaurasiya can you tell me which tool you used for scanning those issue?

[2022-05-22 12:11] atapas commented on #194
Ok

[2022-05-22 12:12] Programming-School-Pro-Coding opened #219 "Add New Idea"
### Discussed in https://github.com/atapas/react-play/discussions/174

<div type='discussions-op-text'>

<sup>Originally posted by **Programming-School-Pro-Coding** May 14, 2022</sup>
Awesome React Portfolio with Animations like this: https://amazing-portfolio-react-sanity.vercel.app/</div>

[2022-05-22 12:51] Programming-School-Pro-Coding commented on #200
Good Idea

[2022-05-23 02:38] #199 closed

[2022-05-23 15:13] Sachin-chaurasiya commented on #212
Sure, I used [woorank](https://www.woorank.com/) for a quick scan.

[2022-05-23 18:55] #212 closed

[2022-05-24 08:35] #126 closed

[2022-05-24 08:42] hasnainmakada-99 opened #231 "Add: Change directory command in the official documentation"
#### Add the change directory command on in the official documentation so after cloning the repository the user can directly operate the folder from the terminal

[2022-05-24 08:43] hasnainmakada-99 commented on #231
@atapas  sir I've opened this issue

[2022-05-25 03:03] Asterisk-z opened #232 "UI Update"
create the agreed ui for password generator
![passwordui](https://user-images.githubusercontent.com/56372709/170171005-ebc4a5bf-a039-48bd-9f76-e2a0576dd154.PNG)

[2022-05-25 04:31] atapas commented on #232
@Asterisk-z Please go ahead and create the PR. I am assuming you are doing the suggested changes.

[2022-05-26 03:24] #185 closed

[2022-05-26 05:30] Deepak8717 opened #234 "New Play : Dynamic Routes"
Thank You!

## What's the Play about?
 its all about dynamic routes using react router v6. Wher in user pass the dynamic data as a parameter and based on the parameter app shows the relevant output.

## What ReactJS concept will be used to create this play?
react-router-v6, useParam hook

## Are you willing to take it up for implementation?
yes

[2022-05-26 06:16] Deepak8717 commented on #234
@atapas  please check

[2022-05-27 06:28] atapas commented on #200
Hi @ryzncodes Are you still on it?

[2022-05-27 06:37] atapas opened #235 "✨ [Feature request]: Add a sponsor/support option in the header"
**Is your feature request related to a problem? Please describe.**
No, it is a feature.

We can have an option for visitors to show their support by,

- Sponsoring(We can link to GitHub Sponsor)
- Sharing about ReactPlay on Twitter

**Describe the solution you'd like**
An icon that shows "Support/Sponsor". Click on it a "Callout" comes with the option to Sponsor link and Share on Twitter. A few li

[2022-05-27 14:00] vasantisuthar commented on #235
This is a nice idea, people will get more engaged with react-play showing their support.

[2022-05-28 13:53] atapas commented on #232
Hi @Asterisk-z please confirm if you will be implementing it.

[2022-05-28 14:01] atapas opened #236 "✨ [Feature request]: Fetch play list from data store"
**Is your feature request related to a problem? Please describe.**

It is a feature. Currently, the play metadata is being fetched from the JSON file. It has to move to the back-end data store.

**Describe the solution you'd like**
- Setup data store
- Insert play records
- Modify the UI code to fetch the data from data store

**Describe alternatives you've considered**
None

**Additional context*

[2022-05-28 14:14] Asterisk-z commented on #232
Yes @atapas

[2022-05-28 14:19] Asterisk-z commented on #232
PR co

PR Coming up soon

[2022-05-28 20:33] #97 closed

[2022-05-29 17:26] #186 closed

[2022-05-29 18:18] vasantisuthar opened #240 "A minor change to make quizeo play responsive"
The play just needs a minor change to the CSS file to make it responsive.

[2022-05-29 22:39] sidiDev opened #242 "✨ [Feature request]: Using vite instead of webpack or swc with webpack"
**Is your feature request related to a problem? Please describe.**

When I started creating a play, I was shocked that React play is so slow, and this is a big and big problem, I spent hours trying to build a play, because the development experience was so bad, what I mean is that when I run this command "npm run start", it's takes longer than expected, and sometime I turn off my laptop and turn i

[2022-05-30 03:23] atapas commented on #242
Thanks for the feedback @sidiDev. Just wanted to check if you want to pick it up and try improving?

[2022-05-30 03:23] atapas commented on #240
Yes please fix it @vasantisuthar

[2022-05-30 07:01] atapas opened #244 "✨ Move ReactPlay project to a new organization"
Move ReactPlay project to a new organization for better management.

Check

- [ ] Website
- [ ] Readme
- [ ] Twitter links
- [ ] Contributors
- [ ] Discussions
- [ ] Wikis
- [ ] StarGazers
- [ ] Vercel Integration
- [ ] NHost Integration

[2022-05-30 09:35] sidiDev commented on #242
Yes of course, I'm happy to work on improving development experience of React play.

[2022-05-30 10:54] #244 closed

[2022-05-30 10:55] atapas commented on #244
The website is waiting on the SSL Cert propagation, may up to 24 hours:

![image](https://user-images.githubusercontent.com/3633137/170978008-53a4b7ee-d95d-4dff-9a8d-27f945640c2f.png)

[2022-05-30 11:03] Programming-School-Pro-Coding commented on #236
What Data store do you want to use ?

[2022-05-30 11:03] Programming-School-Pro-Coding commented on #236
Sanity or MongoDB

[2022-05-30 11:07] Programming-School-Pro-Coding commented on #200
Hey Sir

Assign me

[2022-05-30 11:22] atapas commented on #242
Sure thing.

[2022-05-30 11:27] Programming-School-Pro-Coding commented on #200
I finished the Code now

[2022-05-30 11:29] atapas commented on #200
@Programming-School-Pro-Coding Where?

[2022-05-30 11:30] Programming-School-Pro-Coding commented on #200
For this issue: #200

[2022-05-30 11:30] Programming-School-Pro-Coding commented on #200
I don't understand you

[2022-05-30 11:32] atapas commented on #200
Where is the code? I mean Pull Request?

[2022-05-30 11:32] Programming-School-Pro-Coding commented on #200
Confirm my pull request to create another one

[2022-05-30 11:38] atapas commented on #200
No, they are independent. You can create a new branch from the main and start on this one without waiting for another one to merge. Each issue should have new branch and new PR.

[2022-05-30 11:42] Programming-School-Pro-Coding commented on #200
Done

[2022-05-30 11:44] Programming-School-Pro-Coding commented on #200
The Pull Request #246

[2022-05-30 11:45] Programming-School-Pro-Coding commented on #200
The Pull Request: #246

[2022-05-30 12:00] Programming-School-Pro-Coding opened #248 "🐛 [Bug report]: Add Readme.md file for all the missing Plays!"
**Describe the bug**
Some of the plays missing `readme.md` files.

These plays were created before the automatics Readme file generation. Hence the readme is missing. Please add readme files.

1. why-react
2. clock
3. data-time-counter
4. movies
5. org-tree
6. counter

![image](https://user-images.githubusercontent.com/3633137/170991357-13ac3e48-fc86-4d2f-96bb-2c37561f7e26.png)

**To Reproduce**
S

[2022-05-30 12:01] Programming-School-Pro-Coding commented on #248
@atapas This is your play

[2022-05-30 12:12] Programming-School-Pro-Coding commented on #134
I can made that using node fetch

[2022-05-30 12:18] #219 closed

[2022-05-30 12:19] atapas commented on #248
Please file issues with proper descriptions

[2022-05-30 12:20] Programming-School-Pro-Coding commented on #248
I don't understand you

[2022-05-30 12:24] Programming-School-Pro-Coding commented on #248
A List of All the plays that don't have any readme file:
1. clock
2. counter
3. data-time-counter
4. movies
5. org-tree
6. why-react

[2022-05-30 13:40] atapas commented on #248
@Programming-School-Pro-Coding Are you taking this up?

[2022-05-30 17:22] Programming-School-Pro-Coding commented on #236
Ok, Assign me too

[2022-05-30 17:23] Programming-School-Pro-Coding commented on #236
Do you have a team in NHost ?

[2022-05-30 17:25] Programming-School-Pro-Coding commented on #236
Why do you want to use NHost ?

[2022-05-30 17:27] atapas commented on #236
There is someone working on it already. Please help us with the other issues. Thanks!

[2022-05-30 17:27] Programming-School-Pro-Coding commented on #236
Ok

[2022-05-30 17:29] Programming-School-Pro-Coding commented on #248
Do you want from me to add the readme files ?

I think you want the creators of these plays create the readme file of its play

[2022-05-30 17:30] Programming-School-Pro-Coding commented on #248
I will take it up now

 don't worry i will finish it in minutes

[2022-05-30 17:41] Programming-School-Pro-Coding commented on #248
@atapas Please describe why-react play because i don't have any description for it

[2022-05-30 18:05] Programming-School-Pro-Coding commented on #248
#251

[2022-05-31 02:20] #240 closed

[2022-05-31 11:00] Programming-School-Pro-Coding opened #256 "✨ [Feature request]: Create A Repositories for all these templates"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Create A New Repository in the organization for each template to be easy to clone.
Each Play should have a repository in this organization

**Additional context**

I am happy to work on this

[2022-05-31 12:42] Programming-School-Pro-Coding opened #257 "[Add a Play]: Calculator using React"
Thank You!

## What's the Play about?
A Calculator using React JS, Hooks, JSX

## What ReactJS concept will be used to create this play?
Hooks

## Are you willing to take it up for implementation?
Yes

[2022-05-31 12:42] Programming-School-Pro-Coding commented on #257
#254

[2022-05-31 12:44] atapas commented on #257
Add all the details plz.

[2022-05-31 16:40] Angryman18 opened #259 "[Play]: Simple Live Chat"
#Thank You!

## What's the Play about?
a very simple and minimal live chat application.

## What ReactJS concept will be used to create this play?
working with firebase database, handling data locally, syncing with localstorage.

## Are you willing to take it up for implementation?
yes sure.
#259

[2022-05-31 16:42] Angryman18 commented on #259
#258

[2022-06-01 11:33] Programming-School-Pro-Coding commented on #192
Hi

Please more information

[2022-06-01 14:22] joshi-kaushal opened #263 "✨ [Feature request]: Configure ESLint and Prettier"
**Is your feature request related to a problem? Please describe.**
It will be nice to have standardized rules for coding.

**Describe the solution you'd like**
We can configure **ESLint** and **Prettier** in our project. Then if we set it up with Husky pre-push hook, the code will already be formatted and *prettified* before `git push` command is executed.

**Describe alternatives you've considere

[2022-06-01 14:32] atapas commented on #263
Kindly comment on the relevant issue. I'm not sure which issue are you talking about?

[2022-06-01 14:42] valeshgopal opened #264 "✨ [Feature request]: Add 'Edit Task' functionality to To-Do app"
**Is your feature request related to a problem? Please describe.**
The To-Do app currently does not have an option to edit a task.

**Describe the solution you'd like**
An 'edit task' feature in the 'To-do App' which enables users to correct any typos or add extra info to the existing tasks.

Describe alternatives you've considered
NA

**Additional context**
Requires creation of additional states

[2022-06-01 14:42] valeshgopal commented on #264
#260

[2022-06-01 19:15] Programming-School-Pro-Coding commented on #263
The issues: #257 , #256 , #248

The Pull Request: #262 , #254 , #251 , #246

[2022-06-02 02:21] atapas commented on #263
@Programming-School-Pro-Coding  Do not link the issues unnecessarily. When you post an issue and PR with # they get linked. All the issues and PR you had mentioned in this issue are not related. Please comment on those issues directly. Also, most of them are "Review Requested". Thanks.

[2022-06-02 02:24] atapas commented on #263
Here is what I think:

-1. We should call out the restrictions we are planning to put as part of the linter. This can be done in a discussion. Also we need to make sure, all contributors are using the same linting styles when coding in their editor.
-2. Airbnb
-3. We use both JS and TS
-4. Like the number 1 point, we should take it for discussion and conclude.

[2022-06-02 11:27] joshi-kaushal commented on #263
1. We will have `npm run lint` and `npm run lint:fix` scripts in our project. By executing this contributors can manually lint their changes with lining rules specified in the project scope.
2. We can add husky pre-push, which will run the above scripts automatically before every push.

Correct me if I am wrong.

[2022-06-02 11:37] atapas commented on #263
How about the existing code? It has to be linted as well right?

[2022-06-02 11:38] Programming-School-Pro-Coding commented on #248
@atapas I don't have the role to assign it to you please assign yourself

[2022-06-02 12:14] joshi-kaushal commented on #263
Yes, it will be linted after running `npm run lint:fix` command for the first time.

I can test that in my local machine first.

[2022-06-02 12:44] #200 closed

[2022-06-02 12:45] atapas commented on #256
Please provide more details about this. Not very clear on it.

[2022-06-02 12:47] Programming-School-Pro-Coding commented on #256
Done

[2022-06-02 12:49] Programming-School-Pro-Coding opened #266 "✨ [Feature request]: Add New Idea Portfolio"
**Is your feature request related to a problem? Please describe.**
Nothing

**Describe the solution you'd like**
A Full Stack Portfolio made with react and sanity

**Describe alternatives you've considered**

**Additional context**
I am happy to work on

[2022-06-02 12:51] atapas commented on #256
@koustov is working on the design of it already. Stay tuned to know more about it next week.

[2022-06-02 12:52] #256 closed

[2022-06-03 10:17] atapas commented on #263
I see a bunch of warnings in the console which dev should Ideally taken care of. We need to make sure, warnings are not getting in as well.

![image](https://user-images.githubusercontent.com/3633137/171835833-043246f2-3869-46c4-97bd-014f66189f3b.png)

[2022-06-03 11:04] #264 closed

[2022-06-03 12:01] joshi-kaushal commented on #263
`useEffect` missing dependency warnings must be resolved manually

[2022-06-03 13:42] joshi-kaushal commented on #263
Are you creating a new discussion for the fourth point of https://github.com/reactplay/react-play/issues/263#issuecomment-1144349678?

About the first point in the same thread: By enforcing code style, we choose one of the two popular styles - google or Airbnb or create one ourselves. And since you said Airbnb I don't think we need to have another discussion about that.

[2022-06-03 14:01] atapas opened #269 "✨ [Feature request]: Add initial support for the backend configuration"
**Is your feature request related to a problem? Please describe.**
Nope it is a feature

**Describe the solution you'd like**
Get the backend configuration done so that dev can use them

[2022-06-03 15:02] Rafat97 commented on #194
@atapas .
Check https://github.com/reactplay/react-play/pull/271 PR.
I fixed it.

If there is any issue let me know.
Thank you.

[2022-06-04 07:27] shrilakshmishastry opened #272 "✨ [Feature request]: Feature of adding play directly from user codebase through website"
### Currently user follows the below steps to create a play:
1. clone the repo
2. yarn install
3. yarn create-play
4. Follow the sequence of steps in cmd to create a play

### What feature to bring in?
A GUI or a way within react-play website where upon user clicking create button, taking him the sequence of steps and create a play and fork it to his account and create a branch with same as play n

[2022-06-04 09:04] #269 closed

[2022-06-05 02:41] #194 closed

[2022-06-05 03:14] atapas commented on #263
As you are driving it, I would suggest you open the discussion. But start the work towards it. We can settle on things while doing the review as well.

About rest of the points, I agree.

[2022-06-05 04:02] koustov opened #274 "✨ [Feature request]: Common notification/alert mechanism"
**Is your feature request related to a problem? Please describe.**
Plays would need to add notification of any kind for better interaction with the player. The idea is to have a base toast/modal/popup/inline alert that can be used by all plays for more intuitive interaction with the user.

**Describe the solution you'd like**
A common notification/alert mechanism would be helpful here. Create a ho

[2022-06-05 04:36] koustov opened #275 "🐛 [Bug report]: Github API limit exceeded"
**Describe the bug**
If you are using the application for a while, the GH API limit will eventually exceed. This will cause empty names in the play thumbnail and other places.
![image](https://user-images.githubusercontent.com/7145967/172035108-f7cfe679-2482-4f1e-b857-99ede4bba107.png)

Note:
- GH API limit is per IP based. So if I am getting this error means, it's just got exhausted for my public

[2022-06-05 04:56] atapas commented on #275
It gets renewed daily basis. So if you try it the next day, it will work again for several days.

Yes, i to fix but not alarming. Also if we use these calls authenticated way, we will get a better rate limit. So let's consider that too.

[2022-06-05 05:15] #232 closed

[2022-06-05 05:18] joshi-kaushal commented on #263
I am done with configuring ESLint and Prettier in our project. The only things that are remaining are lintng the code and configuring husky.

Linting without setting rules would give us thousands of errors and warnings. Hence I suggest having a set of rules first.

Other points I wanted to mention are:
1. **This will not solve every warning/error automatically. We will have to fix a few things man

[2022-06-05 10:47] koustov commented on #275
Yes, it's a temporary issue, and the authenticated user gets more limit. It's definitely not a high severity one.
The idea is to just use the user name from play-meta when the git user name is not available.

[2022-06-05 11:26] vasantisuthar opened #280 "✨ [Feature request]: Add a link to navigate to all plays"
Add a link to navigate to all plays when play is not found

<img width="960" alt="2022-06-05 (2)" src="https://user-images.githubusercontent.com/63599802/172048164-1f631814-f136-4f86-8bdb-6176c75e25b0.png">

It would be good if we add a text that will link to all the plays back when the play is not found.

I would like to work on this issue.

[2022-06-05 11:36] sidiDev opened #281 "[Play]: Fix React landing page style"
@atapas Hi! I fixed the problem, you can review the PR again, and please let me know if everything is ok.

### The broblem

Early feedback, the changes are impacting the basic styles like H1...H6, some links, etc of the platform and so why impacting the look of other plays. It could be, that you are using Tailwind underneath and that is probably bringing some resets for those element styles. Could

[2022-06-05 14:27] murtuzaalisurti opened #282 "✨ [Feature request]: Live Playground"
**Is your feature request related to a problem? Please describe.**
I got feedback from many people to add a playground where people can actually experiment some stuff with react on an existing play or a new instance.

**Describe the solution you'd like**
A playground which will allow learners to experiment with a play's code in a live editor window. (open for discussion)

**Additional context**
Fo

[2022-06-05 16:03] Programming-School-Pro-Coding opened #283 "✨ [Feature request]: Add New Idea, Landing Page"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I want to add new idea 💡 for the plays.
This idea is Landing Page.

**Describe alternatives you've considered**

**Additional context**
I am happy to work on

[2022-06-05 18:13] TejasShekar opened #284 "🐛 [Bug report]: Wrong route being highlighted"
**Describe the bug**
In [this](https://reactplay.io/plays/dynamic-routes/:menu) play, the wrong route is being highlighted even though the route being shown in the URL is not the same as the highlighted tab in the play.

**To Reproduce**
Steps to reproduce the behavior:
1. Select Breakfast tab
2. Then toggle between the three tabs in any random manner.
For ex, say you toggled the tabs in this way

[2022-06-05 18:30] hasnainmakada-99 opened #285 "✨ [Feature request]: Update the search bar in such a way that it listens to the keys of your keyboard"
**Is your feature request related to a problem? Please describe.**
Currently we have to use enter button in the search bar, The user enters the name of the play clicks on enter and then it finds out the particular play, How about we add a keyup listener (speaking as I've used in vanilla js) in the search bar so that whenever user release key on his keyboard the required search results appear autom

[2022-06-06 03:26] Sachin-chaurasiya commented on #280
@vasantisuthar , One more thing we can do here is instead of `play not found `, we can say `play not found for {searchText}`.

[2022-06-06 05:39] Deepak8717 commented on #284
@TejasShekar thank you brother for bringing it into light. I will work on it.

[2022-06-06 05:54] TejasShekar commented on #284
@Deepak8717 You're welcome. Also add a correct Github link that redirects directly to your play folder in react-play repo.

[2022-06-06 06:38] Deepak8717 commented on #284
@TejasShekar , i did not understand. Care to explain ?

[2022-06-06 09:12] #248 closed

[2022-06-06 09:29] TejasShekar commented on #284
![Screenshot (158)](https://user-images.githubusercontent.com/68545229/172134849-73e7f1f8-7e31-4a06-a43b-73644acb595b.png)

[2022-06-06 10:35] Deepak8717 commented on #284
@TejasShekar thanks again.

[2022-06-06 17:02] supminn opened #288 "🐛 [Bug report]: CONTRIBUTING.md contains the contents of Code of Conduct"
**Describe the bug**
CONTRIBUTING.md is having the same content as that of CODE_OF_CONDUCT.md

**Expected behavior**
CODE_OF_CONDUCT.md is having the correct content, however CONTRIBUTING.md should ideally mention steps about local setup guide and other information that may be needed for contributing.

**Screenshots**
<img width="1268" alt="image" src="https://user-images.githubusercontent.com/307

[2022-06-06 17:05] atapas commented on #288
@supminn Good catch!

Do you want to take it up to fix?

We can model it on this one: https://github.com/TryShape/tryshape/blob/main/CONTRIBUTING.md

[2022-06-06 17:09] supminn commented on #288
Sure, I'd love to take it up.
Thank you @atapas

[2022-06-06 18:14] Programming-School-Pro-Coding commented on #285
Hi Sir

Please tell me more information or an example

[2022-06-06 18:16] Programming-School-Pro-Coding commented on #274
Hi Sir

Please tell me more because i don't get you

[2022-06-06 18:17] Programming-School-Pro-Coding commented on #274
How we will tell the player about the notification and what is the notification that we will ask him ?

[2022-06-06 18:17] Programming-School-Pro-Coding commented on #274
Can we use email ?

[2022-06-07 02:48] hasnainmakada-99 commented on #285
If you've worked with Vanilla js there are several event listeners which listens to our computers keyboard so I am telling to implement the keyboard event listeners to our input of the search bar

[2022-06-07 06:24] atapas opened #289 "✨ [Feature request]: Separate out NHost as a separate project"
**Is your feature request related to a problem? Please describe.**
Right now, NHost is part of the react-play whereas it is an isolated piece. Better to manage it as a separate project.

**Describe the solution you'd like**
Create a separate project for nhost cnfig

**Describe alternatives you've considered**
NA

**Additional context**
NA

[2022-06-07 07:24] #289 closed

[2022-06-07 08:43] Sachin-chaurasiya opened #291 "🐛 [Bug report]: Fix grammatical error on README file"
**Describe the bug**
A clear and concise description of what the bug is.
Project README has some grammatical errors like
- Spelling mistakes
- Wrong article usage
- wrong agreement usage
- and more

**Screenshots**

<img width="644" alt="image" src="https://user-images.githubusercontent.com/59080942/172336314-52c3a379-00cc-4762-b78a-165671a4273f.png">

[2022-06-07 09:00] #165 closed

[2022-06-07 09:02] atapas commented on #281
@sidiDev

FYI: https://github.com/reactplay/react-play/pull/241#issuecomment-1148397310

Closing the issue.

[2022-06-07 09:02] #281 closed

[2022-06-07 09:14] Programming-School-Pro-Coding commented on #283
#267

[2022-06-07 09:16] Sachin-chaurasiya commented on #283
@Programming-School-Pro-Coding, Assigned to you.

[2022-06-07 12:38] Programming-School-Pro-Coding opened #295 "🐛 [Bug report]: Bug Fixes in contributing file"
**Describe the bug**
Bug Fixes in contributing file

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 -

[2022-06-07 13:17] Sachin-chaurasiya opened #296 "✨ [Feature request]: Add new idea - Image Gallery"
I would like to add one play idea which is `Image Gallery`, this will be an intermediate play where the creator has to use a free API service like [Unsplash](https://unsplash.com/) to get the images and show them in a gallery view.
They have to provide a search option for users to search images.

[2022-06-07 13:17] Programming-School-Pro-Coding commented on #296
Create A New PR First

[2022-06-07 13:22] Sachin-chaurasiya commented on #296
@Programming-School-Pro-Coding, I think first we should create the issue and add a proper description then start working on it.
cc : @atapas

[2022-06-07 13:23] Programming-School-Pro-Coding commented on #296
Ok

[2022-06-07 13:38] #266 closed

[2022-06-07 16:48] #257 closed

[2022-06-07 17:06] hasnainmakada-99 commented on #285
Means ?

[2022-06-07 17:07] Programming-School-Pro-Coding commented on #285
Why to listens to the keys of your keyboard

[2022-06-07 17:10] hasnainmakada-99 commented on #285
if it will listens to the keys then it can be more search efficient for the users as well as the developers

[2022-06-07 17:11] Programming-School-Pro-Coding commented on #285
Do you means it is searching while user is typing ?

[2022-06-07 17:12] hasnainmakada-99 commented on #285
exactly

[2022-06-07 17:12] hasnainmakada-99 commented on #285
So will you be able to solve this issue @Programming-School-Pro-Coding

[2022-06-07 17:44] hasnainmakada-99 commented on #285
I am assigning it to you

[2022-06-07 17:46] Programming-School-Pro-Coding commented on #285
Ok

[2022-06-07 18:25] vasantisuthar commented on #280
There is already a React play home button at the top, we shall only include all plays button, what say @Sachin-chaurasiya @Programming-School-Pro-Coding

[2022-06-07 19:50] #295 closed

[2022-06-07 20:18] Programming-School-Pro-Coding commented on #285
Hey @hasnainmakada-99

I done it

[2022-06-08 05:25] #296 closed

[2022-06-08 06:11] #291 closed

[2022-06-08 16:20] koustov commented on #274
Not really. Here I am looking for `on UI notification/alert`. BTW, I have updated the title and description for better understanding.

[2022-06-08 16:28] koustov opened #302 "🐛 [Bug report]: Filter box appear on landing page of the application"
**Describe the bug**
The filter box appears on the application's landing page for a fraction and then vanishes. Refer screenshot

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[reactplay](https://reactplay.io/)'
2. Refresh the page

**Expected behavior**
The filter box should only appear when one navigates to [play](https://reactplay.io/plays) page

**Screenshots**
![image](https://u

[2022-06-08 17:15] Programming-School-Pro-Coding commented on #302
Ok, Assign me
I will do it

[2022-06-09 02:55] atapas commented on #175
@murtuzaalisurti When are you planning this one?

[2022-06-09 02:56] atapas commented on #164
@tejinder-sharma TailwindCSS is in now. You can submit this play :)

[2022-06-09 02:58] atapas commented on #280
But you are already on the plays page when this message appears. How about that?

[2022-06-09 02:58] atapas commented on #282
@murtuzaalisurti Lets discuss this as an "idea" first.

[2022-06-09 03:00] atapas commented on #263
@joshi-kaushal Can we roll it out?

[2022-06-09 04:38] murtuzaalisurti commented on #282
yeah that sounds good

[2022-06-09 04:39] murtuzaalisurti commented on #175
one or two weeks

[2022-06-09 04:41] murtuzaalisurti commented on #236
@atapas should we update this?

[2022-06-09 04:45] atapas commented on #236
No, I have created this issue to consume the query you have created. Will get on it this Saturday. You can continue to build the mutation queries and push them in the back-end project.

[2022-06-09 05:54] joshi-kaushal commented on #263
I'll try to make a PR by EOD

[2022-06-09 06:53] Sachin-chaurasiya commented on #280
@atapas , Your thought on this.

[2022-06-09 08:05] tejinder-sharma commented on #164
Thank you Tapas, I am going to make it soon.

[2022-06-09 15:54] mohitdevelops opened #303 "Product Entry App"
Thank You!

## What's the Play about?
A simple product entry form using form validation.

## What ReactJS concept will be used to create this play?
- Form Handling.
- Input Validation
- Use of useState hook.
- CSS modules for object based classes.

## Are you willing to take it up for implementation?
Yes

[2022-06-10 05:19] #259 closed

[2022-06-11 05:54] Shivam-Katare opened #307 "[Add a Play]: Navbar using Tailwind"
Thank You!

## What's the Play about?
This is a simple responsive Navbar that is made with the help of Tailwind CSS.

## What ReactJS concept will be used to create this play?
Just simple React Concepts, JSX, and useState.

## Are you willing to take it up for implementation?
Yes

[2022-06-12 10:01] #285 closed

[2022-06-14 04:28] #303 closed

[2022-06-14 11:58] TejasShekar opened #310 "[Add a Play]:"
Thank You!

## What's the Play about?
This play is about building a simple GitHub User Search App.

## What ReactJS concept will be used to create this play?
- Basic hooks like useState and useEffect
- Axios which is a better data fetching package than native fetch method

## Are you willing to take it up for implementation?
Yes. I have also completed the implementation for this play.
The PR for t

[2022-06-15 06:13] Adit0507 opened #312 "[Add a Play]: Cryptocurrency Tracker"
Thank You!

## What's the Play about?

- This project gives real time updates about all cryptocurrencies i.e Coin price, Market Cap, 24h Price Change, Total Volume.

- Also there is a search bar where the user can search their desired coin.

## What ReactJS concept will be used to create this play?
- useState, useEffect hooks were used.
- Coin Gecko API was used
- Axios was used to fetch the data.

[2022-06-15 06:18] atapas commented on #312
Hey @Adit0507

As we expect the projects to build within ReactPlay(not linking the external projects at this point), the question is if the person providing an idea to implement in ReactPlay is also taking up for the implementation. Alternatively, people may post an idea and want someone else to pick it up. I hope it clarifies.

[2022-06-15 06:31] Adit0507 commented on #312
Ok so I want to implement i.e build the project in React Play as well.

I have to follow the steps given here right ?
https://github.com/reactplay/react-play/blob/main/CREATE-PLAY.md

Really looking forward to contribute here 😃

[2022-06-15 06:53] atapas commented on #312
Very excited to have you here @Adit0507

Assigned it to you. Yes that what you need to follow and build. Happy coding.

We have a Discord you may want to join un case you have any questions to ask to anyone! Here is the link: https://discord.gg/3XVrkdCz

[2022-06-15 14:51] Angryman18 opened #313 "🐛 [Bug report]: Input checkboxes are uncontrolled"
#319 All though it works really good but suddenly i encontered some error about the input checkboxs are becoming uncontrolled. we have value here but there is no onChange
![Screenshot from 2022-06-15 20-15-29](https://user-images.githubusercontent.com/63530626/173857635-484fd04d-6a0a-4977-a895-3d3051b1ab03.png)

[2022-06-15 14:54] Angryman18 opened #314 "🐛 [Bug report]: Issue with Quizo Play"
1. clicking on the quizo logo making everything disapear throwing down few error on the console.
2. on the question page there is a key error.
3. on the question page selecting any answer then deselection no answer is still taking a value i believe.
![Screenshot from 2022-06-15 20-21-58](https://user-images.githubusercontent.com/63530626/173858518-75d90002-2287-4a2b-aad6-2378e2980ce9.png)

[2022-06-15 15:49] atapas commented on #313
@Angryman18 is that something you can fix quickly?

[2022-06-16 02:36] Angryman18 commented on #313
ok i will see it

[2022-06-16 03:11] Raaghav4243 commented on #310
Hey
Raaghav here, I wish to work on this feature. Could you please assign it to me.
Reference: Aviyel
Thanx

[2022-06-16 03:36] koustov commented on #283
@Programming-School-Pro-Coding I didn't get the idea of this play. Could you please elaborate a little more in the issue description?

[2022-06-16 05:59] #314 closed

[2022-06-16 06:21] atapas commented on #310
Hey @Raaghav4243

As @TejasShekar already working on it, let him complete that as part of this issue. Having said that, we can have a completely different more than one implementation of a similar idea. So feel free to start with your implementation of the GitHub user search. Would love to get that in as well.

[2022-06-16 07:36] Programming-School-Pro-Coding commented on #283
Done.

[2022-06-16 07:48] koustov opened #317 "✨ [Feature request]: Connection between IDEA and PLAY"
**Is your feature request related to a problem? Please describe.**
Ideas are a great place to share prospects for play however today we cannot identify if play has been created/improvised from an existing idea.
The concept of this issue is to create a connection between an `idea` and `play` visually. It must be `1 to *` relationship

**Describe the solution you'd like**
Need UI proposal

**Describ

[2022-06-16 07:52] koustov opened #318 "🐛 [Bug report]: Style update required for mobile view"
**Describe the bug**
The mobile view should be altered to utilize the more of real-estate. Need to reduce the padding and for cards and card container in mobile view.
Refer screenshot

**To Reproduce**
Steps to reproduce the behavior:
1. Open `ReactPlay` on handheld device
2. Navigate to `browse` plays

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/71459

[2022-06-16 10:53] nitishsaini706 commented on #318
@koustov are you working on this?

[2022-06-16 12:07] koustov commented on #318
No, i just posted what i noticed. You are free to pick it up.

[2022-06-16 16:41] Angryman18 commented on #313
#319

[2022-06-17 03:08] koustov commented on #284
Since this issue has been fixed with https://github.com/reactplay/react-play/pull/286, I am closing it.

[2022-06-17 03:08] #284 closed

[2022-06-17 03:49] #313 closed

[2022-06-17 05:26] atapas opened #320 "🐛 [Bug report]: Puppetter Build fails intermittently: Navigation Timeout Exceeded"
**Describe the bug**
The Puppetter Error fails with this message: error at /plays TimeoutError: Navigation Timeout Exceeded: 30000ms exceeded

![image](https://user-images.githubusercontent.com/3633137/174231117-f08f66d2-1027-4a19-9264-e9be1b85f72e.png)

We need a way to configure this time out limit

[2022-06-17 16:38] erayalkis commented on #320
As far as I know, there's currently no way to directly configure the time out limit for puppeteer, though I'll look into a workaround for this and keep you updated!

[2022-06-18 07:02] Adit0507 commented on #312
@atapas I'm getting a minor problem, the play is working really well but I cant see the cover image in my localhost even though I uploaded it and imported it correctly.

I also tried using Unsplash and google drive but it didnt work.

[2022-06-18 07:28] atapas commented on #312
Can you please paste the play meta object of your play from the play-meta.js file? Also gimme the image link.

[2022-06-18 08:18] Adit0507 commented on #312
Ofc

{
    id: 'pl-cryptocurrency-tracker',
    name: 'Cryptocurrency Tracker',
    description: '',
    component: () => {return <CryptocurrencyTracker />},
    path: '/plays/cryptocurrency-tracker',
    level: 'Intermediate',
    tags: 'JSX, Hooks, API',
    github: 'Adit0507',
    cover: 'plays/cryptocurrency-tracker/Cover.jpg',
    blog: '',
    video: '',
    language: 'js'
  },

Image Link:

[2022-06-18 09:08] atapas commented on #312
Keep the value of the cover property blank

cover: ‘’

And keep a cover.png file in your play folder.

Alternatively the cover property should have the URL to a publicly hosted image with resolvable path.

You can See other plays as references.

[2022-06-18 10:15] Adit0507 commented on #312
Its working now !!!!

[2022-06-18 11:50] atapas commented on #320
What if we remove Puppetter altogether? @erayalkis

[2022-06-18 12:42] koustov opened #322 "✨ [Feature request]: GraphQL interface layer"
**Is your feature request related to a problem? Please describe.**
Create an interface layer for graphql for nhost API calls

**Describe the solution you'd like**
An interface/parser where the caller doesn't have to know graphql syntax of structure

[2022-06-18 13:00] #322 closed

[2022-06-18 17:47] erayalkis commented on #320
I think the same problem existed before we installed a downgraded version of puppeteer, so I assume the problem must be somewhere else. We could maybe try downgrading react-snap?

[2022-06-19 02:50] atapas commented on #320
Ok @erayalkis

So we added react snap to create server side rendering or to help us with meta info? What will we loose if we remove react snap altogether?

[2022-06-19 04:48] Angryman18 opened #325 "🐛 [Bug report]: Live Chat UI Break"
![Screenshot from 2022-06-19 10-16-33](https://user-images.githubusercontent.com/63530626/174466287-c820326f-c8bf-40fb-8233-ff3d1f4aa519.png)
Simple Live Chat UI is broken. let us fix this. Anyone welcome who can fix the css.

[2022-06-19 09:21] koustov opened #328 "✨ [Feature request]: Isolated play management"
**Is your feature request related to a problem? Please describe.**
With a growing list of plays in `react-play`, we need to manage these individual items in a better way.

**Describe the solution you'd like**
Details posted here
https://github.com/reactplay/react-play/wiki/Design-Proposals#play-management

[2022-06-19 13:15] yung-coder commented on #325
I would like to try ...

[2022-06-19 13:38] atapas commented on #325
@yung-coder assigned

[2022-06-19 13:51] yung-coder commented on #325
Thanks i will try to fix it asap..!

[2022-06-19 19:31] erayalkis commented on #320
React-snap works similarly to SSR, but it isn't exactly the same
When we create a production build, react-snap goes through each route and creates a static HTML file for it, improving performance and enabling access to the page without JavaScript! This is crucial for our meta tags to work, as popular websites (Facebook, Reddit, etc.) don't enable JavaScript when fetching meta tags to embed data.

[2022-06-20 01:25] atapas commented on #320
Thank you @erayalkis for the details.

Two things I've observed.

- It fails intermittently.
- Somehow it fails more on vercel than netlify.

We do not need the dynamic meta tag functionality for the branch build. We need it only for the main production build. Our branch builds are from vercel and production build is from netlify.

I've now bypassed the post build for branch builds so that it buil

[2022-06-20 06:22] yung-coder commented on #325
Hey @Angryman18 so i have forked the repo in my local system but i am not able to understand where to install node_modules like in general react play or in the folder i want to contribute can u please guide me 🙏

[2022-06-20 06:34] atapas commented on #325
Do it at the root of the project folder and the run with yarn start.

Please join our discord for any help https://discord.gg/bmnsJhVt

[2022-06-20 11:29] nova9 opened #330 "🐛 [Bug report]: Can't setup development mode"
**Describe the bug**
Can't setup ReactPlay for development

**To Reproduce**
Steps to reproduce the behavior:
1. Follow  "How to Set up ReactPlay for Development?" guide at [the official repository](https://github.com/reactplay/react-play/blob/main/README.md)

**Expected behavior**
"npm i" fails

**Screenshots**
<img width="777" alt="Screenshot 2022-06-20 at 16 49 20" src="https://user-images.gith

[2022-06-20 11:47] atapas commented on #330
Hey @nova9

I think it is because React play is on v18 but the shimmer library is still not compatible yet. Please let us know if `npm i --legacy-peer-deps` fixes it for you.

I agree with your concern about bloating a single repo with many plays. We are already working on it to make it lightweight and separate them out. You can check more about it from here: https://github.com/reactplay/react-pla

[2022-06-20 16:48] Angryman18 opened #333 "✨ [Feature request]: PWA integration of our ReactPlay app"
hi if anyone is willing to build pwa of our reactplay app is strongly welcome. i could also able to help working with workbox and building serviceworker. thanks.

[2022-06-22 06:07] Vipul2504 commented on #191
hey I wanted to contribute to this issue

[2022-06-22 06:11] Vipul2504 commented on #175
I have to make this in react? or vanilla Js?

[2022-06-22 06:19] Deepak8717 opened #335 "🐛 [Bug report]: Expanding-card play's active card is too wide on small screen."
**Describe the bug**
On small screen, the active card of Expanding-card play is too wide. it's a small tweak if someone looking to get started can fix it.

Solution:
the width of .active class needs to be fixed on small screen

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://reactplay.io/plays/expanding-cards/
2. resize the screen to smaller screen
3. look at the active card
4.

[2022-06-22 06:36] atapas commented on #335
@Deepak8717 will you fix this one?

[2022-06-22 06:37] atapas commented on #175
React

[2022-06-22 07:05] Deepak8717 commented on #335
@atapas I will fix it. but I let it taken by someone until I am busy with a new play. if no one does I will as it's just one line of code.

[2022-06-22 10:12] erayalkis commented on #320
Sounds good so far, that should work without any problems! I'll look into the puppeteer configs today and see if we can figure something out, for now our current solution will have to suffice! :smile:

[2022-06-22 13:48] Programming-School-Pro-Coding opened #336 "✨ [Feature request]: Add Emojis to Simple Live Chat Play"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Add an Emoji icon when you click on it it show up many emojis to add

**Describe alternatives you've considered**

**Additional context**
I am happy to work on

[2022-06-22 13:55] atapas commented on #335
@lpizzinidev Can I assign this to you?

[2022-06-22 17:29] NdukaClara commented on #335
@atapas Can you assign this to me?

[2022-06-23 03:04] koustov opened #338 "✨ [Feature request]: Play readme to include package information"
**Is your feature request related to a problem? Please describe.**
The idea to have a section in readme where the creator needs to put the additional package information

Advantages:
1.  Identify the package that each play is consuming
2. Keep track of the versions
3. Keep track of the vulnerabilities each package brings in
4. In the future it will be easy to debug issues when we have a package up

[2022-06-23 03:24] atapas commented on #335
Hi @NdukaClara I see there is a PR already that @Deepak8717 is doing review.

Could you please pick up anything else from the list?

https://github.com/reactplay/react-play/labels/good%20first%20issue

[2022-06-23 04:25] Angryman18 commented on #336
Awesome. do it.

[2022-06-23 04:28] Angryman18 opened #339 "🐛 [Bug report]: Modal in Memory Game lost responsiveness"
The modal which open by clicking "how to play" button in memory game play has lost it's responsiveness after adding tailwind i guess.
indeed we need to fix it by reducing the aspect ratio of the image.
anyone who is good at css may fix it i guess.

![Screenshot from 2022-06-23 09-54-50](https://user-images.githubusercontent.com/63530626/175209053-2a6d43b4-6422-4fb0-b369-5669d08f4ad4.png)

[2022-06-23 04:52] atapas commented on #339
@Angryman18 I see it working correctly on prod. Have you checked on reactplay.io or localhost?

![image](https://user-images.githubusercontent.com/3633137/175213301-7b8ca875-13e8-44d4-8e67-45b241ce0627.png)

[2022-06-23 05:51] Angryman18 commented on #339
Yes it works on small screen but on 720p display its broken like the screenshot. Also works well on 1080p.

[2022-06-23 13:27] nirmalkc commented on #235
Here is a proposal for the support of the sponsor.

![image](https://user-images.githubusercontent.com/6359059/175309970-d8f674da-3e9c-4f13-9604-eea7b1b5bc93.png)

@atapas , please suggest appropriate text for both the button labels as well as the description text.

[2022-06-23 13:34] nirmalkc opened #340 "✨ [Feature Request]: Footer enhancements"
**Describe the bug**
Current footer is quite simple. Need more additional information about the vision of the project, stack used, purpose, contact options etc.,

**Expected behavior**
- Footer logo
- A short description about the owner
- Social media connecting options
- Description about the framework
- What can you do using the framework
- How can you start with this framework
- How can you sho

[2022-06-23 18:56] Programming-School-Pro-Coding commented on #336
Assign me @atapas

[2022-06-24 05:03] ShivamBhasin2002 commented on #302
Hi is this issue resolved or can I work on it?

[2022-06-24 06:05] Deepak8717 opened #341 "New Play : context-with-real-usecases"
Thank You!

## What's the Play about?

`context-with-real-usecases` is a recipe app that lists the recipes by cuisine type. Based on the selected cuisine app shows the list of recipes, the selected cusine and the cusine fact.
Play is aimed to showcase the real usecases of contextAPI

## What ReactJS concept will be used to create this play?
ContextAPI, useContext-hook, react-context

## Are you wi

[2022-06-24 08:00] ShivamBhasin2002 commented on #302
hey @atapas @koustov can u guide me on out of the following route on which of the routes should the search and filter box be visible?
![image](https://user-images.githubusercontent.com/57500840/175491290-1b4c2da2-6af1-41e6-ad08-d65a19e9c3ab.png)

[2022-06-24 08:20] #335 closed

[2022-06-24 08:37] atapas commented on #302
Hey @ShivamBhasin2002 I would suggest you join the discord and post it in the need-help channel for the community member to get you info faster.

Discord Server: https://discord.gg/YbmXwU5f

For the routes.. it should be available for the `/plays` and `/plays/:play-name` . IMO this issue should be fixed in the component than route?

[2022-06-24 18:17] Programming-School-Pro-Coding commented on #336
@atapas Where can i add the code ?

simple-live-chat directory is not in plays folder

[2022-06-24 18:18] Programming-School-Pro-Coding commented on #336
I guess the code is in [react-play-store](https://github.com/reactplay/react-play-store) repository

[2022-06-24 19:31] koustov commented on #336
[react-play-store](https://github.com/reactplay/react-play-store) repository not wired yet. The code still lies here. Under [simple-live-chat](https://github.com/reactplay/react-play/tree/main/src/plays/simple-live-chat)

[2022-06-25 08:46] nawed2611 commented on #340
Hey, Can I work on this issue?

[2022-06-25 12:17] #302 closed

[2022-06-25 12:39] atapas commented on #340
Hey @nawed2611 I see it is already picked by @nirmalkc. You can look into other issues and help. Thanks!

[2022-06-25 12:42] atapas commented on #283
We already have a dedicated page to add ideas. closing it.

[2022-06-25 12:42] atapas commented on #283
Ok reopening as there is a pending PR

[2022-06-25 12:44] atapas commented on #330
Hi @nova9 Did you get a chance to try it out?

[2022-06-25 12:49] #236 closed

[2022-06-25 12:57] atapas commented on #275
This issue is no more relevant as we do not make any GitHub API calls to retrieve the user info like full name and image. Hence closing this issue.

[2022-06-25 12:57] #275 closed

[2022-06-25 19:10] Kaybangz commented on #339
It looks to be working fine now, otherwise, i'd like to be assigned this issue

[2022-06-26 05:06] Angryman18 opened #347 "🐛 [Bug report]: Unnecessary Multiple Re-rendering making multiple graphql call"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
multiple unnecessary re-rendering and graphql calls are observed.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot from 2022-06-26 10-36-11](https://user-images.githubusercontent.com/63530626/175800228-c3d7b4e1-073b-4fb1-b714-676c7455fdd4.png)

[2022-06-26 06:38] Angryman18 opened #348 "🐛 [Bug report]: Header issue by refreshing the plays route or directly landing on plays route"
![Screenshot from 2022-06-26 12-08-25](https://user-images.githubusercontent.com/63530626/175802681-60790847-831c-495d-b842-ec68e75934ed.png)

[2022-06-26 06:58] Angryman18 opened #349 "🐛 [Bug report]: Play creates visual difference on development and production."
![Screenshot from 2022-06-26 12-26-40](https://user-images.githubusercontent.com/63530626/175803225-34ee170e-d1b7-452d-997f-86fbcfbe663f.png)

[2022-06-26 07:35] #348 closed

[2022-06-26 08:29] Programming-School-Pro-Coding commented on #336
Hi @Angryman18

In your play, It give me an empty page

Please tell me why ?

[2022-06-26 09:10] Angryman18 commented on #336
yes. we dont have firebase api and other secret details commit. you can join us on discord i will help you giving our config file. https://discord.gg/p5XmjnpM

[2022-06-26 09:27] atapas commented on #336
@Angryman18 we shouldn’t provide the prod keys to devs. Developer must create firebase account and get required configurations.

I would suggest to update your play’s readme and add the step on how to get the configurations and what keys are required.

If you are giving the details of how to do it to @Programming-School-Pro-Coding , make sure he documents it part of his PR.

[2022-06-26 16:50] atapas opened #352 "🐛 [Bug report]: Not able develop a play"
**Describe the bug**
As the play data has been moved to the data store, play creators are not able to fetch the data from the local meta file and develop plays.

**Expected behavior**
Able to create plays.

[2022-06-26 17:26] #352 closed

[2022-06-26 17:30] atapas commented on #349
This is fixed. Closing

[2022-06-26 17:30] #349 closed

[2022-06-26 17:32] atapas opened #353 "🐛 [Bug report]: Normalize the backend API calls"
**Describe the bug**

The Home page makes the call to list all the plays but we do not use it in the Home page. Ideally,

- Home page should make the "Featured" play call
- The play list page should make the all plays call with minimalistic data required for the thumbnails.
- Each of the play details should retrieve all required data for a play.

[2022-06-26 17:34] atapas opened #354 "✨ [Feature request]: yarn create-play should insert play details to DB"
**Is your feature request related to a problem? Please describe.**

Right now, the `yarn create-play` creates the meta data information in the JSON file which is not of any use because we get the data from DB. The command should insert the records in the relevant database tables.

[2022-06-26 22:56] frankiefab100 commented on #333
I will like to work on this.

[2022-06-27 02:54] nova9 commented on #330
I just did. "--legact-peer-deps" Work. Sometimes I had to run it twice but it worked.

[2022-06-27 02:54] #330 closed

[2022-06-27 04:36] Angryman18 opened #357 "🐛 [Bug report]: Search filter issue under production"
before we used to search using ```or``` operator in our query (where clause) but for now we have ```dev_mode``` which we have to consider while searching goes on either prodcution or development. and the intension is not to make search through ```dev_mode: true``` on our production. in order to make that working we need the 2 operator for our pattern which we are following to generate the graphql

[2022-06-27 04:38] Angryman18 commented on #333
thanks for taking this on.

[2022-06-27 08:17] atapas commented on #191
What error do you get?

[2022-06-27 18:28] Programming-School-Pro-Coding commented on #336
I can't

[2022-06-27 18:35] Programming-School-Pro-Coding commented on #336
👍

[2022-06-28 17:56] Vipul2504 commented on #191
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: react-play@1.0.0
npm ERR! Found: react@18.2.0
npm ERR! node_modules/react
npm ERR!   react@"^18.0.0" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react@"^16.8.1" from react-shimmer-effect@1.0.9
npm ERR!   react-shimmer-effect@"^1.0.9" from the root pr

[2022-06-28 17:59] yung-coder commented on #339
hey, @Angryman18  in which device there is a CSS break ..?

[2022-06-28 18:45] Programming-School-Pro-Coding commented on #336
How I can get the config file ?

[2022-06-28 19:20] Angryman18 commented on #336
Go to firebase.google.com then sign in.
Add a project
Create an webapp inside that project(not Android, not ios, only webapp)
Copy config and assign to rhe environment vars
Enable authentication
Enable database writing rules
For env var key you will find inside firebase.js inside simple live chat play
Add env car & run the play. Thats it.

[2022-06-28 19:21] Angryman18 commented on #339
768p or 720p. Please check it.

[2022-06-28 19:54] Programming-School-Pro-Coding commented on #317
Hey @koustov

How can i do it ?

[2022-06-28 19:55] Programming-School-Pro-Coding commented on #235
Nice

[2022-06-28 19:57] Programming-School-Pro-Coding commented on #217
Hey @koustov

Please give me an example

[2022-06-28 19:57] Programming-School-Pro-Coding commented on #217
Because I don't understand you

[2022-06-29 12:12] Programming-School-Pro-Coding commented on #336
Ok

[2022-06-29 17:56] yung-coder commented on #339
hey @Angryman18 , I checked it is working fine in maximum number of devices but it's breaking for a specific res like this...

![Screenshot 2022-06-29 231803](https://user-images.githubusercontent.com/94097778/176503492-718a8fa3-cc67-4ca8-9ad7-029be8f6e05b.png)

[2022-06-30 01:03] Angryman18 commented on #339
Can you fix it. We want it to appear properly on all sort of resolution.

[2022-06-30 02:54] atapas commented on #191
@Vipul2504

Please try `npm install --legacy-peer-deps` if it helps you. Thanks!

[2022-06-30 02:56] atapas commented on #280
@Sachin-chaurasiya

I think we shouldn't overengineer this one. A reasonable fix to me is to enhance the message with the search text as you suggested. Can we get it done? I see the issue has been assigned to @vasantisuthar

[2022-06-30 03:39] Sachin-chaurasiya commented on #280
@atapas , Yes.

[2022-06-30 06:51] yung-coder commented on #339
@Angryman18 yeah,

I will try my best to fix it asap..!

[2022-06-30 18:40] Programming-School-Pro-Coding commented on #336
Hey @atapas I want to the client id and client secret to run the github method

[2022-06-30 18:51] Programming-School-Pro-Coding commented on #336
It is not working

[2022-06-30 19:09] vasantisuthar commented on #280
Okay so I can update the text message.

[2022-07-01 02:42] #341 closed

[2022-07-01 06:26] yung-coder commented on #339
Hey can u assign me for this i would like to try solving it ..!

[2022-07-01 17:08] Programming-School-Pro-Coding opened #363 "[Add a Play]: Color-Guess-Game"
Thank You!

## What's the Play about?
Build a Color Guess Game that you can give the user a color and he will choose from 6 squares + there are two levels Hard and Easy, Easy has 3 squares and hard has 6 squares.

## What ReactJS concept will be used to create this play?
states

## Are you willing to take it up for implementation?
Yes

[2022-07-04 02:49] koustov commented on #357
We wouldn't need `dev_mode` variable in consideration one the PR for #328 gets merged

[2022-07-04 03:01] Angryman18 commented on #357
ok thats fine.

[2022-07-04 03:19] atapas commented on #357
@koustov what do you think the done done ETA of #328 ?

Interim let us fix the query?

[2022-07-05 10:29] #363 closed

[2022-07-05 10:39] #339 closed

[2022-07-06 13:42] Adit0507 opened #367 "[Add a Play]: Budget App"
## What's the Play about?
I would like to add a Budget app with which the user can plan their expense and categorize them really well.

Live site: https://budget-app-adit0507.netlify.app/

## What ReactJS concept will be used to create this play?
Custom Hooks, Prop Drilling, Local Storage

## Are you willing to take it up for implementation?
Yes, I'm willing to build it.

I took reference from htt

[2022-07-06 13:49] atapas commented on #367
All yours, please join our discord to discuss anything or if you need help.

https://discord.gg/S4jNTRsm

[2022-07-06 16:51] murtuzaalisurti commented on #175
@atapas I will work on this play now!

[2022-07-06 16:53] atapas commented on #175
Collaborate with @koustov on how to create a play using new framework. You will beta test it while doing that. Thanks!

[2022-07-07 09:23] Anirban-1490 commented on #134
Anyone working on this issue ?

[2022-07-07 09:45] atapas commented on #134
Nope

[2022-07-07 15:09] Anirban-1490 commented on #134
can i work on it?

[2022-07-07 15:09] Anirban-1490 commented on #134
if yes then like what i have to can you run down on it a bit

[2022-07-07 17:15] atapas commented on #134
Here you go
https://discord.gg/wtnbTNX2

[2022-07-11 03:21] koustov opened #369 "✨ [Feature request]: Create play automation workflow"
**Is your feature request related to a problem? Please describe.**
Currently, play creation is through command line plop argument. This is not flexible enough for play automation to run. Need a workflow where the entire play creation can be driven through a specific process for better handling

**Describe alternatives you've considered**
NA

**Additional context**
Create a middleman who can handle

[2022-07-12 16:07] Susmita-Dey opened #373 "[Add a Play]: TextUtils App"
Thank You!

## What's the Play about?
TextUtils App is a text-based utility app that can count words and manipulate them for case conversion and also includes many oher features.

Deployed version:- https://text-utils-six.vercel.app/

## What ReactJS concept will be used to create this play?
Function-based components and react-routing has been used to create this play.

## Are you willing to take

[2022-07-12 17:24] atapas commented on #373
@Susmita-Dey

We are changing the way play is created in react play. It's in beta. Do you want to test that feature while you create this play? Let me know, I'll enable you for that.

[2022-07-13 03:27] atapas commented on #373
Sure thing!

Just ping @koustov or @murtuzaalisurti on our Discord. They will assist you wherever needed 👍

[2022-07-14 04:17] #307 closed

[2022-07-14 04:31] atapas opened #374 "✨ [Feature request]: Convert complex CSS files to SCSS"
There are a bunch of CSS files which are complex in nature and were written in the initial days. Convert them to SCSS for better managing.

[2022-07-14 05:10] nirmalkc opened #375 "✨ [Feature request]: Tech stack page needs better categorization"
**Is your feature request related to a problem? Please describe.**
Tech stack page has a big list of brand logos, which makes it difficult to understand and crowded.

**Describe the solution you'd like**
Organized it with a contextual groups.

**Current design**
![image](https://user-images.githubusercontent.com/6359059/178903880-4b3b0d41-b4d6-4cda-ae62-4c506a81bdf7.png)

[2022-07-14 05:40] #340 closed

[2022-07-15 03:45] koustov opened #376 "✨ [Feature request]: [Automation] : Application health check for stability"
**Is your feature request related to a problem? Please describe.**
The entire idea is to avoid any kind of product failure and make sure the application receives maximum uptime without any manual intervention. It includes

1. Early detection of a problem in the preview build and notify stakeholders
2. Continuous monitoring of production build
3. Potential risk on a PR [optional]: Kind of automated

[2022-07-17 17:56] Programming-School-Pro-Coding commented on #374
Can I take it ?

[2022-07-18 01:51] 6km opened #380 "🐛 [Bug report]: Dark and light logos are not the same"
**Describe the bug**
The logo is not the same in the navbar and footer. The play sign is not in the light logo.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ['reactplay.io'](https://reactplay.io/)

**Expected behavior**
The play sign must be in the light and dark logos.

**Screenshots**
![navbar_dark_logo](https://user-images.githubusercontent.com/62352949/179434598-eb196426-9a9a-46

[2022-07-18 05:27] murtuzaalisurti commented on #175
Play creation done!
Now adding the play to the repo using the new workflow. ✅

[2022-07-18 06:20] atapas commented on #374
Sure

[2022-07-18 06:21] atapas commented on #374
@Programming-School-Pro-Coding We want to start with the footer one first

[2022-07-18 06:52] #380 closed

[2022-07-18 11:08] Surya8991 commented on #373
@Susmita-Dey I can help with adding few functions to this play.

[2022-07-18 15:30] Angryman18 opened #383 "Clicking on Featured Play makes the header hidden halfway"
![featuredPlayError](https://user-images.githubusercontent.com/63530626/179547067-062e10a4-2c65-4e72-aec4-252ff0cf89f8.png)

[2022-07-18 17:38] yung-coder commented on #383
@Angryman18 in what resolution u are seeing it ..?

[2022-07-18 18:52] koustov commented on #383
Mostly because of `position: fixed` within a flexbox.

[2022-07-18 19:32] Programming-School-Pro-Coding commented on #374
Ok

[2022-07-18 19:53] Programming-School-Pro-Coding commented on #374
Can I create a pull request for only footer section ?

[2022-07-18 19:58] Programming-School-Pro-Coding commented on #374
Hey @atapas Where is footer css file ?

[2022-07-19 01:47] atapas commented on #333
Hi @frankiefab100 Any update? The required images are posted on discord.

[2022-07-19 03:51] Angryman18 opened #384 "Footer mobile view needs a little improvement"
![Screenshot_2022-07-17-12-47-09-917_com android chrome](https://user-images.githubusercontent.com/63530626/179660722-15cdd7f0-31ea-42e0-b3f1-9dc61a78a52c.jpg)

[2022-07-19 07:02] Programming-School-Pro-Coding commented on #374
@atapas ??

[2022-07-19 07:37] Angryman18 commented on #383
768px

[2022-07-19 07:38] yung-coder commented on #383
I will check it ..

[2022-07-19 09:22] 6km opened #385 "🐛 [Bug report]: [Social Card] Part of the social card is invisible"
**Describe the bug**
Part of the social card is invisible

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Social Card](https://reactplay.io/plays/social-card/)

**Expected behavior**
The card must be next to the form

**Screenshots**
![image](https://user-images.githubusercontent.com/62352949/179715044-bc13c745-1400-4f1f-9f2b-f9f8aeae264c.png)

**Additional context**
I'll create a PR

[2022-07-19 10:07] #385 closed

[2022-07-19 10:10] atapas commented on #374
Ok @nirmalkc can you please suggest which one we can start with?

[2022-07-19 10:17] 6km commented on #347
do these requests have the same query payload?

[2022-07-19 10:55] Programming-School-Pro-Coding commented on #374
Hey @atapas

The CSS File is too long

I can't take up this issue

I tried to understand css but there are many duplicated styles.

Please assign it to another one

I am sorry

[2022-07-19 11:10] 6km commented on #353
can I help with this issue?

[2022-07-19 11:14] Angryman18 commented on #353
i guess it being managed by #371

[2022-07-19 11:15] Angryman18 commented on #384
yes you can take this up and fix it

[2022-07-19 11:16] 6km commented on #384
can you assign me?

[2022-07-19 12:42] 6km opened #388 "🐛 [Bug report]: Stargazers not shown in the README"
**Describe the bug**
Stargazers not shown in the README

**Screenshot**
![image](https://user-images.githubusercontent.com/62352949/179752794-68125f2a-2f33-4a43-bdb2-ce922573eaec.png)

[2022-07-19 12:45] atapas commented on #388
@6km depends on this: https://github.com/nastyox/Repo-Roster/issues/5

Btw, can we build something similar using JavaScript/Node?

[2022-07-19 12:56] 6km commented on #388
I noticed that the developer has stopped supporting it since 2020, can we host it?

![image](https://user-images.githubusercontent.com/62352949/179754211-de4d7edb-7faa-4b09-8cb4-3f26c8ad7bf2.png)

I also think we can use [this endpoint ](https://api.github.com/repos/reactplay/react-play/stargazers?page=1) to build an alternative using node-canvas

[2022-07-19 12:57] atapas commented on #388
Yes we can as it is opensource but it’s built on php, I do not have any idea how to deal with it. Any thoughts?

[2022-07-19 12:59] atapas commented on #388
Also if the owner of the repo responds, we can see what help we can extend to make it up. It’s good for the community.

if no response, we can take the charge.

[2022-07-19 13:11] atapas commented on #388
True, in the mean time, let’s explore options. You want to do some research, go ahead.

[2022-07-19 13:14] 6km commented on #388
I will try to host it with 000webhost as it's the most popular free hosting. I will tell you once it's ready for use.

[2022-07-19 13:41] 6km commented on #388
@atapas I couldn't host it with 000webhost it throws an error because 000webhost doesn't allow free members to install php extensions (it's something like the node.js packages)

[code]

do you know any php hosting that allows us to install extensions?

[2022-07-19 13:47] 6km commented on #383
I think you will only face this problem if you open a play from the featured plays section.

[2022-07-19 16:11] #384 closed

[2022-07-19 16:19] yung-coder commented on #383
Yes

[2022-07-19 16:40] Susmita-Dey commented on #373
Yes, add some more functionalities in the github repo if you want. I'm having exams now. So, I couldn't submit the play right now.

[2022-07-19 19:18] yung-coder opened #389 "[Add a Play]: Dev jokes"
Thank You!

## What's the Play about?

Developer jokes is a app where a random developer joke pops up every time you open it or click next joke !

Deployed version ⤵️

https://jokes-dev.netlify.app/

## What ReactJS concept will be used to create this play?

Function-based components and axios for fetching data from api !

## Are you willing to take it up for implementation?

Yes

[2022-07-20 00:08] 6km commented on #374
can I take this?

[2022-07-20 00:57] atapas commented on #374
Sure.

[2022-07-20 01:00] atapas commented on #388
Super, can you apply it on our readme?

[2022-07-20 01:07] 6km commented on #388
@atapas Unfortunately, I wasn't able to host it anywhere. I couldn't find any free hosting, I also tried hosting it on Vercel but it throws an error with the canvas, I couldn't find a fix for that error.

[2022-07-20 01:09] 6km commented on #388
please tell me if you know any hosting options

[2022-07-20 01:09] atapas commented on #388
What’s the code based on? Have you tried on render? Is the repo link available to look into?

[2022-07-20 01:10] atapas commented on #388
https://render.com/

[2022-07-20 01:11] 6km commented on #388
Yes, it's a public repo you can check it in my profile.

[2022-07-20 01:11] atapas commented on #388
One question, is this service already hosted somewhere for us to use? Or we have to host only?

[2022-07-20 01:12] 6km commented on #388
I haven't hosted it yet because I wasn't able to find any free hosting. I will take a look at **Render**

[2022-07-20 01:23] 6km commented on #388
@atapas It works now,

https://git-lister.onrender.com/api/stars/reactplay/react-play

[2022-07-20 01:45] 6km commented on #388
There is an issue, the stargazers do not appear if you put the image in a GitHub readme. I don't know why this happens.

[2022-07-20 03:00] atapas commented on #388
I see the service takes a while but return an image. What happen when you use it in Readme? What's the error? Btw, can we also limit the numbers we want to show?

[2022-07-20 09:16] 6km commented on #388
That's because I use canvas to draw a big amount of images, I will try to find a way to make it faster.

It just doesn't appear, I have also tried to use the service in an online markdown editor and it appears.

I haven't added this ability yet, I will work on it.

[2022-07-21 03:29] atapas commented on #388
So does it work now?

One more enhancement we can add to it is, that it shows the recent stargazers first. That way the person who put a star now can see their photo immediately on the readme?

[2022-07-21 07:02] Deepak8717 opened #392 "[Add a Play]: countries-statics"
Thank You!

## What's the Play about?
This play shows the country's information around the world. Information such as name, area, demographics, capital currencies, etc. You can search for a specific country or short by region.

## What ReactJS concept will be used to create this play?
You learn to work with useState, use effect hook and rest API data fetching techniques.

## Are you willing to tak

[2022-07-21 07:10] atapas commented on #392
Very exciting project @Deepak8717

Can you give the link of the API, I am interested to see what kind of data we get from it. I may suggest some additional use cases

[2022-07-21 07:27] Deepak8717 commented on #392
@atapas
https://restcountries.com/

[2022-07-21 07:47] shreyazz opened #394 "[Add a Play]: DevDASH"
Thank You!

## What's the Play about?
It is a [dev.to](https://dev.to/) dashboard which visually represents the stats of your blogs. It also lists out the blogs of an author.

## What ReactJS concept will be used to create this play?
Hooks
State
API Fetching

## Are you willing to take it up for implementation?
Yes

[2022-07-21 08:12] atapas commented on #394
@shreyazz great,

looking forward to see it.

[2022-07-21 10:10] 6km commented on #388
Yes, it works.

I have tried to implement this, but I couldn't 😥.

[2022-07-21 10:22] atapas commented on #388
I see. ok

Btw, I checked the readme on your forked repo, I see it broken. where can I test it before merge?

![image](https://user-images.githubusercontent.com/3633137/180191570-d15f7b50-e215-468b-af84-2d056bcd0d92.png)

[2022-07-21 10:39] 6km commented on #388
I updated the readme in [this branch](https://github.com/6km/react-play/tree/readme-stargazers-update), and it works.

[2022-07-21 16:56] nirban256 opened #397 "[Add a Play]: GitHub profile search"
Thank You!

## What's the Play about?
It is a play in which one's GitHub profile will be shown after entering the username for search.

## What ReactJS concept will be used to create this play?
State Management primarily and using APIs with ReactJs

[2022-07-21 16:57] alexbelgium commented on #388
Works for me too here : https://github.com/alexbelgium/hassio-addons, thanks for developing this!

[2022-07-21 17:11] 6km commented on #388
You're welcome, @alexbelgium . I hope you like it 💜.

[2022-07-22 03:00] atapas commented on #388
@6km is this the right place I am checking(take a look at the URL). It still doesn't appear for me :(

![image](https://user-images.githubusercontent.com/3633137/180353419-80abde3c-a7ad-4478-a3cf-9ebecd9b75ba.png)

[2022-07-22 06:04] nirban256 opened #398 "🐛 [Bug report]: Additional dependency method"
**Describe the bug**
After forking and cloning the repo the commands `npm install` and `yarn install` shows error.

**To Reproduce**
Steps to reproduce the behavior:
1. Fork the repo
2. Clone it
3. Run `npm install` or `yarn install`
4. See error

**Expected behavior**
To resolve the issue run `npm install --legacy-peer-deps`

**Screenshots**
If applicable, add screenshots to help explain your pro

[2022-07-22 07:34] atapas commented on #388
Above also I am seeing as a broken image... any permission issue?

[2022-07-22 07:49] atapas commented on #388
I checked with Safari.. I see the similar issue there too.. Can you please post the link that you gave me yesterday for testing on our Discord tagging everyone? Let's test it out by others too.. I may be the only black sheep here :)

[2022-07-22 07:51] #398 closed

[2022-07-22 07:52] 6km commented on #388
Sure

[2022-07-22 09:18] 6km opened #400 "🐛 [Bug report]: fetch() is not supported in IE11"
**Describe the bug**
Fetch API (used in multiple hooks) is not supported in IE11 and Opera Mini.

**Desktop:**
 - OS: Windows
 - Browser IE11

**Additional context**
- https://caniuse.com/fetch

[2022-07-22 09:21] 6km commented on #400
Btw, are you planning to support IE11?

[2022-07-22 09:24] atapas commented on #400
Internet Explorer is officially retired in June 2022. No intention of supporting it. We support MS Edge, though.

We will not fix this issue.

[2022-07-22 09:24] #400 closed

[2022-07-22 09:37] 6km opened #401 "🐛 [Bug report]: [Analog Clock] import duplication"
**Describe the bug**
import duplication in [AnalogClock.jsx](https://github.com/reactplay/react-play/blob/main/src/plays/analog-clock/AnalogClock.jsx)

**Expected behavior**
they must be imported in one line

[2022-07-22 10:19] #369 closed

[2022-07-22 11:34] #388 closed

[2022-07-22 14:12] #134 closed

[2022-07-22 17:11] Angryman18 opened #404 "Workflow Bug Fixes"

[2022-07-22 17:40] Angryman18 opened #406 "🐛 [Bug report]: Memory Game is broken"
![Screenshot from 2022-07-22 23-10-04](https://user-images.githubusercontent.com/63530626/180494505-b2af026d-8eae-4ba4-9d4f-9b0202ff6106.png)

[2022-07-22 17:43] Angryman18 commented on #404
#405

[2022-07-22 17:48] 6km commented on #406
Looks like it's an error with Hasura

![image](https://user-images.githubusercontent.com/62352949/180495405-03197079-bcdd-421c-ba0f-885b07a8f09d.png)

[2022-07-22 17:53] Angryman18 commented on #406
It works on small screen device

[2022-07-22 19:38] koustov opened #408 "🐛 [Bug report]: QR Code Generator : readme link is broken"
**Describe the bug**
For QR code generator, the link for the readme file is broken.

**To Reproduce**
- Open reactplay.io
- `Browse` all plays
- Locate and open `QR Code Generator`
- Click on the link for readme file

**Expected behavior**
NA

**Screenshots**
NA

**Desktop (please complete the following information):**
NA

**Smartphone (please complete the following information):**
NA

**Additiona

[2022-07-22 19:58] koustov opened #410 "🐛 [Bug report]: Idea page "Create" button needs to open create form in dev mode"
**Describe the bug**
Create workflow has been merged. One can create a play from the nav bar which redirects the application to `create play` page. There is one more place that should open the create workflows is the `Ideas` page. Currently it's pointing towards the markdown file.

**To Reproduce**
Steps to reproduce the behavior:
- Open the app in dev mode
- Navigate to `Ideas` page
- Click `Crea

[2022-07-23 02:31] #406 closed

[2022-07-23 04:31] #404 closed

[2022-07-23 04:35] #410 closed

[2022-07-23 04:39] #408 closed

[2022-07-23 09:59] Angryman18 commented on #357
let us close this issue i think

[2022-07-23 10:00] atapas commented on #357
Fixed

[2022-07-23 10:00] #357 closed

[2022-07-23 10:09] #383 closed

[2022-07-23 11:28] #401 closed

[2022-07-23 11:29] atapas commented on #354
No more relevant.

[2022-07-23 11:29] #354 closed

[2022-07-23 18:45] EOEboh opened #414 "[Add a Play]: Crypto Price Tracker"
Thank You!

## What's the Play about?
It's a simple cryptocurrency app that tracks and returns the latest cryptocurrency prices using an API.

In addition, I might also add the latest cryptocurrency news from another API

## What ReactJS concept will be used to create this play?
- Redux Toolkit to fetch data
- React Hooks
- Redux Persists

## Are you willing to take it up for implementation?
Yes I

[2022-07-24 05:07] atapas opened #415 "✨ [Test Issue]: FossIndia Demo"
Created for Foss Indis Demo

[2022-07-24 08:07] EOEboh opened #416 "🐛 [Bug report]: Cannot prompt details and generate id"
**Describe the bug**
A clear and concise description of what the bug is.

I cannot create a play. The "Create Play" button keeps returning a blank screen.

**To Reproduce**
Steps to reproduce the behavior:

This particular step in the "Create Play Guide" below does not pop up for me.

`Fill the information and submit. Paramter details

Field`

**Expected behavior**
An information containing differ

[2022-07-24 08:23] atapas commented on #416
What's your OS?

Could you please post some screens of the error?

[2022-07-24 08:32] EOEboh commented on #416
I think I kind of mistakenly skipped the questions after the authentication.

How do I prompt the detail-questions again? The questions that describe your project

[2022-07-24 08:34] atapas commented on #416
@koustov can you plz help here?

[2022-07-24 09:09] murtuzaalisurti commented on #416
@atapas can you check if the play created in the db?

[2022-07-24 10:42] koustov opened #417 "✨ [Feature request]: Update play url to for better SEO management"
**Is your feature request related to a problem? Please describe.**
Currently play url contains play_id which is no suitable for SEO. Ideally it should have the play name url encoded along with owner account name.

**Describe the solution you'd like**
- Current: https://reactplay.io/plays/<play_id_in_guild_format>
- Expected: https://reactplay.io/play/<user_name>/<play_name>

**Describe alternative

[2022-07-25 06:17] atapas commented on #416
@EOEboh What was the name given for the play? So that I can see if it has been created in the DB?

[2022-07-25 06:20] atapas commented on #415
The demo is done. Closing the issue.

[2022-07-25 06:20] #415 closed

[2022-07-25 10:51] EOEboh opened #419 "[Add a Play]: Travel App"
Thank You!

## What's the Play about?
This is a web app that returns the nearest restaurants, hotels and other attractions based on the user's geographical location.

## What ReactJS concept will be used to create this play?
Hooks in React such as useState, UseRefs
Axios in React to fetch data.

## Are you willing to take it up for implementation?
Yes I am. Already working on it

[2022-07-25 11:04] EOEboh commented on #416
I already resolved it. This issue can be closed now. Thanks

[2022-07-25 11:04] #416 closed

[2022-07-25 11:37] 6km opened #420 "🐛 [Bug report]: Can create a play in production"
**Describe the bug**
I'm allowed to create a play in production

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [reactplay.io/plays/create](https://reactplay.io/plays/create)

**Expected behavior**
I mustn't be able create a play in production

**Screenshots**
![image](https://user-images.githubusercontent.com/62352949/180768713-7fbee03e-8042-47d8-bac1-fac1169f7761.png)

[2022-07-25 11:39] atapas commented on #420
Ah, are you accessing the URL directly?

[2022-07-25 11:42] 6km commented on #420
Yes, I created a play through [reactplay.io/plays/create](https://reactplay.io/plays/create)

[2022-07-25 11:44] atapas commented on #420
Quite a tester you are @6km :)

[2022-07-25 12:04] atapas commented on #420
Btw, do you want to attempt fixing it too? @6km

[2022-07-25 14:02] Angryman18 commented on #353
[Screencast from 25-07-22 07:31:38 PM IST.webm](https://user-images.githubusercontent.com/63530626/180795885-9de4a7ff-dfa0-4c49-981d-7808e9d11121.webm)

this issue isnt solved i guess.

[2022-07-25 14:44] EOEboh commented on #419
@atapas could you assign this to me please?. Can I proceed?

[2022-07-25 14:45] atapas commented on #419
Done

[2022-07-25 14:49] EOEboh commented on #419
Thank you

[2022-07-25 15:37] Sachin-chaurasiya opened #421 "✨ [Feature request]: Add user stories to play ideas"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-07-25 16:27] atapas opened #422 "✨ [Feature request]: Implement the Sign Out Functionality"
**Is your feature request related to a problem? Please describe.**
We have a sign-in option as part of the create flow, which will come next as part of the like feature. We will need a sign-out (explicit) from the app.

**Describe the solution you'd like**
An icon in the header for signing out. Show it only if the user is logged in.

[2022-07-25 17:13] Deepak8717 opened #423 "🐛 [Bug report]: Play:Navbar - change the common css class name to specific class name"
**Describe the bug**
Play navbar has common css names like `.card`, `.heading` . It messes up and overrides other's work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to nabar repo
2. then navbar.css
3. rename the common CSS name to something unique.

**Expected behavior**
Just rename the CSS class name of navbar play to something unique.

[2022-07-25 18:19] Programming-School-Pro-Coding commented on #336
.

[2022-07-25 18:30] Surya8991 commented on #373
@Susmita-Dey I have added extract text and numbers do check it out . Created a pull request too!.

[2022-07-25 18:33] Surya8991 opened #424 "✨ [Feature request]: Dark mode/Light on react play"
Hi ReactPlay Team ,As a developers I would love to see ReactPlay in dark mode too hoping it will be released soon.

[2022-07-25 19:30] #419 closed

[2022-07-25 19:30] #414 closed

[2022-07-26 01:27] atapas commented on #373
What’s the PR link?

[2022-07-26 01:40] Surya8991 commented on #373
1sec let me add reverse add function and i will add the project directly to play section and give you  pr link

[2022-07-26 02:51] #397 closed

[2022-07-26 02:58] 6km opened #428 "✨ [Feature request]: Show current user in the navbar"
**Is your feature request related to a problem? Please describe.**
Show current user information in navigation bar on authentication, if not, show a sign-in button.

**Additional context**
I think that this feature can be implemented with #422

[2022-07-26 06:38] #423 closed

[2022-07-27 06:52] atapas opened #429 "✨ [Feature request]: Allow creators to edit their plays"
**Is your feature request related to a problem? Please describe.**
We have a create work flow to create a play. Allow user to edit all the play meta data.

**Describe the solution you'd like**
Create a play available only on dev mode but editing an existing play meta data should be available on prod mode as well. It must recognize the play creator through an auth process and allow to edit any meta

[2022-07-28 09:49] EOEboh opened #430 "[Add a Play]: Markdown Editor"
Thank You!

## What's the Play about?
A basic markdown editor for producing markdown formatted texts

## What ReactJS concept will be used to create this play?
- useState
- onChange event handler
- props

## Are you willing to take it up for implementation?
Yes I am.

[2022-07-30 20:26] 6km opened #434 "✨ [Feature request]: Add a button to choose a random play"
**Is your feature request related to a problem? Please describe.**
No, but it can be a good addition, especially if the user is puzzled and doesn't know which play to choose.

**Describe the solution you'd like**
Add a button in the plays list page that opens a random play

[2022-07-31 10:02] harshsinghatz opened #435 "[Add a Play]: Image Carousel"
## What's the Play about?
- Image Carousel that has click navigation for desktop and touch(swipe) navigation for mobile

## What ReactJS concept will be used to create this play?
- Typescript
- Touch and click events

## Are you willing to take it up for implementation?
- Yeah!!

[2022-07-31 10:09] harshsinghatz commented on #434
But right now we have different difficulty levels for the plays which can give some useless play recommendations to the user

Maybe we can target the beginners and only give random plays of beginner tag!!!

Let me know what you think if this seems like a nice feature. I can pick this up

[2022-07-31 19:09] koustov opened #436 "🐛 [Bug report]: Update json-graphql-parser"
**Describe the bug**
Use the latest `json-graphql-parser/v2` for latest query updates. Its a feature request, not a bug as such

[2022-08-01 04:39] #436 closed

[2022-08-01 12:47] atapas commented on #420
@koustov please review this one.

[2022-08-02 02:48] atapas commented on #389
This is done.

[2022-08-02 02:48] #389 closed

[2022-08-02 02:49] atapas commented on #320
This error is no more observed in the last 30 days. Hence closing.

[2022-08-02 02:49] #320 closed

[2022-08-02 02:54] koustov commented on #353
@Angryman18 , I didn't get the issue . Are you saying that, there shouldn't be any more API calls to list PLAYS once its done in `/plays` route? Please explain

[2022-08-02 02:54] atapas commented on #283
This is not needed as the PR is closed,

[2022-08-02 02:54] #283 closed

[2022-08-02 02:56] atapas commented on #280
@vasantisuthar / @Sachin-chaurasiya this issue is around for a long time. Can any of you please take care?

[2022-08-02 02:56] atapas commented on #235
This is done.

[2022-08-02 02:56] #235 closed

[2022-08-02 02:56] #175 closed

[2022-08-02 02:57] atapas commented on #164
@tejinder-sharma Are you planning this one?

[2022-08-02 02:57] atapas commented on #102
Hey @Sachin-chaurasiya

Are you on it?

[2022-08-02 03:00] atapas commented on #191
@Vipul2504 Are you still working on this one?

[2022-08-02 03:04] koustov opened #438 "✨ [Feature request]: Automatic tweet about newly created play"
**Is your feature request related to a problem? Please describe.**
The idea is to submit an automatic tweet as soon as a new play gets merged to `main`. It will remove, all manual intervention and will reduce human error.

**Describe the solution you'd like**
- Gather the creator's tweeter handle (optional) during play creation
- Create a standard template for `new play tweet`
- Create a git hook

[2022-08-02 03:05] atapas commented on #434
Yeah, I think this feature request is like how we can ask Netflix to select a movie for us!

I agree with @harshsinghatz about the use case. I think this should be built with some intelligence. Like based on the kind of plays visited by the users in the past, I recommend one. We can leverage both levels and tags for this purpose. However, if the user is new or we do not have the historical data bu

[2022-08-02 03:07] koustov opened #439 "✨ [Feature request]: Bring top creator of the month and leader board"
**Is your feature request related to a problem? Please describe.**
A suggestion is to create a space on the home page where `top play creator of the month` and `leaderboard` can be placed.

Note: this request doesn't talk about `most liked` plays for now.

**Describe the solution you'd like**
NA

**Describe alternatives you've considered**
NA

**Additional context**
Need to review the screen befor

[2022-08-02 03:14] koustov opened #440 "✨ [Feature request]: Create individual Contributor Page"
**Is your feature request related to a problem? Please describe.**
The application already has the capability to filter plays by the creator and that's not all about the user. A user has many more touch points across the application. Refer to the below list to understand the scope of this feature as a whole.

In scope (for this issue0:
- Listing user-related plays
- User profile information (name,

[2022-08-02 03:20] harshsinghatz commented on #434
@atapas Yeah, that makes sense!!

[2022-08-02 03:22] Angryman18 commented on #353
yes that was what i tried to show there. I think we dont make the call when user goes into a play but if user landing directly on a play only then we should me making the api call ?

[2022-08-02 05:02] Sachin-chaurasiya commented on #280
Sure @atapas, @vasantisuthar let me know if you need any help on this.

[2022-08-02 06:09] #392 closed

[2022-08-02 06:49] Sachin-chaurasiya commented on #102
Hey @atapas , Didn't get a chance to look further.

[2022-08-02 06:57] vasantisuthar commented on #280
@Sachin-chaurasiya does it really need to be modified, I guess we shouldn't now as the page looks clear to me.

[2022-08-02 06:59] Sachin-chaurasiya commented on #280
@vasantisuthar , we can do something like this.

![image](https://user-images.githubusercontent.com/59080942/182311960-a7c6ee37-c40f-4eb7-9b68-1e8c3f6ea7ea.png)

[2022-08-02 07:00] atapas commented on #102
Will you work on it in the near future?

[2022-08-02 07:03] Sachin-chaurasiya commented on #102
Yes @atapas , I will start working on it this weekend.

[2022-08-02 07:12] vasantisuthar commented on #280
Cool I will do it, I tried to do it before but the search bar wasn't shown up on the browser, so waited for that.

[2022-08-02 13:07] ammaaraslam opened #442 "[Add a Play]: React Gradients"
## What's the Play about?
A list of cool gradients that can be easily copied as css/tailwindcss code to be used in your application.

## What ReactJS concept will be used to create this play?
- React functional components
- Hooks
- JSON objects (storing data on gradients)

## Are you willing to take it up for implementation?
Yupp!

[2022-08-02 15:21] #417 closed

[2022-08-02 15:41] 6km commented on #434
I agree with you @atapas, @harshsinghatz. I think this feature will be a great way to make users actively use ReactPlay if it's based on their previous visits.

[2022-08-02 19:12] koustov opened #443 "🐛 [Bug report]: Play snap is broken: Cover image is not appearing"
**Describe the bug**
When you share a play on any social media, the cover image is not appearing. Need to update the meta tag with appropriate cover image.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `reactplay.io`
2. List plays
3. Open any play which has a local cover image
4. Copy the URL
5. Paste the URL on social platforms/IMs

**Expected behavior**
The play should appear with

[2022-08-02 21:16] joshi-kaushal opened #444 "✨ [Feature request]: Migrating Existing Projects into TypeScript"
**Is your feature request related to a problem? Please describe.**
Most of our plays are in JavaScript. Although that's totally fine, it would be feasible to have a typecasting system to avoid any possible errors.

**Describe the solution you'd like**
I would like to migrate some of the projects to TypeScript. As I recently learnt TypeScript, I can migrate existing code into TS without much hassle

[2022-08-03 03:51] atapas commented on #443
@Sachin-chaurasiya, this will be a high-priority item to fix. Please let us know if you need any help/prior details. Let's go.

[2022-08-03 04:08] Sachin-chaurasiya commented on #443
Sure @atapas.

[2022-08-03 11:50] vish-han opened #445 "[Add a Play]: Do your Due"
Thank You!

## What's the Play about?
It is a To-Do app to store your daily dues but it is hosted on firebase and firestore so it will not be vanished after you closed the app.

## What ReactJS concept will be used to create this play?
Advance features like Hooks and Integration of Firebase in the React App is used to create this Play.

## Are you willing to take it up for implementation?
Yes !!!!

[2022-08-03 12:09] koustov opened #446 "🐛 [Bug report]: Direct play url not working"
**Describe the bug**
If you copy a play url and create an anchor tag or share social media, upon clicking that the application lands on 404 page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'reactplay.io'
2. Click on 'Browse'
3. Open any play
4. Copy the url
5. Paste the URL on IM or social media
6. Hit the pasted url

**Expected behavior**
Should land on appropriate play

**Screens

[2022-08-03 12:43] #446 closed

[2022-08-03 19:31] #420 closed

[2022-08-04 08:29] #333 closed

[2022-08-04 11:38] Deepak8717 opened #451 "🐛 [Bug report]: Flickring with expanding card play"
**Describe the bug**
When clicking on the active card would flicker for a second,.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
There shouldn't be any flickering and card should transition smoothly.

**Screenshots**

**Desktop (please complete the following information):**

**Smartphone (please complete the following information):**

**Additional context**
Add any othe

[2022-08-04 19:33] yung-coder opened #453 "[Add a Play]: Code editor"
Thank You!

## What's the Play about?

It is a code editor for html css and js it is like a clone of codepen ..

Deployed app-:https://editor-clone.netlify.app/

## What ReactJS concept will be used to create this play?

Function based components and  new packages  codemirror and codemirror2  !

## Are you willing to take it up for implementation?

Yes

[2022-08-04 19:46] vasantisuthar commented on #280
Will submit this on Sunday

[2022-08-05 09:59] frankiefab100 opened #454 "[Docs update]: Typo errors in Create Play Guide"
I found some typographical errors and spelling mistakes in the `CREATE A PLAY.md` file.

Sorry, this is not a bug report. I didn't see a `Docs update` template.
I will be implementing the changes.

[2022-08-05 10:01] atapas commented on #454
@frankiefab100

Do you want to take up for fix? Also not clear with explanation like what are the issues?

[2022-08-05 10:45] #454 closed

[2022-08-05 19:15] koustov opened #456 "✨ [Feature request]: Use slug for managing plays"
**Is your feature request related to a problem? Please describe.**
Currently, plays are identified by the play's name, which can have restricted characters. The ideal way of handling it would be through slug. This will also increase readability.

**Describe the solution you'd like**
Add a column called slug in db and maintain the URLs through slug

**Describe alternatives you've considered**
NA

*

[2022-08-06 01:00] Shivam-Katare opened #458 "[Add a Play]: Do you know the Image?"
Thank You!

## What's the Play about?
This play will look like an image gallery where users can explore many different types of images, and by hovering over it, they can see the video of that place and also listen about that.

https://user-images.githubusercontent.com/91705825/183227342-78745a03-ae60-4083-948b-037f8674ae75.mp4

## What ReactJS concept will be used to create this play?
JSX, useStat

[2022-08-06 02:29] 6km opened #460 "🐛 [Bug report]: Unused images"
**Describe the bug**
Some images aren't used since the new play creation workflow.

**Additional context**
These images were used in **CREATE-PLAY.md**, but now they aren't.

[2022-08-06 15:31] koustov opened #463 "✨ [Feature request]: Lazy load for home page"
**Is your feature request related to a problem? Please describe.**
Currently, the entire home page gets loaded at once, which might not be very useful as the user might not travel to the bottom of the page every single time.
So the idea of this issue is to load individual sections when the user is scrolling for it.

**Describe the solution you'd like**
Lazy loaded sections.

**Describe alternative

[2022-08-06 18:44] frankiefab100 opened #464 "[Add a Play]: Star rating"
Thank You!

## What's the Play about?
A react component that allows a user to easily select their preferred star rate.

## What ReactJS concept will be used to create this play?
Functional components and useState hooks

## Are you willing to take it up for implementation?
Yes

[2022-08-06 19:25] Sachin-chaurasiya commented on #443
Hey @koustov , Some Play has a cover image and some do not. which has a cover I can see a preview like this.
<img width="522" alt="image" src="https://user-images.githubusercontent.com/59080942/183263334-be68dd93-ba3b-41f6-b6bc-5a2f704f9caf.png">

It will be greater if you could share some examples like what are we expecting precisely here.

[2022-08-08 11:14] cent-kanayo opened #467 "🐛 [Bug report]: No login or authentication prompt after clicking looking."
**Unable to login**
The create button isn't redirecting me after clicking.
I have forked and cloned the repo to my local machine.
I have also install all dependencies
I ran npm start and on the landing page the create button is not authenticating me.

[2022-08-08 15:16] Sachin-chaurasiya opened #468 "🐛 [Bug report]: Plays page Is broken when we apply the filter"
**Describe the bug**
On the plays page when we apply any filter, the plays become blank like below.
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/59080942/183450480-0b9b7233-322b-4caa-bf39-5584c799cdd9.png">

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the plays page
2. Add any filter especially creator
3. Now apply the filter
4. Page will go blank

*

[2022-08-09 01:18] #468 closed

[2022-08-09 01:21] #460 closed

[2022-08-09 01:23] atapas commented on #467
@cent-kanayo whats your operating system?

[2022-08-09 03:57] #456 closed

[2022-08-09 08:04] atapas opened #470 "🐛 [Bug report]: A play gives "Not Found" error when accessing after filter"
**Describe the bug**
A play gives "Not Found" error when accessing after filter

**To Reproduce**
Steps to reproduce the behavior:
1. Go to React Play list page
2. filter by a creator, Say "Tapas Adhikary"
3. Click on any of the filtered play.

Issues
1. We do not see the play. It says play not found.
2. Many of the play's cover image doesn't show up in the filtered list.

**Expected behavior**
Th

[2022-08-09 08:51] #470 closed

[2022-08-09 08:52] Angryman18 opened #472 "🐛 [Bug report]: Filter plays including tag is making no impact"
If we filter a play by tags it works but if we filter the plays with tags with a combination of other criteria, the tag selection is of no use as it never impact the criteria.

[Screencast from 09-08-22 02:15:36 PM IST.webm](https://user-images.githubusercontent.com/63530626/183607286-8ec960f3-ff90-4985-ad99-0ae83213bf7f.webm)

[2022-08-10 14:09] #442 closed

[2022-08-10 15:43] koustov opened #476 "🐛 [Bug report]: Readme link is broken in playmeta"
**Describe the bug**
Upon clicking the `readme` link, it's falling into a 404 page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'reactplay.io'
2. Open any play
3. Click readme link
4. See error

**Expected behavior**
It should open a new window with blog or readme

**Screenshots**
NA

**Desktop (please complete the following information):**
NA

**Smartphone (please complete the foll

[2022-08-11 11:33] ammaaraslam commented on #318
Anyone working on this?

[2022-08-11 11:48] Sachin-chaurasiya opened #479 "🐛 [Bug report]: The Console has bunch of warnings"
**Describe the bug**
A clear and concise description of what the bug is.

The console has a bunch of warnings like
- un used variables
- missing dependency
- unnecessary computation
- And more

**To Reproduce**
Steps to reproduce the behavior:

1. Start development server
2. Open the console
3. See the warnings

**Expected behavior**
A clear and concise description of what you expected to happen.

[2022-08-11 11:56] Sachin-chaurasiya commented on #318
Hey @ammaaraslam, No one is working on this issue. should I assign this to you?

[2022-08-11 12:09] ammaaraslam commented on #318
Ya sure

[2022-08-13 14:41] koustov opened #486 "🐛 [Bug report]: Home page being rendered while refreshing"
**Describe the bug**
When you are refreshing any page other that `home` page, initially home page is being rendered for a while.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any play or go to `/plays` path
2. Refresh the page
3. Notice home page contents are being rendered for some time

**Expected behavior**
While loading is going on, it should show the animation, not home page

**S

[2022-08-13 16:31] ammaaraslam opened #487 "🐛 [Bug report]: Tweets not displaying in Homepage"
**Describe the bug**
The tweets getting fetched are not being displayed in the homepage under the **"What Our Community Says"** section and instead the **Spinner** is shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the homepage
3. Scroll down to the **"What Our Community Says"** section.
4. You'll see a spinner instead of the tweets.

**Expected behavior**
Fetched tweets should

[2022-08-13 16:40] mayukh551 opened #488 "🐛 [Bug report]: Defining what a 'play' is"
**Describe the bug**
In Readme.md, Clear definition of 'play' is required to avoid confusion
Go to: **How to Set up ReactPlay for Development?**

**Screenshots**
<img width="652" alt="Capture" src="https://user-images.githubusercontent.com/82811112/184503017-a62a37a6-10bc-4dc5-be21-be6919e65f32.PNG">

[2022-08-14 03:16] #487 closed

[2022-08-14 04:08] #488 closed

[2022-08-14 04:54] ammaaraslam opened #492 "✨ [Feature request]: Change how contributors are displayed in the homepage"
**Describe the solution you'd like**

Currently the **Contributors** section in the homepage consists of only 29 contributors out of 39 *(this is caused by the GitHub API's pagination system - each page returns only 30 items)* and each contributor is represented inside a circle. Here are few features to be implemented on to the contributors section *(suggested by @atapas)*.

- Based on the number

[2022-08-15 00:37] #443 closed

[2022-08-15 04:35] ammaaraslam opened #495 "🐛 [Bug report]: Website title is the same on every page"
**Describe the bug**
The `title` for the website on every page is the same _(ReactPlay - One app to learn, create, and share ReactJS projects)_.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any page on the website, apart from the homepage.
2. The title is same for every page

**Expected behavior**
The title should change according the page that the user is currently in.
**For exampl

[2022-08-15 07:56] #102 closed

[2022-08-16 04:56] #318 closed

[2022-08-16 09:57] #430 closed

[2022-08-16 13:32] EOEboh commented on #464
Hey @frankiefab100 have you started development on this?

[2022-08-16 13:58] EOEboh commented on #424
Hello @atapas can you assign this issue to me?

[2022-08-16 14:40] Sachin-chaurasiya opened #498 "✨ [Feature request]: Add Error Boundaries"
As the application grows, there might be chances that some components are error-prone and result in a blank page issue. so to overcome this issue we should add Error Boundaries that will render the fallback UI when there is an error and the user will be able to go back or try again.

cc : @atapas @koustov

[2022-08-17 10:55] frankiefab100 commented on #464
Yes, I have

[2022-08-18 08:58] 6km commented on #374
Still not done, I have to work on it again.

[2022-08-18 15:12] dangvu0502 commented on #472
Hello
Is this still available for contribution?
I'd love to work on it

[2022-08-18 15:14] atapas commented on #472
Yes plz

[2022-08-19 04:31] #453 closed

[2022-08-19 04:47] atapas opened #500 "✨ [Feature request]: Enhance The Trending Plays on the Home Page"
**Is your feature request related to a problem? Please describe.**
It is an enhancement request to tackle the Trending Plays on the Home Page. It is hardcoded in DB now. Change it based on the number of likes.

**Describe the solution you'd like**
Query the plays in sorted order of "likes" and show 4 plays got the most liked.

![image](https://user-images.githubusercontent.com/3633137/185544347-f1

[2022-08-19 05:16] ammaaraslam commented on #500
Hi @atapas! I'll do it.

[2022-08-19 05:21] Sachin-chaurasiya opened #501 "✨ [Feature request]: Add umami analytics for reactplayIo"
Open-source Umami is an alternative to Google Analytics that focuses on privacy. Umami provides you with a powerful web analytics solution that respects your users' privacy. Furthermore, you have complete control over your data when you self-host [Umami](https://umami.is/docs/about).

https://blog.reactplay.io/how-to-self-host-your-own-website-analytics-with-umami

[2022-08-19 13:04] #501 closed

[2022-08-19 13:13] ShaileshParmar11 opened #503 "✨ [Feature request]: Add E2E test for react-play"
Add basic test for home page with cypress which is described in the wiki
https://github.com/reactplay/react-play/wiki/End-to-End-Test-Scenarios#home-page

Home Page

- [x] The Contributors List should be rendered
- [x] The Twitter Community tweet section must be rendered.
- [x] The Browse button must be present
- [x] The GitHub button must be present
- [x] The Header elements must be present

[2022-08-19 14:52] Sachin-chaurasiya opened #504 "✨ [Feature request]: Add umami in the tech stack page"
As part of this PR, we have added self-hosted analytics for our platforms, and we should add the umami to the tech stack page.

[2022-08-19 14:55] Sachin-chaurasiya opened #505 "✨ [Feature request]: Add customisation to umami dashboard."
Add customisation to the umami dashboard.
@atapas, Please add the action items here.

[2022-08-19 16:45] ShaileshParmar11 opened #508 "🐛 [Bug report]: The contributor's section is behaving weird"
**Describe the bug**
A clear and concise description of what the bug is.
The contributor's section is behaving weird

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the contribution section and you will be able to see an error, for more details please watch attached video

**Expected behavior**
A clear and concise description of what you expected to happen.
section should render proper

[2022-08-19 17:11] ShaileshParmar11 commented on #508
After some research, i found that the API limit is exceeded for my IP
[code]

[2022-08-19 17:17] ShaileshParmar11 commented on #508
I did confirm by switching the network! It's working fine now!

[2022-08-19 17:17] #508 closed

[2022-08-20 08:43] AbhiPakhare opened #512 "[Add a Play]: React Calculator"
Thank You!

## What's the Play about?
- It's a simple React Calculator

## What ReactJS concept will be used to create this play?
- I am experimenting with React hooks and try to implement the react calculator.

## Are you willing to take it up for implementation?

- Yes !!!!I would love to take it up for implementation.

[2022-08-21 14:03] Angryman18 commented on #498
sounds great. yes we need error boundary.

[2022-08-21 14:05] Angryman18 commented on #486
yes its weird. this issue relates with the filickering issue.

[2022-08-21 14:08] Angryman18 commented on #500
yeah but we are again ending up making the plays call on the homepage. i think we do the sorting thing backend and send most liked plays on same graphql call meaning no frontend changes will be required. looking forward for other thoughts

[2022-08-21 16:00] atapas commented on #500
The UI structure won't change. Ive shared the query with @ammaaraslam that will fetch plays sorted descend on likes. We just need to use it using our service queries whatever existing ui needs.

[2022-08-22 06:20] #504 closed

[2022-08-22 09:38] ammaaraslam opened #515 "🐛 [Bug report]: Build fails due to newer version of react-loader-spinner"
**Describe the bug**
A newer release of `react-loader-spinner` seems to be causing a breaking changes, thus causing the build of ReactPlay to fail.

**The build fails with the following error:**

**Expected behavior**
Build should pass.

**Additional context**
Reverting the version of `react-loader-spinner` will fix the issue.

[2022-08-22 10:10] #515 closed

[2022-08-22 14:52] Programming-School-Pro-Coding opened #517 "✨ [Feature request]: Add Section for React Play Posts on blog.reactplay.io"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Add Section or Page or Both of them for React Play Posts on blog.reactplay.io

**Describe alternatives you've considered**

**Additional context**

[2022-08-22 15:53] dangvu0502 commented on #472
I found this issue was caused by package "json-graphql-parser".

this is how i debugged
https://drive.google.com/file/d/15vVL2Tx5d-esUTAfjhlMlIyE3fBlvn-Y/view

this is how "json-graphql-parser" work
https://drive.google.com/file/d/11AKK1CLj9h4WSQqPrMfMVN4PM_cy4UV9/view

[2022-08-22 15:55] atapas commented on #472
Can you please give access to the docs?

[2022-08-22 15:56] dangvu0502 commented on #472
you mean this https://www.npmjs.com/package/json-graphql-parser ?

[2022-08-22 15:57] Angryman18 commented on #472
give access

[2022-08-22 16:01] Angryman18 commented on #472
i wonder how this can be an issue from a package since filtering with tags doesnt even make any graphql call.

[2022-08-22 16:08] dangvu0502 commented on #472
Hmm... if you take a look at video how "json-graphql-parser" work.
You can see when you  filter the plays with tags with a combination of other criteria, it throws error.
"json-graphql-parser" can not parse obj to graphql query, i think this error affect api call.

[2022-08-22 16:36] Angryman18 commented on #472
thanks for noticing it. @koustov will be up there to fix it.

[2022-08-22 17:44] koustov commented on #472
I will look into it some time. BTW, this is another open-source element, https://github.com/koustov/json-graphql-parser feel free to update if you face any issue

[2022-08-22 17:54] koustov commented on #500
On graphql queries, if we need to sort it in the backend then also the front needs to be updated as the function name will get changed. Ideally , we just need to drop the featured column from the query and add order_by in the front end.

Note: The above sentence makes sense only when MOST LIKED = TRENDING.I consider both are different, trending should be based on date range, something like `trendi

[2022-08-23 02:29] Angryman18 commented on #472
yes i checked yesterday and found the issue. its coming from processor.js and line number 101 where code is trying to push something inside an object instead of an array. i am still weak in graphql so i couldn't go further to fix it.

[2022-08-23 02:33] Angryman18 commented on #500
oh yes query has be changed also. i also agree for both to be different. trending plays can be measured from page views or using some different mechanism if there.

[2022-08-23 03:14] atapas commented on #500
That's correct about trending. We need to have a time range associated with it. When I think about the trendy and plays, I liked the model hashnode uses for trending tags, blogs, etc. It's not like any chart or graphs but a list of items on a time range. I'm inclined towards the same.

https://hashnode.com/explore/blogs?category=week

Also, we should go iterative in our approach. As we have the li

[2022-08-23 03:57] ammaaraslam commented on #500
I agree with this @koustov, I too have the same opinion to Most Liked and Trending plays. I think it's better as @atapas suggested to go with a starting algo first. This can then be altered down the road, depending on the UI structure.

Anyways, I'll start working on the algo using the JS services for query. I've decided to base the query only on number of likes in a specific time range as we stil

[2022-08-23 04:14] atapas commented on #500
I think so. @koustov what's your take?

[2022-08-23 06:05] atapas commented on #500
I've some more findings.

As we have the Umami integrated, we have better ways to get the page view already for a period(week and month is what I am suggesting to start with)

URI: GET /api/website/{id}/pageviews

Note: Gets pageviews within a given time range.

Parameters

[code]

Sample Response

[code]

Please check more details from here: https://umami.is/docs/api

[2022-08-23 16:31] frankiefab100 opened #518 "ReactPlay misspelled in the CLI"
ReactPlay is misspelled as `rectplay` during installation in CLI

![reactplay misspelling](https://user-images.githubusercontent.com/46662771/186211968-e07be347-6424-42b5-a714-e55c8fb6b020.JPG)

[2022-08-23 16:35] ammaaraslam commented on #518
Hi @frankiefab100, thanks for noticing it. Will fix it ASAP.

[2022-08-23 16:51] frankiefab100 commented on #518
Alright👍🏼

[2022-08-23 18:59] ShaileshParmar11 opened #519 "✨ [Feature request]: Cypress setup for react-play"
setup cypress for react-play for e2e testing!

[2022-08-24 07:35] #519 closed

[2022-08-24 08:23] ammaaraslam commented on #518
This issue has been fixed with this [PR](https://github.com/reactplay/create-react-play/pull/25) on the [`create-react-play`](https://github.com/reactplay/create-react-play) repo

[2022-08-24 08:23] #518 closed

[2022-08-26 21:32] Deevyn9 opened #524 "🐛 [Bug report]:"
**Describe the bug**
Inconsistent horizontal margin on the navbar

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'The reactplay site'
3. Scroll to the ''hero page"
4. See error

**Expected behavior**
Same space between the edge of screen and the elements on both sides of the navbar

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complet

[2022-08-27 06:10] Deepak8717 opened #525 "✨ [Feature request]: Geography now searchbox feature"
**Is your feature request related to a problem? Please describe.**
Added a search box feature to geography now

**Describe the solution you'd like**
an auto-suggestion search box feature that shows the country's suggestion on the input, highlights the country, and fetch the country details.

[2022-08-27 13:31] atapas commented on #524
Hey @Deevyn9

Thanks for reporting it. Could you please post a screenshot of the issue?

[2022-08-27 13:31] yung-coder opened #527 "[Add a Play]: Pokemon app"
Thank You!

## What's the Play about?

So , it's kinda fun type app it will give details of a specific pokemon on search like it's hp, moves and etc....

## What ReactJS concept will be used to create this play?

Axios for fetching data from api and react hooks..!

## Are you willing to take it up for implementation?

Yes

[2022-08-27 13:42] #495 closed

[2022-08-27 13:55] #503 closed

[2022-08-27 15:15] atapas commented on #505
- Logo
- Name
- Footer(Mention ReactPlay)

[2022-08-27 16:54] Angryman18 opened #528 "🐛 [Bug report]: Plays needs to get sorted as per created date"
**Describe the bug**
new upcoming plays are weirdly appearing on top or some at bottom or some at middle. we need to sort plays are per date when its created at decending order so that user can acknowledge about the newly added plays which are just added.

**Additional context**
N/A

[2022-08-27 19:37] Deevyn9 commented on #524
The places the arrows are pointing to are the ones in question

![image](https://user-images.githubusercontent.com/79726362/187045497-7025a937-7907-48b8-9412-e49d77bc501e.jpeg)

[2022-08-28 10:26] dangvu0502 commented on #528
I would like to contribute to this issue, pls assign me

[2022-08-28 15:52] vasantisuthar commented on #527
@yung-coder go ahead

[2022-08-28 16:32] yung-coder commented on #527
Okay 🥷✔️

[2022-08-28 18:03] ammaaraslam opened #530 "🐛 [Bug report]: Canonical URL of website is set to the Vercel instance"
**Describe the bug**

The canonical URL of the website in `index.html` is set to a Vercel subdomain, thus the search results rank this url higher than the actual one.

**To Reproduce**
Steps to reproduce the behavior:
1. Search reactplay in a search engine _(google, duckduckgo, etc)_.
2. You'll see the vercel assigned subdomain as the result.

**Expected behavior**
Instead of the Vercel subdomain,

[2022-08-28 18:24] #498 closed

[2022-08-29 11:56] #530 closed

[2022-08-30 04:13] #528 closed

[2022-08-30 09:06] #479 closed

[2022-08-30 09:19] atapas commented on #524
Thanks @Deevyn9 for the clarity. Do you want to fix it?

[2022-08-30 09:22] atapas commented on #472
Hello @dangvu0502 Thanks for the initial research. Will you take up for fixing it?

[2022-08-30 09:24] atapas commented on #57
We do not need this issue anymore as the Umami is integrated.

[2022-08-30 09:24] #57 closed

[2022-08-30 09:25] dangvu0502 commented on #472
Hmm....
I'm still researching to find the solution but no progress.
I think it is better to leave for someone good at graphql

[2022-08-30 09:29] ammaaraslam commented on #500
Hi @atapas , sorry I wasn't able to complete as I was not feeling well these days. Now, I'm back on track and currently fixing an issue in the NPM package.

I'll finish and push a PR with this feature in the next 2 or 3 days.
Sorry for the delay.

[2022-08-30 16:53] mohanadkandil commented on #524
Hello,
can I fix it ?

[2022-08-30 16:57] atapas commented on #524
Go ahead

[2022-08-31 07:38] Sachin-chaurasiya commented on #505
Closing as it's completed.

[2022-08-31 07:38] #505 closed

[2022-09-01 03:22] #458 closed

[2022-09-02 03:37] nobel10122025 commented on #492
i would like to work on this :)

[2022-09-02 07:40] #464 closed

[2022-09-02 14:28] developer-diganta opened #536 "🐛 [Bug report]: Center text inside buttons"
**Describe the bug**
Align text inside buttons to center specially in case of smaller screens.
**To Reproduce**
Steps to reproduce the behavior:
1. Open the website in a smaller screen or via inspect mode(developer tools).

**Expected behavior**
Centered text inside button.

**Screenshots**
![image](https://user-images.githubusercontent.com/65999534/188171164-74cc72c5-e2cd-4a87-a02a-0cd18063b8ce.p

[2022-09-03 03:17] nirmalkc commented on #536
Hi @developer-diganta, the left-aligned text inside the button is by design. For smaller resolutions, the two buttons do wrap, so it takes the full width for a larger hit area. In this case, center alignment is not good with having count for GitHub.

Since this is not a bug, I am closing the issue.

[2022-09-03 03:17] #536 closed

[2022-09-03 18:02] koustov opened #538 "✨ [Feature request]: Hackathon: Event landing page design"
TODO

[2022-09-03 18:03] koustov opened #539 "✨ [Feature request]: Hackathon: Landing page banner update"
TODO

[2022-09-03 18:03] koustov opened #540 "✨ [Feature request]: Hackathon: Listing page design"
TODO

[2022-09-03 18:04] koustov opened #541 "✨ [Feature request]: Hackathon: Listing page implementation"
TODO

[2022-09-03 18:09] koustov opened #542 "✨ [Feature request]: Hackathon: Registration page implementation"
**Is your feature request related to a problem? Please describe.**
NA

**Describe the solution you'd like**
- Only authenticated user can open this page
- Should have the following fields
  - Idea title [textbox]
  - Idea description [richtext]
  - Add member option:  Only registered members can be added
  - Status
    - Incubating
    - Started
    - Finished
- The same page would be used for edi

[2022-09-03 18:14] koustov opened #543 "✨ [Feature request]: Hackathon: DB Schema update"
1. New namespace for the hackathon
2. A table for idea listing
3. A relationship for idea vs user
4. Like/Comment: OPTIONAL
5. A table for idea vs status

[2022-09-05 03:38] shrilakshmishastry commented on #541
Hey @koustov and @atapas  I would like to take this up

[2022-09-05 18:57] koustov opened #544 "✨ [Feature request]: Hackathon: Landing page implementation"
This feature will track the implementation cycle of #538

Additional Context:
- This page will be hosted in a subdomain of reactplay.io. e.g.: https://hustles.reactplay.io/
- User need not be authenticated to view this page
- Codebase will be held within a completely separate repo: https://github.com/reactplay/activities
- All events specific snippets will be maintained under event-specific direct

[2022-09-05 19:03] joshi-kaushal commented on #444
Hi @atapas, @koustov. Just pinging you here in case you missed this.

[2022-09-05 19:18] koustov opened #545 "✨ [Feature request]: Hackathon: Idea lisitng page design"
The objective of this feature is to come up with a reusable `idea` listing page for any sort of hackathon/hackfest program

The page should contain
- List of cards for each of the idea
  - A card will contain
    - Idea title
    - Idea description
    - Members/hackers image with name
    - Idea status

[2022-09-05 21:22] Hat52 commented on #545
I would like to work on this issue

[2022-09-06 07:24] #527 closed

[2022-09-08 05:38] dangvu0502 commented on #472
Please assign this issue to someone else as I will not be able to work on this

[2022-09-10 12:02] Sam10-debug commented on #434
I’d like to work on this part please

[2022-09-10 12:03] Sam10-debug commented on #424
Hoping I can do some work on this part 🙏

[2022-09-10 12:07] Sam10-debug commented on #424
Hi ReactPlay, I would love to work on the dark/light mode on react play with react
Can this issue be assigned to me?

[2022-09-14 18:42] mayukh551 opened #548 "🐛 [Cancel btn on Filter Modal does not work]:"
**Describe the bug**
When you want to cancel the filtered queries by clicking on the cancel button on the filter modal
the filters do not get removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Filter Icon beside the search input
3. Apply one or more filters.
4. After the filters are applied and filtered plays are displayed, if you want to remove the applied filters, clicking o

[2022-09-15 05:21] nirban256 opened #550 "[Add a Play]: Web3 Staking Dap"
Thank You!

## What's the Play about?
It is a Staking Dapp where people will get interest based on the amount they stake after a specific period of time.

## What ReactJS concept will be used to create this play?
React hooks like useState, useEffect

## Are you willing to take it up for implementation?
yes

[2022-09-15 05:30] atapas commented on #548
Hi @mayukh551

The objective of the cancel button was not to clear the applied filter. Rather to close the modal. I think it is better to rename it as Close.

However, we need a way to remove the applied filter. Can we add a link called `Clear All` at the top right of the modal? Click on it will clear the filter. Whats Say?

[2022-09-15 06:29] mayukh551 commented on #548
Understood!

Yes, a 'clear All' button is necessary.
I will try and add 'Clear All' button that removes all applied filters.

[2022-09-15 07:12] #548 closed

[2022-09-15 07:17] mayukh551 opened #551 "✨ [Feature request]: Add a separate "Clear All filters" Button"
Hi @atapas,

**The solution:**
If you want to remove all the applied filters, just click on "Clear All" button to get back the original list of plays (unfiltered).
Therefore, such button should be added to the filter modal.

Tell me if you are okay with position of "Clear All" button.

**Additional context**
Add any other context or screenshots about the feature request here.

<img width="323" alt

[2022-09-15 16:20] atapas opened #553 "✨ [Feature request]: Create Hackathon Banner"
Design and implement a banner for Hackathon

[2022-09-15 16:24] atapas commented on #553
@all-contributors please add @Ceesco for Design

[2022-09-16 07:06] #553 closed

[2022-09-17 13:19] arbazadam commented on #467
@atapas i am on a Mac. My OS MacOS Monterey 12.3.1 i am facing the same issue.

[2022-09-17 13:47] cent-kanayo commented on #467
On Sat, 17 Sep 2022 at 14:19, Arbaz Mohammed Adam ***@***.***>
wrote:

Ubuntu 22.04 Linux

[2022-09-17 13:50] arbazadam commented on #467
<img width="1605" alt="Screen Shot 2022-09-17 at 5 49 06 PM" src="https://user-images.githubusercontent.com/42610433/190860407-0f530f5e-9c5b-41be-9c57-036190a4682f.png">

[2022-09-17 14:33] makdoom opened #557 "[Add a Play]: Typing Speed Test"
Thank You!

## What's the Play about?

It's a typing test application in ReactJS where users can test their typing speed or accuracy.

## What ReactJS concept will be used to create this play?

React hooks (useState, useEffect etc) and some javascript concept

## Are you willing to take it up for implementation?

Yeah...!!

[2022-09-18 00:52] atapas commented on #467
Do you have all the environmental variables as it’s mentioned in readme?

[2022-09-18 07:57] #435 closed

[2022-09-18 08:19] arbazadam commented on #467
@atapas yes
<img width="1680" alt="Screen Shot 2022-09-18 at 12 18 31 PM" src="https://user-images.githubusercontent.com/42610433/190892712-ec5805d6-5893-4de2-bcc4-9c1309d55488.png">

[2022-09-18 08:20] atapas commented on #467
We are fixing the issue today.

[2022-09-18 08:20] arbazadam commented on #467
@atapas thank you. Sounds good !

[2022-09-18 13:39] anirudhp26 commented on #557
Hey, I would like to work on this feature !

[2022-09-18 13:41] makdoom commented on #557
Hey @anirudhp26 I am already working on it ..!

[2022-09-19 14:16] #524 closed

[2022-09-19 15:07] Angryman18 opened #559 "🐛 [Bug report]: Quiz Play is going api call loop"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-09-19 16:53] #559 closed

[2022-09-20 09:43] #467 closed

[2022-09-22 12:12] #525 closed

[2022-09-23 06:38] yung-coder opened #563 "✨ [Feature request]: Dev jokes javascript to typescript"
**Is your feature request related to a problem? Please describe.**

This feature is not related to any problem it's modification of Dev jokes from javascript to typescript

**Describe the solution you'd like**

Converting jsx to tsx 🛠️

[2022-09-23 11:11] Angryman18 opened #564 "🐛 [Bug report]: Content goes blank searching play name which are under development mode"
there a lot plays which comes from the graphql call clicking on browse button. we can search for any play which are available but searching a play name which is created but they are not yet published, our play section goes blank as shown on the screenshot.

![Screenshot from 2022-09-23 16-38-36](https://user-images.githubusercontent.com/63530626/191948050-41f683e6-6a10-4f3f-a81f-a4b498e873c9.png)

[2022-09-23 11:12] atapas commented on #564
Can you give the steps?

[2022-09-23 11:15] Angryman18 commented on #564
search `threads` keyword on the search bar. we have a `threads` named play created but not yet published.

[2022-09-23 11:16] atapas commented on #564
Got it, when we query the plays, we need to add devMode false.. to fix it so that ongoing plays won;t me fetched..

Seems you already started Hacking :) feel free to fix it.

[2022-09-23 13:25] yung-coder commented on #563
hey @atapas  can you assign this to me..

[2022-09-24 16:57] EmmaDawsonDev opened #566 "🐛 [Bug report]: Missing semantic html landmarks"
**Describe the bug**
The site is missing semantic landmarks such as ```<main>``` which influence how the site behaves for people using assistive tech.

**To Reproduce**

**Expected behavior**
The div surrounding the app body should be replaced with main tags.

**Screenshots**

**Desktop (please complete the following information):**
All browsers

**Smartphone (please complete the following informa

[2022-09-26 08:59] arbazadam opened #567 "[Add a Play]: useRef hook in react"
## What's the Play about?
A simple UI which will demonstrate the use of useRef hook alongside useState.

## What ReactJS concept will be used to create this play?
React hooks (useState, useRef etc) and some javascript concept

## Are you willing to take it up for implementation?
Yeah...!!

[2022-09-26 15:51] yash91989201 opened #568 "🐛 [Bug report]: Content overlap on sidebar due to same z-index value"
**Describe the bug**

The header component and  the section (with class name - "app-home-body") that has div (with class name - "app-home-body-content") has same z-index value (i.e 10) which causes the content within them to overlap during scroll when the sidebar is open.
The overlap of content makes it unable to view the links (and access them) that are present in the sidebar.

**To Reproduce**
S

[2022-09-26 16:49] atapas commented on #568
Great, thanks for pointing it out.

[2022-09-27 05:51] KashishLakhara04 opened #570 "Setup Commitlint to enhance the developer experience"
### Goal

- Setup Commitlint and Configure commitlint to use conventional config ``@commitlint/config-conventional``
### How commitlint helps?

- Commitlint helps your team adhere to a commit convention. By supporting npm-installed configurations it makes sharing of commit conventions easy.
### Resources

- [Commitlint setup](https://commitlint.js.org/#/guides-local-setup)
- [Conventional Commit M

[2022-09-27 15:55] KashishLakhara04 opened #571 "[DOCS] Some grammatical mistakes"
### Problem

- There are some grammatical mistakes in readme.md file.
### What needs to be done?
It will open ``cypress`` dashboard, through which you need to select E2E Testing. Once you ``done`` with ``selection`` you will get options to choose your preferred browser in which you want to run the test.! Once you ``done`` with selecting the browser you need to click on Start E2E Testing in <SELECT

[2022-09-27 15:57] KashishLakhara04 opened #572 "[DOCS] Some grammatical mistakes"
### Problem

- There are some grammatical mistakes in readme.md file.
### What needs to be done?
It will open ``cypress`` dashboard, through which you need to select E2E Testing. Once you ``done`` with ``selection`` you will get options to choose your preferred browser in which you want to run the test.! Once you ``done`` with selecting the browser you need to click on Start E2E Testing in <SELECT

[2022-09-27 16:00] #572 closed

[2022-09-28 15:10] jiyanpatil07 commented on #571
Can you please assign it to me?
Thank You

[2022-09-28 15:13] jiyanpatil07 commented on #428
Can I?

[2022-09-29 07:50] Hat52 commented on #564
I would like to work on this issue

[2022-09-29 07:52] Hat52 commented on #472
I would like to work on this issue

[2022-09-29 18:34] k3yss commented on #154
I am pretty new to React, but I think I can work on this issue, can someone assign it to me?

[2022-09-29 19:17] yung-coder opened #575 "🐛 [Bug report]:"
**Describe the bug**
Lack of responsiveness in main section of Reactplay site after the addition of hackathon page link it breaks in mobile devices.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to reactplay (mobile)
2. You can see  the buttons breaking and text overflow.

**Expected behavior**
It should be responsive in all device's

**Screenshots**
![Screenshot_2022-09-29-21-25-32-22_

[2022-09-30 03:40] #575 closed

[2022-09-30 18:28] Shivam-Katare opened #577 "[Add a Play]: 2048 Game"
## What's the Play about?
I want to build a clone of the 2048 game in React with animations and some other features.

## What ReactJS concept will be used to create this play?
JSX, useState, useEffect, hooks, and Props

## Are you willing to take it up for implementation?
Yes!!

[2022-10-01 07:36] max-programming opened #578 "Migrate from Create React App to Vite"
[Vite](https://vitejs.dev) is the best way to build a React app these days. Unlike CRA, it doesn't use Webpack which makes things way better. The developer experience will increase a llot if this app is migrated to use Vite instead of CRA

[2022-10-01 08:27] EmmaDawsonDev opened #580 "🐛 [Bug report]: Heading levels are not heirarchical"
**Describe the bug**
Heading levels are not being used heirarchically which is an accessibility problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
H1 should be followed by h2, then h3 and so on.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please comp

[2022-10-01 14:04] supminn commented on #24
Hi @shrilakshmishastry
Have you been able to get this feature implemented? If not, can I try to get it implemented?

[2022-10-01 16:02] shrilakshmishastry commented on #24
Please go ahead

[2022-10-01 16:17] AhnafAhamed opened #582 "[Add a Play]: Whiteboard"
Thank You!

## What's the Play about?
A digital drawing board

## What ReactJS concept will be used to create this play?
useState

## Are you willing to take it up for implementation?
Yes

[2022-10-01 18:45] ankitk26 opened #583 "[Add a Play]: Weather application"
Thank You!

## What's the Play about?
An application to get the weather conditions of a particular city or region.

## What ReactJS concept will be used to create this play?
useState, useEffect, conditional rendering, props

## Are you willing to take it up for implementation?
Yes

[2022-10-01 18:47] muzaffar640 opened #584 "🐛 [Bug report]: On Clicking "Save" the edit event modal not closing."
**Describe the bug**
If you try to edit an event and click on `Save` button the previous edit modal is showing. In my understanding it should not be like that. Just like `Deleting` an event, once you click on `Save` button the whole modal should be closed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[Calender App](https://reactplay.io/plays/vincentbcp/calendar)'
2. Click on any "E

[2022-10-01 19:47] muzaffar640 opened #585 "🐛 [Bug report]: No validation for input before calling search API"
**Describe the bug**
There is no validation for the `input` field before clicking the `Search` button

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[Github Profile Search'](https://reactplay.io/plays/nirban256/git-hub-profile-search)
2. Open the network tab
3. Click on `Search`, keeping the input field empty.

**Expected behavior**
A sort of caution should appear after a user clicks

[2022-10-02 00:20] Bennykillua commented on #580
Hi @EmmaDawsonDev  I will like to work on this. What particular file has this issue?

[2022-10-02 01:32] atapas commented on #580
Thank you @EmmaDawsonDev

I'm on vacation, will look into it from Wednesday, 5th Oct. Keep going, keep contributing 👍

[2022-10-02 04:59] senali-d opened #586 "[Add a Play]: Personal Profile Card"
Thank You!

## What's the Play about?
A Personal Profile Card have name, description, cover, profile photo and social links

## What ReactJS concept will be used to create this play?
React hooks (useState, useEffect etc)

## Are you willing to take it up for implementation?
Yeah.

[2022-10-02 07:26] Susmita-Dey commented on #373
@atapas Kindly add hacktoberfest label to it. making the PR soon.

[2022-10-02 07:27] Sachin-chaurasiya commented on #373
@Susmita-Dey , Done.

[2022-10-02 10:47] Architsharma7 commented on #439
Hey, I would like to work on this issue, can you assign it to me?

[2022-10-02 12:27] supminn opened #589 "🐛 [Bug report]: Error in play filter - incorrect API Query"
**Describe the bug**
I observed a bug in the API response -- If I select a combination of filters that includes `tags`, and if there are no plays available in this combination, we get `Please change your search or adjust filters to find plays.` as the error. Now, If I go ahead and change the filters, the new set is not reflected. i.e. The UI still shows `Please change your search or adjust filters

[2022-10-02 12:58] makdoom opened #590 "[Add a Play]: Emojipedia Play"
Thank You!

## What's the Play about?
It's a fun play where user can search for any emojis and can copy it.

## What ReactJS concept will be used to create this play?
I'll be using Reactjs hooks, API, load more feature etc

## Are you willing to take it up for implementation?
Yes, I would love to work on this

[2022-10-02 13:50] Sachin-chaurasiya commented on #24
@supminn , Assigned to you!

[2022-10-02 14:27] supminn commented on #192
Help me understand this right,
We plan to add a search bar within the filter
![image](https://user-images.githubusercontent.com/30731236/193459291-009069db-7fcd-42fe-a47b-95cf21a249a2.png)

And this search bar would have the typeahead feature. Along with that, we could get this list displayed in a sorted manner.

Have I understood this right?

[2022-10-02 15:38] Srisuma13 commented on #438
Hi @koustov, I would like to contribute to this issue if it is up for grabs so that you could assign it to me.

[2022-10-02 15:42] Susmita-Dey opened #591 "🐛 [Bug report]: npm install error"
**Describe the bug**
Legacy error and a lot of dependancy errors are being generated on running `npm install`

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repo locally
2. Go inside the folder
3. Open terminal in that folder and run `npm install`
4. See error

**Expected behavior**
No errors should have been reproduced and everything should have been installed succesfully within

[2022-10-02 15:46] supminn commented on #589
- Closing this bug since it is a duplicate of #472
- Updates would be added there.

[2022-10-02 15:46] #589 closed

[2022-10-02 15:55] supminn commented on #472
I have raised the issue on [json-graphql-parser](https://github.com/koustov/json-graphql-parser/issues/3)

[2022-10-02 19:30] arpitghura opened #593 "🐛 [Bug report]: Overflow content with NavBar while scrolling"
The Content of the page overflows the content of NavBar while scrolling.

![image](https://user-images.githubusercontent.com/41796013/193472583-91ce5642-a971-4307-ab12-80f667b2310b.png)
You can see the hero title, as well as the hero image, overlap the content of the navbar.

This is generally caused by the z-index difference between the two.

We can resolve this by setting enough z-index differen

[2022-10-02 19:31] arpitghura commented on #593
Assign this task to me. I am able to resolve this.

[2022-10-02 21:53] arpitghura commented on #593
I have fixed the issue by this Pull Request, Kindly verify it.

[2022-10-03 06:04] Angryman18 commented on #486
i got the issue. its happening for authentication thing. when we refresh the page auth status is false for 1-2 render then it becomes true instantly. i think this should not happen. authentication status should persist between first render to last render (either true or false) when refreshing the page?? facing same issue on hackathon project.

[2022-10-03 11:09] supminn commented on #24
While working on this issue, I observed that the support for adding `clause` to children `conditions` is not available on https://github.com/koustov/json-graphql-parser
I have raised an [issue](https://github.com/koustov/json-graphql-parser/issues/5) for this.

cc: @koustov

[2022-10-03 14:25] Deevyn9 opened #597 "[Add a Play]: An E-commerce store for a furniture company"
Thank You!

## What's the Play about?
An E-commerce store for a furniture company

## What ReactJS concept will be used to create this play?
React hooks and React router

## Are you willing to take it up for implementation?
Yes

[2022-10-03 14:43] Deevyn9 opened #598 "[Add a Play]: An app that shows details about al the countries in the world"
Thank You!

## What's the Play about?
An app that shows details about al the countries in the world

## What ReactJS concept will be used to create this play?
React Hooks and React Router

## Are you willing to take it up for implementation?
Yes I will

[2022-10-03 15:37] Hat52 commented on #472
So you are saying that you have already resolved the issue?

[2022-10-03 17:37] supminn commented on #472
Yes @Hat52 , the issue was on [json-graphql-parser](https://github.com/koustov/json-graphql-parser/issues/3). I have raised a PR with the fixes.

[2022-10-03 18:46] muzaffar640 opened #599 "✨ [Feature request]: Improve Pull Request Template"
**Is your feature request related to a problem? Please describe.**
My suggestion is to add the `Screenshot/Screenshare` section to the `New Pull Request` `template`. As of now, we have that Screenshot section in the `new issue` template but not in the `New Pull Request` template. When I created my PR, initially I did not add any screenshots to PR but I did add it to `new Issue` just because the `s

[2022-10-03 19:20] muzaffar640 opened #600 "🐛 [Bug report]: Empty Note error"
**Describe the bug**
The user has the ability to make blank notes. If the `Note Title` and `Note Content` are both blank, no user should be able to create an empty note.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [Keeper App](https://reactplay.io/plays/shivam-katare/keeper)
2. Click on the `+` button keeping both `Note Title`  and `Note Content` empty.

**Expected behavior**
U

[2022-10-03 22:20] amittri1025 commented on #583
Can I work on this issue

[2022-10-04 02:52] hiimnhan opened #601 "[Add a Play]: Text Avatar"
Thank You!

## What's the Play about?
Creating an avatar based on user name

## What ReactJS concept will be used to create this play?
React Hook to fetch random user from randomuser.me

## Are you willing to take it up for implementation?
Yes

[2022-10-04 04:55] shrilakshmishastry opened #602 "🐛 [Bug report]:"
**Describe the bug**
Hacker-play Text overlapping on navbar in mobile device

**To Reproduce**
Steps to reproduce the behavior:
1. Open reactplay.io in mobile or similar resolution mode
2. Click on  hamburger menu
3. you can notice the text overlapping

**Expected behavior**
Text shouldn't be overlapped on navbar

**Screenshots**
![image](https://user-images.githubusercontent.com/29778698/19373747

[2022-10-04 05:45] supminn commented on #192
I would like to take this up. Could you please assign it to me?

[2022-10-04 06:28] shrilakshmishastry opened #603 "✨ [Feature request]: Build dashboard for react-play"
**Is your feature request related to a problem? Please describe.**
Currently, there is no dashboard that shows the statistics of activity across react-play website vise as well individual play vise.

**Describe the solution you'd like**
As part of this new feature, we will be introducing a dashboard that gives statistics on activities

[2022-10-04 06:30] dharmiknotop commented on #602
Can i work on this issue?

[2022-10-04 06:33] shrilakshmishastry commented on #602
go ahead

[2022-10-04 06:41] dharmiknotop commented on #602
done!

[2022-10-04 10:29] thisisbillall commented on #600
Can I take this?

[2022-10-04 16:50] yung-coder opened #607 "✨ [Feature request]: Pokemon stats javascript to typescript"
**Is your feature request related to a problem? Please describe.**
This feature is not related to any problem its modification of pokemon-stats from js to ts.

**Describe the solution you'd like**
 jsx to tsx  🛠️

I would like to work on this.

[2022-10-04 16:59] ajaxbo360 commented on #603
can you please assign me to this issue

[2022-10-04 19:04] muzaffar640 opened #608 "[Add a Play]: Inspirational Quotes"
## What's the Play about?
This app contains motivational quotes. This app has over 250 carefully chosen quotes to motivate users. I did not produce quotations using any API. I have hand-picked these relevant quotes.

## What ReactJS concept will be used to create this play?
Hooks and some javascript concepts.

## Are you willing to take it up for implementation?
Yes

[2022-10-05 02:46] atapas commented on #600
Assigned to you

[2022-10-05 02:53] atapas commented on #602
Hi @shrilakshmishastry and @dharmiknotop

There was already a fix waiting for this issue as I see: https://github.com/reactplay/react-play/pull/569

[2022-10-05 06:51] supminn commented on #603
- I believe #218 is related to the same.

[2022-10-05 06:56] atapas commented on #603
Nah.. they are different..

I think, this issue is going to be like a creator's profile where the other one will show a view count per play in the play list page. @shrilakshmishastry What you think?

[2022-10-05 07:06] shrilakshmishastry commented on #218
@atapas me and @vasantisuthar would love to take it up, as it's a part of what we are building

[2022-10-05 07:07] shrilakshmishastry commented on #603
Seems like it's a part of what we are building now. We have currently planned to build a dashboard at individual play level, react-play level view statistics and GitHub activities

Wireframe of same is below
![playfigures](https://user-images.githubusercontent.com/29778698/194001017-775274f4-3f13-4980-b323-63a0bb99134e.png)

[2022-10-05 07:21] #557 closed

[2022-10-05 07:45] atapas commented on #603
Ok @shrilakshmishastry I misunderstood then!

One question... How would user get into this dashboard? What will be the user journey?

[2022-10-05 07:46] atapas commented on #218
Sure, take it up

[2022-10-05 09:29] #563 closed

[2022-10-05 10:18] #551 closed

[2022-10-05 11:07] Excellence-arch commented on #598
Please i'm unable to create a new play. It's bringing a blank page

[2022-10-05 11:20] Excellence-arch opened #612 "[Add a Play]: CBT App"
Thank You!

## What's the Play about?
A Computer Based Test Exam Where a user can set questions and answer the set questions. The test is scored on submission

## What ReactJS concept will be used to create this play?
Hooks and some javascript concepts

## Are you willing to take it up for implementation?
Yes

[2022-10-05 11:54] atapas commented on #612
@Excellence-arch assigned.

[2022-10-05 14:42] #585 closed

[2022-10-05 19:33] obinneji opened #615 "[Add a Play]: Image App"
Thank You!

## What's the Play about?
An app that allows users to save images in a personal gallery.

## What ReactJS concept will be used to create this play?
react-router, redux, react-dom, react.

## Are you willing to take it up for implementation?
yes

[2022-10-06 01:02] harshith-venkatesh commented on #578
Could I take this up?

[2022-10-06 02:00] atapas commented on #578
Sure

[2022-10-06 06:30] pavankumarraju13 opened #617 "Better to add contribute file in readme"

[2022-10-06 06:32] atapas commented on #617
@pavankumarraju13 I didn't understand this issue description. Could you please be more elaborative?

[2022-10-06 06:34] pavankumarraju13 commented on #617
Adding a contributing.md file to the readme file would be more clear and better

[2022-10-06 06:36] Sachin-chaurasiya commented on #617
@pavankumarraju13 , We already have `contributing.md` linked in the readme.

![image](https://user-images.githubusercontent.com/59080942/194231365-cf6a0234-59c5-4a2d-a7db-2022ba49c337.png)

[2022-10-06 06:37] #617 closed

[2022-10-06 07:15] crater90 commented on #463
Hey @koustov, I would like to work on this issue.... can you assign me ?

[2022-10-06 07:36] Sachin-chaurasiya commented on #463
@crater90 , Welcome to the community.
Assigned to you, happy coding 🚀 .

[2022-10-06 09:57] aayush-1412 opened #618 "[Add a Play]: Typing Master"
Thank You!

## What's the Play about?
This play creates a web app for checking the typing speed of user by providing their WPM data.

## What ReactJS concept will be used to create this play?
React Hooks, React-DOM

## Are you willing to take it up for implementation?
Yes

[2022-10-06 10:07] Sachin-chaurasiya commented on #618
Hello @aayush-1412 , Welcome to the community.
We already have play for typing test https://github.com/reactplay/react-play/pull/565.

Live Link : https://reactplay.io/plays/makdoom/typing-speed-test

[2022-10-06 10:11] aayush-1412 commented on #618
Oh my bad, didn't saw it. I will be trying my hands on some other ideas then, thanks.

[2022-10-06 10:28] aayush-1412 opened #619 "[Add a Play]: Weather App"
Thank You!

## What's the Play about?
This web app displays the current weather information such as temperature, humidity along with weather forecast feature upon entering the city.

## What ReactJS concept will be used to create this play?
React Hooks , React DOM

## Are you willing to take it up for implementation?
Yes

[2022-10-06 13:03] bhaveek424 opened #622 "[Add a Play]: Piano Me"
Thank You!

## What's the Play about?
Piano Me: This application is a virtual piano keyboard with a list of instruments playable with it.

## What ReactJS concept will be used to create this play?
Besides React, we will use
- **Audio Context API** for generating notes sound, i.e, **`Soundfont`** a third-party library.
- **CSS Modules**: They give us all perks of CSS but also isolation and close lo